* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none; }

body {
  background: #212121 !important;
  scroll-behavior: smooth;
  letter-spacing: 0.03em;
  line-height: 1.4;
  overflow: hidden !important; }
  @media all and (max-width: 1030px) {
    body {
      overflow: visible !important; } }
  body:webkit-scroll bar {
    display: none; }

ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  margin: 0;
  outline: none;
  padding: 0; }

.wrapper {
  padding: 0px 150px; }

/************************************************ Common CSS **************************************************/
.font130 {
  font-size: 130px; }

.font115 {
  font-size: 115px; }

.font64 {
  font-size: 64px; }

.font55 {
  font-size: 55px; }

.font50 {
  font-size: 50px; }

.font36 {
  font-size: 36px; }

.font30 {
  font-size: 30px; }

.font24 {
  font-size: 24px; }

.font22 {
  font-size: 22px; }

.font20 {
  font-size: 20px; }

.font18 {
  font-size: 18px; }

.font16 {
  font-size: 16px; }

.fontW300 {
  font-weight: 300; }

.fontW400 {
  font-weight: 400; }

.fontW500 {
  font-weight: 500; }

.fontW600 {
  font-weight: 600; }

.fontW700 {
  font-weight: 700; }

.fontPoppins {
  font-family: 'Poppins', sans-serif; }

.fontRoboto {
  font-family: 'Roboto', sans-serif; }

.colorW {
  color: #FFFFFF; }

.coloroffW {
  color: #F2F2F2; }

.colorlightGray {
  color: #C2C2C2; }

.colordarkGray {
  color: #6A6A6A; }

.colorBlack {
  color: #212121; }

.textCenter {
  text-align: center; }

img {
  max-width: 100%; }

.slick-track {
  display: flex !important; }

.slick-slide {
  height: inherit !important; }

/****************************************************Media Queries***********************************************************/
@media all and (max-width: 1800px) {
  .wrapper {
    padding: 0px 130px; }

  .font130 {
    font-size: 110px; }

  .font115 {
    font-size: 100px; }

  .font64 {
    font-size: 60px; }

  .font55 {
    font-size: 52px; }

  .font50 {
    font-size: 42px; }

  .font36 {
    font-size: 34px; }

  .font30 {
    font-size: 28px; }

  .font24 {
    font-size: 22px; }

  .font20 {
    font-size: 18px; }

  .font18 {
    font-size: 16px; }

  .font16 {
    font-size: 14px; } }
@media all and (max-width: 1600px) {
  .wrapper {
    padding: 0px 70px; }

  .font130 {
    font-size: 96px; }

  .font115 {
    font-size: 80px; }

  .font64 {
    font-size: 50px; }

  .font55 {
    font-size: 46px; }

  .font50 {
    font-size: 38px; }

  .font36 {
    font-size: 32px; }

  .font30 {
    font-size: 21px; }

  .font24 {
    font-size: 20px; }

  .font22 {
    font-size: 18px; }

  .font20 {
    font-size: 16px; }

  .font18 {
    font-size: 14px; }

  .font16 {
    font-size: 12px; } }
@media all and (max-width: 1400px) {
  .wrapper {
    padding: 0px 70px; }

  .font130 {
    font-size: 92px; }

  .font115 {
    font-size: 70px; }

  .font64 {
    font-size: 45px; }

  .font55 {
    font-size: 40px; }

  .font50 {
    font-size: 34px; }

  .font36 {
    font-size: 26px; }

  .font30 {
    font-size: 21px; }

  .font24 {
    font-size: 16px; }

  .font22 {
    font-size: 16px; }

  .font20 {
    font-size: 14px; }

  .font18 {
    font-size: 12px; }

  .font16 {
    font-size: 11px; } }
@media all and (max-width: 1280px) {
  .font36 {
    font-size: 24px; } }
@media all and (max-width: 1024px) {
  .wrapper {
    padding: 0px 40px; }

  .font130 {
    font-size: 70px; }

  .font115 {
    font-size: 50px; }

  .font64 {
    font-size: 36px; }

  .font50 {
    font-size: 30px; } }
@media all and (max-width: 900px) {
  .wrapper {
    padding: 0px 40px; }

  .font130 {
    font-size: 55px; }

  .font115 {
    font-size: 45px; }

  .font64 {
    font-size: 32px; }

  .font55 {
    font-size: 30px; }

  .font50 {
    font-size: 24px; }

  .font36 {
    font-size: 18px; }

  .font30 {
    font-size: 20px; }

  .font24 {
    font-size: 16px; }

  .font22 {
    font-size: 16px; }

  .font20 {
    font-size: 14px; }

  .font18 {
    font-size: 12px; }

  .font16 {
    font-size: 10px; } }
@media all and (max-width: 768px) {
  .wrapper {
    padding: 0px 30px; } }
@media all and (max-width: 575px) {
  .font130 {
    font-size: 40px; }

  .font115 {
    font-size: 35px; }

  .font64 {
    font-size: 30px; }

  .font55 {
    font-size: 22px; }

  .font50 {
    font-size: 20px; }

  .font36 {
    font-size: 18px; }

  .font30 {
    font-size: 16px; }

  .font24 {
    font-size: 14px; }

  .font22 {
    font-size: 14px; }

  .font20 {
    font-size: 12px; }

  .font18 {
    font-size: 10px; }

  .font16 {
    font-size: 11px; } }
.slick-track {
  display: flex !important; }

.slick-slide {
  height: inherit !important; }

.founder {
  margin: 150px 0px; }
  @media all and (max-width: 1400px) {
    .founder {
      margin: 100px 0px; } }
  @media all and (max-width: 920px) {
    .founder {
      margin: 100px 0px 80px; } }
  @media all and (max-width: 920px) {
    .founder .founderTitle {
      display: flex;
      align-items: flex-start;
      padding-bottom: 20px;
      border-bottom: 0.75px solid rgba(33, 33, 33, 0.6); } }
  .founder .founderTitle .backArrow {
    display: none; }
    @media all and (max-width: 920px) {
      .founder .founderTitle .backArrow {
        display: block;
        margin-top: 12.5px; } }
    @media all and (max-width: 575px) {
      .founder .founderTitle .backArrow {
        display: block;
        margin-top: 12px; } }
    .founder .founderTitle .backArrow img {
      margin-right: 30px; }
      @media all and (max-width: 920px) {
        .founder .founderTitle .backArrow img {
          margin-right: 20px;
          width: 23px;
          height: 12px; } }
  .founder .founderTitle h1 {
    margin-bottom: 60px; }
    @media all and (max-width: 1400px) {
      .founder .founderTitle h1 {
        margin-bottom: 40px; } }
    @media all and (max-width: 920px) {
      .founder .founderTitle h1 {
        margin-bottom: 0px; } }
  .founder .founderBox {
    display: flex; }
    @media all and (max-width: 920px) {
      .founder .founderBox {
        display: block; } }
    .founder .founderBox .profile {
      width: 40%; }
      @media all and (max-width: 1400px) {
        .founder .founderBox .profile {
          width: 35%; } }
      @media all and (max-width: 920px) {
        .founder .founderBox .profile {
          width: 100%;
          margin: 20px 0px 30px; } }
      .founder .founderBox .profile img {
        width: 100%; }
    .founder .founderBox .founderDesc {
      width: 60%;
      margin-left: 80px; }
      @media all and (max-width: 1400px) {
        .founder .founderBox .founderDesc {
          width: 55%;
          margin-left: 55px; } }
      @media all and (max-width: 920px) {
        .founder .founderBox .founderDesc {
          width: 100%;
          margin-left: 0px; } }
      .founder .founderBox .founderDesc .founderDescName {
        display: flex;
        align-items: baseline; }
        @media all and (max-width: 1400px) {
          .founder .founderBox .founderDesc .founderDescName {
            align-items: baseline; } }
        @media all and (max-width: 920px) {
          .founder .founderBox .founderDesc .founderDescName {
            align-items: end; } }
        @media all and (max-width: 920px) {
          .founder .founderBox .founderDesc .founderDescName h3 {
            font-size: 24px; } }
        .founder .founderBox .founderDesc .founderDescName a {
          margin-left: 45px; }
          @media all and (max-width: 1400px) {
            .founder .founderBox .founderDesc .founderDescName a {
              margin-left: 32px; } }
          @media all and (max-width: 920px) {
            .founder .founderBox .founderDesc .founderDescName a {
              margin-left: 15px; } }
          .founder .founderBox .founderDesc .founderDescName a img {
            margin-top: 15px; }
            @media all and (max-width: 1400px) {
              .founder .founderBox .founderDesc .founderDescName a img {
                width: 25px; } }
            @media all and (max-width: 920px) {
              .founder .founderBox .founderDesc .founderDescName a img {
                width: 24px; } }
      @media all and (max-width: 1400px) {
        .founder .founderBox .founderDesc p {
          font-size: 16px; } }
      @media all and (max-width: 920px) {
        .founder .founderBox .founderDesc p {
          font-size: 14px; } }
      .founder .founderBox .founderDesc .details {
        display: flex;
        padding: 25px 0px 40px; }
        @media all and (max-width: 1400px) {
          .founder .founderBox .founderDesc .details {
            padding: 20px 0px 30px; } }
        @media all and (max-width: 1080px) {
          .founder .founderBox .founderDesc .details {
            padding: 5px 0px 25px; } }
        @media all and (max-width: 920px) {
          .founder .founderBox .founderDesc .details {
            flex-wrap: wrap;
            padding: 20px 0px 30px; } }
        .founder .founderBox .founderDesc .details p {
          display: flex;
          align-items: center;
          width: 40%; }
          .founder .founderBox .founderDesc .details p img {
            margin-right: 15px; }
        .founder .founderBox .founderDesc .details a {
          text-decoration: none; }
          .founder .founderBox .founderDesc .details a img {
            position: relative;
            top: 12px;
            margin-right: 15px; }
            @media all and (max-width: 1400px) {
              .founder .founderBox .founderDesc .details a img {
                margin-right: 10px; } }
          .founder .founderBox .founderDesc .details a:first-child {
            width: 40%; }
            @media all and (max-width: 1400px) {
              .founder .founderBox .founderDesc .details a:first-child {
                width: 35%; } }
            @media all and (max-width: 920px) {
              .founder .founderBox .founderDesc .details a:first-child {
                width: 100%;
                margin-bottom: 10px; } }
      .founder .founderBox .founderDesc .founderDescInfo {
        width: 75%;
        line-height: 160%; }
        @media all and (max-width: 1515px) {
          .founder .founderBox .founderDesc .founderDescInfo {
            width: 80%; } }
        @media all and (max-width: 1080px) {
          .founder .founderBox .founderDesc .founderDescInfo {
            width: 100%; } }
        @media all and (max-width: 920px) {
          .founder .founderBox .founderDesc .founderDescInfo {
            width: 100%;
            display: none; } }
      .founder .founderBox .founderDesc .founderDescInfoMobile {
        width: 100%;
        display: none; }
        @media all and (max-width: 920px) {
          .founder .founderBox .founderDesc .founderDescInfoMobile {
            display: block;
            margin-bottom: 10px;
            line-height: 150%;
            font-size: 16px; } }
        .founder .founderBox .founderDesc .founderDescInfoMobile #more {
          display: none; }
      .founder .founderBox .founderDesc #readMore {
        display: none; }
        @media all and (max-width: 920px) {
          .founder .founderBox .founderDesc #readMore {
            font-size: 16px;
            display: inline-block;
            transition: 0.6s all; } }
        .founder .founderBox .founderDesc #readMore img {
          width: 18px;
          height: 10px;
          transition: 0.6s all; }

body {
  overflow: visible !important; }

.legalHeader {
  position: sticky !important; }
  @media all and (max-width: 920px) {
    .legalHeader {
      position: fixed !important; } }

.legalInnerPageProgress {
  z-index: 11; }
  @media screen and (max-width: 1024px) and (min-height: 1366px) {
    .legalInnerPageProgress {
      display: none; } }
  .legalInnerPageProgress .progress-bar:after {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130.9%;
    letter-spacing: 0.05em;
    color: #000; }

.contact {
  margin: 150px 0px; }
  @media all and (max-width: 1400px) {
    .contact {
      margin: 100px 0px; } }
  @media all and (max-width: 1080px) {
    .contact {
      margin: 75px 0px; } }
  @media all and (max-width: 920px) {
    .contact {
      margin: 100px 0px 80px; } }
  .contact .contactBox {
    display: flex; }
    @media all and (max-width: 920px) {
      .contact .contactBox {
        display: block; } }
  .contact .contactDesc {
    width: 50%; }
    @media all and (max-width: 1400px) {
      .contact .contactDesc {
        width: 45%; } }
    @media all and (max-width: 1280px) {
      .contact .contactDesc {
        width: 50%; } }
    @media all and (max-width: 920px) {
      .contact .contactDesc .contactDescTitle {
        display: flex;
        align-items: flex-start;
        border-bottom: 0.75px solid rgba(33, 33, 33, 0.6); } }
    .contact .contactDesc .contactDescTitle .backArrow {
      display: none; }
      @media all and (max-width: 920px) {
        .contact .contactDesc .contactDescTitle .backArrow {
          display: block;
          margin-top: 12.5px; } }
      @media all and (max-width: 575px) {
        .contact .contactDesc .contactDescTitle .backArrow {
          display: block;
          margin-top: 12px; } }
      .contact .contactDesc .contactDescTitle .backArrow img {
        margin-right: 30px; }
        @media all and (max-width: 920px) {
          .contact .contactDesc .contactDescTitle .backArrow img {
            margin-right: 20px;
            width: 23px;
            height: 12px; } }
    .contact .contactDesc .contactDescTitle h1 {
      margin-bottom: 30px;
      line-height: 100%; }
      @media all and (max-width: 1400px) {
        .contact .contactDesc .contactDescTitle h1 {
          margin-bottom: 20px; } }
      @media all and (max-width: 920px) {
        .contact .contactDesc .contactDescTitle h1 {
          line-height: 125%; } }
    @media all and (max-width: 920px) {
      .contact .contactDesc {
        width: 100%; } }
    .contact .contactDesc h2 {
      margin-bottom: 30px; }
    .contact .contactDesc p {
      width: 75%;
      line-height: 160%; }
      @media all and (max-width: 920px) {
        .contact .contactDesc p {
          width: 100%;
          margin-top: 20px;
          margin-bottom: 45px;
          line-height: 150%; } }
  .contact .contactForm {
    width: 50%;
    margin-left: 180px;
    padding-top: 20px; }
    @media all and (max-width: 1400px) {
      .contact .contactForm {
        width: 55%;
        margin-left: 120px;
        padding-top: 10px; } }
    @media all and (max-width: 1280px) {
      .contact .contactForm {
        width: 50%;
        margin-left: 80px;
        margin-right: 10px; } }
    @media all and (max-width: 920px) {
      .contact .contactForm {
        width: 100%;
        margin-left: 0px; } }
    .contact .contactForm form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .contact .contactForm form input[type=text], .contact .contactForm form [type=number], .contact .contactForm form [type=mail], .contact .contactForm form textarea {
        width: 100%;
        padding: 14px 15px;
        border: 2px solid transparent;
        border-radius: 5px;
        box-sizing: border-box;
        margin-top: 15px;
        margin-bottom: 50px;
        resize: vertical;
        background: rgba(215, 215, 215, 0.3);
        font-size: 20px; }
        @media all and (max-width: 1400px) {
          .contact .contactForm form input[type=text], .contact .contactForm form [type=number], .contact .contactForm form [type=mail], .contact .contactForm form textarea {
            font-size: 14px;
            margin-top: 10px;
            margin-bottom: 35px;
            padding: 10px;
            border-radius: 3.5px; } }
        @media all and (max-width: 920px) {
          .contact .contactForm form input[type=text], .contact .contactForm form [type=number], .contact .contactForm form [type=mail], .contact .contactForm form textarea {
            font-size: 16px;
            padding: 12px 15px; } }
        .contact .contactForm form input[type=text]:focus, .contact .contactForm form [type=number]:focus, .contact .contactForm form [type=mail]:focus, .contact .contactForm form textarea:focus {
          background: rgba(243, 243, 243, 0.7);
          border: 2px solid #212121; }
          @media all and (max-width: 1400px) {
            .contact .contactForm form input[type=text]:focus, .contact .contactForm form [type=number]:focus, .contact .contactForm form [type=mail]:focus, .contact .contactForm form textarea:focus {
              border: 1.4px solid #212121; } }
          @media all and (max-width: 920px) {
            .contact .contactForm form input[type=text]:focus, .contact .contactForm form [type=number]:focus, .contact .contactForm form [type=mail]:focus, .contact .contactForm form textarea:focus {
              border: 1px solid #212121; } }
      .contact .contactForm form textarea {
        margin-bottom: 20px;
        height: 166px; }
        @media all and (max-width: 1400px) {
          .contact .contactForm form textarea {
            height: 118px;
            margin-bottom: 14px;
            padding: 15px 10px; } }
      .contact .contactForm form .submit input[type=submit] {
        background: #212121;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 60px;
        padding: 10px 25px;
        font-size: 18px;
        cursor: pointer;
        line-height: 104.75%; }
        @media all and (max-width: 1400px) {
          .contact .contactForm form .submit input[type=submit] {
            font-size: 12px;
            border: 0.7px solid rgba(33, 33, 33, 0.2);
            border-radius: 42px; } }
        @media all and (max-width: 920px) {
          .contact .contactForm form .submit input[type=submit] {
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 60px;
            padding: 11px 33px;
            font-size: 14px;
            line-height: 130%; } }
        .contact .contactForm form .submit input[type=submit]:hover {
          font-weight: 700; }
      .contact .contactForm form .submit p {
        margin-bottom: 40px;
        font-size: 14px;
        line-height: 160%; }
        @media all and (max-width: 1400px) {
          .contact .contactForm form .submit p {
            margin-bottom: 28px;
            font-size: 10px; } }
        @media all and (max-width: 920px) {
          .contact .contactForm form .submit p {
            line-height: 160%;
            color: #6a6a6a; } }
      .contact .contactForm form .submit a {
        text-decoration: none; }
    .contact .contactForm .formDivider {
      width: 45%; }
      @media all and (max-width: 1400px) {
        .contact .contactForm .formDivider {
          width: 47%; } }
      .contact .contactForm .formDivider label {
        font-size: 16px; }
        @media all and (max-width: 1400px) {
          .contact .contactForm .formDivider label {
            font-size: 12px; } }
        @media all and (max-width: 920px) {
          .contact .contactForm .formDivider label {
            font-size: 14px; } }
    .contact .contactForm .formDividerOne {
      width: 45%; }
      @media all and (max-width: 1400px) {
        .contact .contactForm .formDividerOne {
          width: 47%; } }
      @media all and (max-width: 920px) {
        .contact .contactForm .formDividerOne {
          width: 100%; } }
      .contact .contactForm .formDividerOne label {
        font-size: 16px; }
        @media all and (max-width: 1400px) {
          .contact .contactForm .formDividerOne label {
            font-size: 12px; } }
        @media all and (max-width: 920px) {
          .contact .contactForm .formDividerOne label {
            font-size: 14px; } }
    .contact .contactForm .aboutQuery {
      width: 100%; }
      .contact .contactForm .aboutQuery label {
        font-size: 16px; }
        @media all and (max-width: 1400px) {
          .contact .contactForm .aboutQuery label {
            font-size: 12px; } }
        @media all and (max-width: 920px) {
          .contact .contactForm .aboutQuery label {
            font-size: 14px; } }

.contactDetails {
  background: rgba(194, 194, 194, 0.2);
  padding: 50px 0px;
  margin: 0; }
  @media all and (max-width: 1400px) {
    .contactDetails {
      padding: 35px 0px; } }
  .contactDetails .contactDetailsBox {
    display: flex;
    margin-bottom: 60px; }
    @media all and (max-width: 1400px) {
      .contactDetails .contactDetailsBox {
        margin-bottom: 15px; } }
    @media all and (max-width: 920px) {
      .contactDetails .contactDetailsBox {
        display: block;
        margin-bottom: 30px; } }
    .contactDetails .contactDetailsBox .address {
      width: 75%;
      position: relative; }
      @media all and (max-width: 1400px) {
        .contactDetails .contactDetailsBox .address {
          width: 70%; } }
      @media all and (max-width: 1080px) {
        .contactDetails .contactDetailsBox .address {
          width: 75%; } }
      @media all and (max-width: 920px) {
        .contactDetails .contactDetailsBox .address {
          width: 100%; } }
      .contactDetails .contactDetailsBox .address:after {
        content: "";
        position: absolute;
        height: 190px;
        right: 60px;
        opacity: 0.1;
        border: 1px solid #212121;
        top: 0; }
        @media all and (max-width: 1400px) {
          .contactDetails .contactDetailsBox .address:after {
            height: 136px; } }
        @media all and (max-width: 1080px) {
          .contactDetails .contactDetailsBox .address:after {
            height: 160px;
            right: 20px; } }
        @media all and (max-width: 920px) {
          .contactDetails .contactDetailsBox .address:after {
            height: 100%;
            border: 0;
            border-bottom: 1px solid #212121;
            left: 0px;
            right: 0px;
            top: 30px;
            width: 100%; } }
      .contactDetails .contactDetailsBox .address .addTitle {
        display: flex;
        margin-bottom: 5px;
        align-items: center; }
        @media all and (max-width: 1400px) {
          .contactDetails .contactDetailsBox .address .addTitle {
            margin-bottom: 10px; } }
        @media all and (max-width: 920px) {
          .contactDetails .contactDetailsBox .address .addTitle {
            display: block; } }
        .contactDetails .contactDetailsBox .address .addTitle img {
          margin-right: 25px; }
          @media all and (max-width: 1400px) {
            .contactDetails .contactDetailsBox .address .addTitle img {
              width: 33px;
              margin-right: 18px; } }
        .contactDetails .contactDetailsBox .address .addTitle p {
          line-height: 147%; }
          @media all and (max-width: 920px) {
            .contactDetails .contactDetailsBox .address .addTitle p {
              margin: 25px 0px 20px; } }
      .contactDetails .contactDetailsBox .address .addressBox {
        display: flex;
        margin-left: 70px; }
        @media all and (max-width: 1400px) {
          .contactDetails .contactDetailsBox .address .addressBox {
            margin-left: 50px; } }
        @media all and (max-width: 920px) {
          .contactDetails .contactDetailsBox .address .addressBox {
            display: block;
            margin-left: 0px; } }
        .contactDetails .contactDetailsBox .address .addressBox .addressBoxDetails {
          width: 30.7%; }
          @media all and (max-width: 1080px) {
            .contactDetails .contactDetailsBox .address .addressBox .addressBoxDetails {
              width: 32.7%; } }
          @media all and (max-width: 920px) {
            .contactDetails .contactDetailsBox .address .addressBox .addressBoxDetails {
              width: 100%;
              margin-bottom: 20px; } }
          .contactDetails .contactDetailsBox .address .addressBox .addressBoxDetails h4 {
            margin-bottom: 5px;
            line-height: 147%; }
            @media all and (max-width: 1400px) {
              .contactDetails .contactDetailsBox .address .addressBox .addressBoxDetails h4 {
                margin-bottom: 3px; } }
            @media all and (max-width: 920px) {
              .contactDetails .contactDetailsBox .address .addressBox .addressBoxDetails h4 {
                margin-bottom: 7px;
                font-size: 16px; } }
          .contactDetails .contactDetailsBox .address .addressBox .addressBoxDetails p {
            line-height: 160%; }
            @media all and (max-width: 920px) {
              .contactDetails .contactDetailsBox .address .addressBox .addressBoxDetails p {
                font-size: 16px; } }
    .contactDetails .contactDetailsBox .contactRight {
      width: 25%; }
      @media all and (max-width: 1400px) {
        .contactDetails .contactDetailsBox .contactRight {
          width: 30%; } }
      @media all and (max-width: 1080px) {
        .contactDetails .contactDetailsBox .contactRight {
          width: 25%; } }
      @media all and (max-width: 920px) {
        .contactDetails .contactDetailsBox .contactRight {
          width: 100%;
          margin: 60px 0px 30px; } }
      .contactDetails .contactDetailsBox .contactRight .addTitle {
        display: flex;
        margin-bottom: 5px;
        align-items: center; }
        @media all and (max-width: 920px) {
          .contactDetails .contactDetailsBox .contactRight .addTitle {
            display: block; } }
        .contactDetails .contactDetailsBox .contactRight .addTitle img {
          margin-right: 25px; }
          @media all and (max-width: 1400px) {
            .contactDetails .contactDetailsBox .contactRight .addTitle img {
              width: 33px;
              margin-right: 18px; } }
        .contactDetails .contactDetailsBox .contactRight .addTitle p {
          line-height: 147%; }
          @media all and (max-width: 920px) {
            .contactDetails .contactDetailsBox .contactRight .addTitle p {
              margin: 25px 0px 20px; } }
      .contactDetails .contactDetailsBox .contactRight .contactRightDetails {
        margin-left: 70px; }
        @media all and (max-width: 1400px) {
          .contactDetails .contactDetailsBox .contactRight .contactRightDetails {
            margin-left: 50px; } }
        @media all and (max-width: 920px) {
          .contactDetails .contactDetailsBox .contactRight .contactRightDetails {
            margin-left: 0px; } }
        .contactDetails .contactDetailsBox .contactRight .contactRightDetails p {
          margin-bottom: 5px;
          margin-bottom: 5px;
          line-height: 160%; }
        .contactDetails .contactDetailsBox .contactRight .contactRightDetails a {
          text-decoration: none; }
          @media all and (max-width: 1400px) {
            .contactDetails .contactDetailsBox .contactRight .contactRightDetails a {
              font-size: 16px; } }
  .contactDetails .info {
    display: flex;
    align-items: flex-start; }
    @media all and (max-width: 920px) {
      .contactDetails .info {
        align-items: self-start;
        font-size: 12px;
        line-height: 160%; } }
    .contactDetails .info img {
      margin-right: 10px; }
      @media all and (max-width: 1400px) {
        .contactDetails .info img {
          width: 14px; } }
      @media all and (max-width: 920px) {
        .contactDetails .info img {
          width: 24px; } }

.legalAdvisory {
  margin: 150px 0px; }
  @media all and (max-width: 1400px) {
    .legalAdvisory {
      margin: 100px 0px; } }
  @media all and (max-width: 920px) {
    .legalAdvisory {
      margin: 100px 0px 80px; } }
  @media all and (max-width: 920px) {
    .legalAdvisory .sectionTitle {
      display: flex;
      align-items: flex-start;
      padding-bottom: 20px;
      margin-bottom: 15px;
      border-bottom: 0.75px solid rgba(33, 33, 33, 0.6); } }
  .legalAdvisory .sectionTitle .backArrow {
    display: none; }
    @media all and (max-width: 920px) {
      .legalAdvisory .sectionTitle .backArrow {
        display: block;
        margin-top: 12.5px; } }
    @media all and (max-width: 575px) {
      .legalAdvisory .sectionTitle .backArrow {
        display: block;
        margin-top: 12px; } }
    .legalAdvisory .sectionTitle .backArrow img {
      margin-right: 30px; }
      @media all and (max-width: 920px) {
        .legalAdvisory .sectionTitle .backArrow img {
          margin-right: 20px;
          width: 23px;
          height: 12px; } }
  .legalAdvisory .sectionTitle h1 {
    margin-bottom: 30px; }
    @media all and (max-width: 1400px) {
      .legalAdvisory .sectionTitle h1 {
        margin-bottom: 20px; } }
    @media all and (max-width: 920px) {
      .legalAdvisory .sectionTitle h1 {
        margin-bottom: 0px; } }
  @media all and (max-width: 920px) {
    .legalAdvisory p {
      font-size: 16px; } }
  .legalAdvisory .legalAdvisorySection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px; }
    @media all and (max-width: 1400px) {
      .legalAdvisory .legalAdvisorySection {
        margin-top: 5px; } }
    @media all and (max-width: 920px) {
      .legalAdvisory .legalAdvisorySection {
        margin-top: 10px; } }
    .legalAdvisory .legalAdvisorySection .legalAdvisorySectionBox {
      width: 31%;
      margin-top: 50px; }
      @media all and (max-width: 1400px) {
        .legalAdvisory .legalAdvisorySection .legalAdvisorySectionBox {
          width: 31.5%;
          margin-top: 35px; } }
      @media all and (max-width: 1080px) {
        .legalAdvisory .legalAdvisorySection .legalAdvisorySectionBox {
          width: 31.5%;
          margin-top: 30px; } }
      @media all and (max-width: 920px) {
        .legalAdvisory .legalAdvisorySection .legalAdvisorySectionBox {
          width: 48%;
          margin-top: 20px; } }
      @media all and (max-width: 575px) {
        .legalAdvisory .legalAdvisorySection .legalAdvisorySectionBox {
          width: 100%;
          margin-top: 20px; } }
      .legalAdvisory .legalAdvisorySection .legalAdvisorySectionBox a {
        display: flex;
        align-items: center;
        line-height: 130%;
        justify-content: space-between;
        text-decoration: none;
        padding: 35px 48px 35px 45px;
        border: 1px solid #F1F1F1;
        border-radius: 10px; }
        .legalAdvisory .legalAdvisorySection .legalAdvisorySectionBox a .img1 {
          margin-right: 20px; }
          @media all and (max-width: 1400px) {
            .legalAdvisory .legalAdvisorySection .legalAdvisorySectionBox a .img1 {
              width: 40px;
              height: 45px; } }
          @media all and (max-width: 1080px) {
            .legalAdvisory .legalAdvisorySection .legalAdvisorySectionBox a .img1 {
              margin-right: 15px; } }
          @media all and (max-width: 920px) {
            .legalAdvisory .legalAdvisorySection .legalAdvisorySectionBox a .img1 {
              width: 30px;
              height: 35px; } }
        .legalAdvisory .legalAdvisorySection .legalAdvisorySectionBox a .img2 {
          margin-left: auto;
          transition: 0.6s all; }
          @media all and (max-width: 1400px) {
            .legalAdvisory .legalAdvisorySection .legalAdvisorySectionBox a .img2 {
              width: 16px;
              height: 8px; } }
          @media all and (max-width: 920px) {
            .legalAdvisory .legalAdvisorySection .legalAdvisorySectionBox a .img2 {
              width: 18px;
              height: 9px; } }
        .legalAdvisory .legalAdvisorySection .legalAdvisorySectionBox a:hover {
          border: 1px solid #212121;
          transition: 0.6s all; }
          .legalAdvisory .legalAdvisorySection .legalAdvisorySectionBox a:hover .img2 {
            transform: translateX(10px); }
        @media all and (max-width: 1400px) {
          .legalAdvisory .legalAdvisorySection .legalAdvisorySectionBox a {
            padding: 20px 40px 23px 20px;
            font-size: 18px; } }
        @media all and (max-width: 1080px) {
          .legalAdvisory .legalAdvisorySection .legalAdvisorySectionBox a {
            padding: 20px;
            font-size: 16px; } }
        @media all and (max-width: 920px) {
          .legalAdvisory .legalAdvisorySection .legalAdvisorySectionBox a {
            padding: 20px 25px 20px 30px;
            font-size: 16px;
            line-height: 160%; } }

.advisorySubPages {
  margin: 150px 0px 250px; }
  @media all and (max-width: 1400px) {
    .advisorySubPages {
      margin: 100px 0px; } }
  @media all and (max-width: 920px) {
    .advisorySubPages {
      margin: 100px 0px 80px; } }
  @media all and (max-width: 575px) {
    .advisorySubPages {
      margin: 80px 0px; } }
  @media all and (max-width: 920px) {
    .advisorySubPages .subSectionTitle {
      display: flex;
      align-items: center;
      padding-bottom: 20px;
      margin-bottom: 15px;
      border-bottom: 0.75px solid rgba(33, 33, 33, 0.6); } }
  @media all and (max-width: 390px) {
    .advisorySubPages .subSectionTitle {
      align-items: self-start; } }
  @media all and (max-width: 920px) {
    .advisorySubPages .subSectionTitle .backArrow {
      margin-top: 25px; } }
  @media all and (max-width: 390px) {
    .advisorySubPages .subSectionTitle .backArrow {
      margin-top: 30px; } }
  .advisorySubPages .subSectionTitle .backArrow img {
    width: 50px;
    height: 25px;
    cursor: pointer; }
    @media all and (max-width: 1400px) {
      .advisorySubPages .subSectionTitle .backArrow img {
        width: 35px;
        height: 18px; } }
    @media all and (max-width: 920px) {
      .advisorySubPages .subSectionTitle .backArrow img {
        margin-right: 20px;
        width: 23px;
        height: 12px; } }
  .advisorySubPages .subSectionTitle h1 {
    margin: 30px 0px;
    line-height: 125%; }
    @media all and (max-width: 1400px) {
      .advisorySubPages .subSectionTitle h1 {
        margin: 20px 0px; } }
    @media all and (max-width: 920px) {
      .advisorySubPages .subSectionTitle h1 {
        font-size: 30px;
        margin-bottom: 0px; } }
  .advisorySubPages p {
    width: 70%;
    line-height: 140%; }
    @media all and (max-width: 1400px) {
      .advisorySubPages p {
        width: 65%; } }
    @media all and (max-width: 920px) {
      .advisorySubPages p {
        font-size: 16px;
        width: 100%;
        line-height: 150%; } }
  .advisorySubPages .advisoryCta {
    margin-top: 40px;
    display: flex;
    align-items: center; }
    @media all and (max-width: 1400px) {
      .advisorySubPages .advisoryCta {
        margin-top: 25px; } }
    .advisorySubPages .advisoryCta a {
      background-color: #212121;
      color: #fff;
      text-decoration: none;
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 60px;
      padding: 12px 26px;
      outline: none;
      display: flex;
      align-items: center; }
      @media all and (max-width: 1400px) {
        .advisorySubPages .advisoryCta a {
          padding: 11px 17px; } }
      @media all and (max-width: 920px) {
        .advisorySubPages .advisoryCta a {
          font-size: 14px;
          padding: 11px 19px; } }
      .advisorySubPages .advisoryCta a img {
        width: 23px;
        height: 18px;
        transition: 0.6s all;
        margin-left: 10px; }
        @media all and (max-width: 1400px) {
          .advisorySubPages .advisoryCta a img {
            width: 16px;
            height: 8px; } }
        @media all and (max-width: 920px) {
          .advisorySubPages .advisoryCta a img {
            width: 18px;
            height: 9px; } }
      .advisorySubPages .advisoryCta a:hover img {
        transform: translateX(10px); }

.digitalTransformation {
  margin: 150px 0px; }
  @media all and (max-width: 1400px) {
    .digitalTransformation {
      margin: 100px 0px; } }
  @media all and (max-width: 920px) {
    .digitalTransformation {
      margin: 100px 0px 80px; } }
  @media all and (max-width: 920px) {
    .digitalTransformation .sectionTitle {
      display: flex;
      align-items: flex-start;
      padding-bottom: 20px;
      margin-bottom: 15px;
      border-bottom: 0.75px solid rgba(33, 33, 33, 0.6); } }
  .digitalTransformation .sectionTitle .backArrow {
    display: none; }
    @media all and (max-width: 920px) {
      .digitalTransformation .sectionTitle .backArrow {
        display: block;
        margin-top: 12.5px; } }
    @media all and (max-width: 575px) {
      .digitalTransformation .sectionTitle .backArrow {
        display: block;
        margin-top: 12px; } }
    .digitalTransformation .sectionTitle .backArrow img {
      margin-right: 30px; }
      @media all and (max-width: 920px) {
        .digitalTransformation .sectionTitle .backArrow img {
          margin-right: 20px;
          width: 23px;
          height: 12px; } }
  .digitalTransformation .sectionTitle h1 {
    margin-bottom: 30px; }
    @media all and (max-width: 1400px) {
      .digitalTransformation .sectionTitle h1 {
        margin-bottom: 20px; } }
    @media all and (max-width: 920px) {
      .digitalTransformation .sectionTitle h1 {
        margin-bottom: 0px; } }
  @media all and (max-width: 920px) {
    .digitalTransformation p {
      font-size: 16px; } }
  .digitalTransformation .digitalTransformationSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px; }
    @media all and (max-width: 1400px) {
      .digitalTransformation .digitalTransformationSection {
        margin-top: 5px; } }
    @media all and (max-width: 920px) {
      .digitalTransformation .digitalTransformationSection {
        margin-top: 0px; } }
    .digitalTransformation .digitalTransformationSection .digitalTransformationSectionBox {
      width: 48.5%;
      margin-top: 50px; }
      @media all and (max-width: 1400px) {
        .digitalTransformation .digitalTransformationSection .digitalTransformationSectionBox {
          width: 48.5%;
          margin-top: 35px; } }
      @media all and (max-width: 1080px) {
        .digitalTransformation .digitalTransformationSection .digitalTransformationSectionBox {
          width: 31.5%;
          margin-top: 30px; } }
      @media all and (max-width: 920px) {
        .digitalTransformation .digitalTransformationSection .digitalTransformationSectionBox {
          width: 48%;
          margin-top: 20px; } }
      @media all and (max-width: 575px) {
        .digitalTransformation .digitalTransformationSection .digitalTransformationSectionBox {
          width: 100%;
          margin-top: 20px; } }
      .digitalTransformation .digitalTransformationSection .digitalTransformationSectionBox a {
        display: flex;
        align-items: center;
        line-height: 130%;
        justify-content: space-between;
        text-decoration: none;
        padding: 32px 50px 32px 45px;
        border: 1px solid #F1F1F1;
        border-radius: 10px;
        background: #FAFAFA; }
        .digitalTransformation .digitalTransformationSection .digitalTransformationSectionBox a .img1 {
          margin-right: 30px; }
          @media all and (max-width: 1400px) {
            .digitalTransformation .digitalTransformationSection .digitalTransformationSectionBox a .img1 {
              margin-right: 25px;
              width: 40px;
              height: 45px; } }
          @media all and (max-width: 1080px) {
            .digitalTransformation .digitalTransformationSection .digitalTransformationSectionBox a .img1 {
              margin-right: 15px; } }
          @media all and (max-width: 920px) {
            .digitalTransformation .digitalTransformationSection .digitalTransformationSectionBox a .img1 {
              width: 30px;
              height: 35px; } }
        .digitalTransformation .digitalTransformationSection .digitalTransformationSectionBox a .img2 {
          margin-left: auto;
          transition: 0.6s all;
          width: 25px;
          height: 25px; }
          @media all and (max-width: 1400px) {
            .digitalTransformation .digitalTransformationSection .digitalTransformationSectionBox a .img2 {
              width: 17px;
              height: 17px; } }
          @media all and (max-width: 920px) {
            .digitalTransformation .digitalTransformationSection .digitalTransformationSectionBox a .img2 {
              width: 18px;
              height: 9px; } }
        .digitalTransformation .digitalTransformationSection .digitalTransformationSectionBox a:hover {
          border: 1px solid #212121;
          transition: 0.6s all; }
          .digitalTransformation .digitalTransformationSection .digitalTransformationSectionBox a:hover .img2 {
            transform: translateX(10px); }
        @media all and (max-width: 1400px) {
          .digitalTransformation .digitalTransformationSection .digitalTransformationSectionBox a {
            padding: 20px 35px 21px 30px;
            font-size: 18px; } }
        @media all and (max-width: 1080px) {
          .digitalTransformation .digitalTransformationSection .digitalTransformationSectionBox a {
            padding: 20px;
            font-size: 16px; } }
        @media all and (max-width: 920px) {
          .digitalTransformation .digitalTransformationSection .digitalTransformationSectionBox a {
            padding: 20px 25px 20px 30px;
            font-size: 16px;
            line-height: 160%; } }

.digitalTransformationSubPages {
  margin: 150px 0px 250px; }
  @media all and (max-width: 1400px) {
    .digitalTransformationSubPages {
      margin: 100px 0px; } }
  @media all and (max-width: 920px) {
    .digitalTransformationSubPages {
      margin: 100px 0px 80px; } }
  @media all and (max-width: 575px) {
    .digitalTransformationSubPages {
      margin: 80px 0px; } }
  @media all and (max-width: 920px) {
    .digitalTransformationSubPages .subSectionTitle {
      display: flex;
      align-items: center;
      padding-bottom: 20px;
      margin-bottom: 15px;
      border-bottom: 0.75px solid rgba(33, 33, 33, 0.6); } }
  @media all and (max-width: 390px) {
    .digitalTransformationSubPages .subSectionTitle {
      align-items: self-start; } }
  @media all and (max-width: 920px) {
    .digitalTransformationSubPages .subSectionTitle .backArrow {
      margin-top: 25px; } }
  @media all and (max-width: 390px) {
    .digitalTransformationSubPages .subSectionTitle .backArrow {
      margin-top: 30px; } }
  .digitalTransformationSubPages .subSectionTitle .backArrow img {
    width: 50px;
    height: 25px;
    cursor: pointer; }
    @media all and (max-width: 1400px) {
      .digitalTransformationSubPages .subSectionTitle .backArrow img {
        width: 35px;
        height: 18px; } }
    @media all and (max-width: 920px) {
      .digitalTransformationSubPages .subSectionTitle .backArrow img {
        margin-right: 20px;
        width: 23px;
        height: 12px; } }
  .digitalTransformationSubPages .subSectionTitle h1 {
    margin: 30px 0px;
    line-height: 125%; }
    @media all and (max-width: 1400px) {
      .digitalTransformationSubPages .subSectionTitle h1 {
        margin: 20px 0px; } }
    @media all and (max-width: 920px) {
      .digitalTransformationSubPages .subSectionTitle h1 {
        font-size: 30px;
        margin-bottom: 0px; } }
  .digitalTransformationSubPages p {
    width: 70%;
    line-height: 140%; }
    @media all and (max-width: 1400px) {
      .digitalTransformationSubPages p {
        width: 70%; } }
    @media all and (max-width: 920px) {
      .digitalTransformationSubPages p {
        font-size: 16px;
        width: 100%;
        line-height: 150%; } }
  .digitalTransformationSubPages .digitalTransformationCta {
    margin-top: 40px;
    display: flex;
    align-items: center; }
    @media all and (max-width: 1400px) {
      .digitalTransformationSubPages .digitalTransformationCta {
        margin-top: 25px; } }
    .digitalTransformationSubPages .digitalTransformationCta a {
      background-color: #212121;
      color: #fff;
      text-decoration: none;
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 60px;
      padding: 12px 26px;
      outline: none;
      display: flex;
      align-items: center; }
      @media all and (max-width: 1400px) {
        .digitalTransformationSubPages .digitalTransformationCta a {
          padding: 11px 17px; } }
      @media all and (max-width: 920px) {
        .digitalTransformationSubPages .digitalTransformationCta a {
          font-size: 14px;
          padding: 11px 19px; } }
      .digitalTransformationSubPages .digitalTransformationCta a img {
        width: 23px;
        height: 18px;
        transition: 0.6s all;
        margin-left: 10px; }
        @media all and (max-width: 1400px) {
          .digitalTransformationSubPages .digitalTransformationCta a img {
            width: 16px;
            height: 8px; } }
        @media all and (max-width: 920px) {
          .digitalTransformationSubPages .digitalTransformationCta a img {
            width: 18px;
            height: 9px; } }
      .digitalTransformationSubPages .digitalTransformationCta a:hover img {
        transform: translateX(10px); }

.generalCounsel {
  margin: 150px 0px; }
  @media all and (max-width: 1400px) {
    .generalCounsel {
      margin: 100px 0px; } }
  @media all and (max-width: 920px) {
    .generalCounsel {
      margin: 100px 0px 80px; } }
  @media all and (max-width: 920px) {
    .generalCounsel .sectionTitle {
      display: flex;
      align-items: flex-start;
      padding-bottom: 20px;
      margin-bottom: 15px;
      border-bottom: 0.75px solid rgba(33, 33, 33, 0.6); } }
  .generalCounsel .sectionTitle .backArrow {
    display: none; }
    @media all and (max-width: 920px) {
      .generalCounsel .sectionTitle .backArrow {
        display: block;
        margin-top: 12.5px; } }
    @media all and (max-width: 575px) {
      .generalCounsel .sectionTitle .backArrow {
        display: block;
        margin-top: 12px; } }
    .generalCounsel .sectionTitle .backArrow img {
      margin-right: 30px; }
      @media all and (max-width: 920px) {
        .generalCounsel .sectionTitle .backArrow img {
          margin-right: 20px;
          width: 23px;
          height: 12px; } }
  .generalCounsel .sectionTitle h1 {
    margin-bottom: 30px; }
    @media all and (max-width: 1400px) {
      .generalCounsel .sectionTitle h1 {
        margin-bottom: 20px; } }
    @media all and (max-width: 920px) {
      .generalCounsel .sectionTitle h1 {
        margin-bottom: 0px; } }
  .generalCounsel p {
    width: 80%;
    margin-bottom: 20px;
    line-height: 160%; }
    @media all and (max-width: 1400px) {
      .generalCounsel p {
        width: 75%; } }
    @media all and (max-width: 920px) {
      .generalCounsel p {
        width: 100%;
        font-size: 16px;
        line-height: 150%; } }
  .generalCounsel .generalCounselCta {
    margin-top: 40px;
    display: flex;
    align-items: center; }
    @media all and (max-width: 1400px) {
      .generalCounsel .generalCounselCta {
        margin-top: 25px; } }
    .generalCounsel .generalCounselCta a {
      background-color: #212121;
      color: #fff;
      text-decoration: none;
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 60px;
      padding: 12px 26px;
      outline: none;
      display: flex;
      align-items: center; }
      @media all and (max-width: 920px) {
        .generalCounsel .generalCounselCta a {
          padding: 11px 19px;
          font-size: 14px; } }
      .generalCounsel .generalCounselCta a img {
        transition: 0.6s all;
        margin-left: 10px; }
        @media all and (max-width: 1400px) {
          .generalCounsel .generalCounselCta a img {
            width: 16px;
            height: 8px; } }
        @media all and (max-width: 920px) {
          .generalCounsel .generalCounselCta a img {
            width: 18px;
            height: 9px; } }
      .generalCounsel .generalCounselCta a:hover img {
        transform: translateX(10px); }

.legalAudit {
  margin: 150px 0px; }
  @media all and (max-width: 1400px) {
    .legalAudit {
      margin: 100px 0px; } }
  @media all and (max-width: 920px) {
    .legalAudit {
      margin: 100px 0px 80px; } }
  @media all and (max-width: 920px) {
    .legalAudit .sectionTitle {
      display: flex;
      align-items: flex-start;
      padding-bottom: 20px;
      margin-bottom: 15px;
      border-bottom: 0.75px solid rgba(33, 33, 33, 0.6); } }
  .legalAudit .sectionTitle .backArrow {
    display: none; }
    @media all and (max-width: 920px) {
      .legalAudit .sectionTitle .backArrow {
        display: block;
        margin-top: 12.5px; } }
    @media all and (max-width: 575px) {
      .legalAudit .sectionTitle .backArrow {
        display: block;
        margin-top: 12px; } }
    .legalAudit .sectionTitle .backArrow img {
      margin-right: 30px; }
      @media all and (max-width: 920px) {
        .legalAudit .sectionTitle .backArrow img {
          margin-right: 20px;
          width: 23px;
          height: 12px; } }
  .legalAudit .sectionTitle h1 {
    margin-bottom: 30px; }
    @media all and (max-width: 1400px) {
      .legalAudit .sectionTitle h1 {
        margin-bottom: 20px; } }
    @media all and (max-width: 920px) {
      .legalAudit .sectionTitle h1 {
        margin-bottom: 0px; } }
  .legalAudit p {
    width: 80%;
    margin-bottom: 20px;
    line-height: 160%; }
    @media all and (max-width: 1400px) {
      .legalAudit p {
        width: 75%; } }
    @media all and (max-width: 920px) {
      .legalAudit p {
        width: 100%;
        font-size: 16px;
        line-height: 150%; } }
  .legalAudit .legalAuditCta {
    margin-top: 40px;
    display: flex;
    align-items: center; }
    @media all and (max-width: 1400px) {
      .legalAudit .legalAuditCta {
        margin-top: 25px; } }
    .legalAudit .legalAuditCta a {
      background-color: #212121;
      color: #fff;
      text-decoration: none;
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 60px;
      padding: 12px 26px;
      outline: none;
      display: flex;
      align-items: center; }
      @media all and (max-width: 920px) {
        .legalAudit .legalAuditCta a {
          padding: 11px 19px;
          font-size: 14px; } }
      .legalAudit .legalAuditCta a img {
        transition: 0.6s all;
        margin-left: 10px; }
        @media all and (max-width: 1400px) {
          .legalAudit .legalAuditCta a img {
            width: 16px;
            height: 8px; } }
        @media all and (max-width: 920px) {
          .legalAudit .legalAuditCta a img {
            width: 18px;
            height: 9px; } }
      .legalAudit .legalAuditCta a:hover img {
        transform: translateX(10px); }

/*# sourceMappingURL=legal_innerpage.css.map */
