* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none; }

body {
  background: #212121 !important;
  scroll-behavior: smooth;
  letter-spacing: 0.03em;
  line-height: 1.4;
  overflow: hidden !important; }
  @media all and (max-width: 1030px) {
    body {
      overflow: visible !important; } }
  body:webkit-scroll bar {
    display: none; }

ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  margin: 0;
  outline: none;
  padding: 0; }

.wrapper {
  padding: 0px 150px; }

/************************************************ Common CSS **************************************************/
.font130 {
  font-size: 130px; }

.font115 {
  font-size: 115px; }

.font64 {
  font-size: 64px; }

.font55 {
  font-size: 55px; }

.font50 {
  font-size: 50px; }

.font36 {
  font-size: 36px; }

.font30 {
  font-size: 30px; }

.font24 {
  font-size: 24px; }

.font22 {
  font-size: 22px; }

.font20 {
  font-size: 20px; }

.font18 {
  font-size: 18px; }

.font16 {
  font-size: 16px; }

.fontW300 {
  font-weight: 300; }

.fontW400 {
  font-weight: 400; }

.fontW500 {
  font-weight: 500; }

.fontW600 {
  font-weight: 600; }

.fontW700 {
  font-weight: 700; }

.fontPoppins {
  font-family: 'Poppins', sans-serif; }

.fontRoboto {
  font-family: 'Roboto', sans-serif; }

.colorW {
  color: #FFFFFF; }

.coloroffW {
  color: #F2F2F2; }

.colorlightGray {
  color: #C2C2C2; }

.colordarkGray {
  color: #6A6A6A; }

.colorBlack {
  color: #212121; }

.textCenter {
  text-align: center; }

img {
  max-width: 100%; }

.slick-track {
  display: flex !important; }

.slick-slide {
  height: inherit !important; }

/****************************************************Media Queries***********************************************************/
@media all and (max-width: 1800px) {
  .wrapper {
    padding: 0px 130px; }

  .font130 {
    font-size: 110px; }

  .font115 {
    font-size: 100px; }

  .font64 {
    font-size: 60px; }

  .font55 {
    font-size: 52px; }

  .font50 {
    font-size: 42px; }

  .font36 {
    font-size: 34px; }

  .font30 {
    font-size: 28px; }

  .font24 {
    font-size: 22px; }

  .font20 {
    font-size: 18px; }

  .font18 {
    font-size: 16px; }

  .font16 {
    font-size: 14px; } }
@media all and (max-width: 1600px) {
  .wrapper {
    padding: 0px 70px; }

  .font130 {
    font-size: 96px; }

  .font115 {
    font-size: 80px; }

  .font64 {
    font-size: 50px; }

  .font55 {
    font-size: 46px; }

  .font50 {
    font-size: 38px; }

  .font36 {
    font-size: 32px; }

  .font30 {
    font-size: 21px; }

  .font24 {
    font-size: 20px; }

  .font22 {
    font-size: 18px; }

  .font20 {
    font-size: 16px; }

  .font18 {
    font-size: 14px; }

  .font16 {
    font-size: 12px; } }
@media all and (max-width: 1400px) {
  .wrapper {
    padding: 0px 70px; }

  .font130 {
    font-size: 92px; }

  .font115 {
    font-size: 70px; }

  .font64 {
    font-size: 45px; }

  .font55 {
    font-size: 40px; }

  .font50 {
    font-size: 34px; }

  .font36 {
    font-size: 26px; }

  .font30 {
    font-size: 21px; }

  .font24 {
    font-size: 16px; }

  .font22 {
    font-size: 16px; }

  .font20 {
    font-size: 14px; }

  .font18 {
    font-size: 12px; }

  .font16 {
    font-size: 11px; } }
@media all and (max-width: 1280px) {
  .font36 {
    font-size: 24px; } }
@media all and (max-width: 1024px) {
  .wrapper {
    padding: 0px 40px; }

  .font130 {
    font-size: 70px; }

  .font115 {
    font-size: 50px; }

  .font64 {
    font-size: 36px; }

  .font50 {
    font-size: 30px; } }
@media all and (max-width: 900px) {
  .wrapper {
    padding: 0px 40px; }

  .font130 {
    font-size: 55px; }

  .font115 {
    font-size: 45px; }

  .font64 {
    font-size: 32px; }

  .font55 {
    font-size: 30px; }

  .font50 {
    font-size: 24px; }

  .font36 {
    font-size: 18px; }

  .font30 {
    font-size: 20px; }

  .font24 {
    font-size: 16px; }

  .font22 {
    font-size: 16px; }

  .font20 {
    font-size: 14px; }

  .font18 {
    font-size: 12px; }

  .font16 {
    font-size: 10px; } }
@media all and (max-width: 768px) {
  .wrapper {
    padding: 0px 30px; } }
@media all and (max-width: 575px) {
  .font130 {
    font-size: 40px; }

  .font115 {
    font-size: 35px; }

  .font64 {
    font-size: 30px; }

  .font55 {
    font-size: 22px; }

  .font50 {
    font-size: 20px; }

  .font36 {
    font-size: 18px; }

  .font30 {
    font-size: 16px; }

  .font24 {
    font-size: 14px; }

  .font22 {
    font-size: 14px; }

  .font20 {
    font-size: 12px; }

  .font18 {
    font-size: 10px; }

  .font16 {
    font-size: 11px; } }
.slick-track {
  display: flex !important; }

.slick-slide {
  height: inherit !important; }

body {
  overflow: visible !important;
  background-color: white !important;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  /* Hide scrollbar for Chrome, Safari and Opera */ }
  body::-webkit-scrollbar {
    display: none; }

.legalHeader {
  position: sticky !important; }
  @media all and (max-width: 920px) {
    .legalHeader {
      position: fixed !important; } }

.progress-container {
  position: fixed;
  right: 30px;
  top: 50%;
  width: 1px;
  height: 100px;
  border-radius: 2px;
  margin: auto;
  border: 1px solid rgba(33, 33, 33, 0.5);
  z-index: 999; }
  @media (max-width: 770px) {
    .progress-container {
      display: none !important; } }
  .progress-container .progress-bar {
    position: relative;
    width: 1px;
    background: #000;
    border-radius: 2px; }
    .progress-container .progress-bar:before {
      position: absolute;
      content: "";
      right: 0;
      bottom: 0px;
      left: -6px;
      width: 12px;
      height: 12px;
      background: #000;
      border-radius: 50%; }
    .progress-container .progress-bar::after {
      position: absolute;
      content: "SCROLL";
      right: 0;
      left: -10px;
      top: -20px;
      padding-bottom: 10px !important;
      transform: rotate(270deg);
      transform-origin: left top 0; }

.aboutUs {
  margin: 230px 0px;
  color: #212121; }
  .aboutUs .about-heading {
    margin-bottom: 30px; }
  .aboutUs .about-contents {
    width: 80%; }
    .aboutUs .about-contents p {
      margin-bottom: 30px;
      line-height: 125%;
      text-transform: capitalize;
      font-family: 'Poppins' !important; }
  .aboutUs .ctaLink {
    margin-top: 40px;
    display: inline-block; }
    .aboutUs .ctaLink a {
      text-decoration: none;
      background-color: #212121;
      color: white;
      border: 1px solid #212121;
      border-radius: 60px;
      padding: 12px 30px;
      transition: 0.2s all ease-in-out;
      font-weight: 300; }
      .aboutUs .ctaLink a img {
        opacity: 0;
        width: 0; }
      .aboutUs .ctaLink a:visited, .aboutUs .ctaLink a:active, .aboutUs .ctaLink a:focus {
        text-decoration: none; }
      .aboutUs .ctaLink a:hover {
        font-weight: 500;
        border: 1px solid #212121; }
        .aboutUs .ctaLink a:hover img {
          opacity: 1;
          width: auto;
          margin-left: 5px;
          vertical-align: middle; }
  @media all and (max-width: 1800px) {
    .aboutUs .about-contents {
      width: 80%; } }
  @media all and (max-width: 1650px) {
    .aboutUs .about-contents {
      width: 80%; } }
  @media all and (max-width: 1600px) {
    .aboutUs .about-contents {
      width: 80%; } }
  @media all and (max-width: 1460px) {
    .aboutUs .about-contents {
      width: 80%; } }
  @media all and (max-width: 1280px) {
    .aboutUs .about-contents {
      width: 85%; } }
  @media all and (max-width: 1050px) {
    .aboutUs .about-contents {
      width: 90%; } }
  @media all and (max-width: 680px) {
    .aboutUs .about-contents {
      width: 100%; }
    .aboutUs .ctaLink {
      margin-top: 20px; } }

body {
  overflow: visible !important;
  background-color: white !important;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  /* Hide scrollbar for Chrome, Safari and Opera */ }
  body::-webkit-scrollbar {
    display: none; }

.legalHeader {
  position: sticky !important; }
  @media all and (max-width: 920px) {
    .legalHeader {
      position: fixed !important; } }

.progress-container {
  position: fixed;
  right: 30px;
  top: 50%;
  width: 1px;
  height: 100px;
  border-radius: 2px;
  margin: auto;
  border: 1px solid rgba(33, 33, 33, 0.5); }
  @media (max-width: 770px) {
    .progress-container {
      display: none !important; } }
  .progress-container .progress-bar {
    position: relative;
    width: 1px;
    background: #000;
    border-radius: 2px; }
    .progress-container .progress-bar:before {
      position: absolute;
      content: "";
      right: 0;
      bottom: 0px;
      left: -6px;
      width: 12px;
      height: 12px;
      background: #000;
      border-radius: 50%; }
    .progress-container .progress-bar::after {
      position: absolute;
      content: "SCROLL";
      right: 0;
      left: -10px;
      top: -20px;
      padding-bottom: 10px !important;
      transform: rotate(270deg);
      transform-origin: left top 0; }

.careers {
  position: relative;
  margin: 230px 0px;
  color: #212121; }
  .careers .careers-heading {
    margin-bottom: 30px; }
  .careers .careers-content {
    width: 80%; }
    .careers .careers-content p {
      margin-bottom: 30px;
      font-style: normal;
      line-height: 160%;
      letter-spacing: 0.03em;
      font-family: 'Poppins' !important; }
  @media all and (max-width: 1800px) {
    .careers .careers-content {
      width: 80%; } }
  @media all and (max-width: 1650px) {
    .careers .careers-content {
      width: 80%; } }
  @media all and (max-width: 1600px) {
    .careers .careers-content {
      width: 80%; } }
  @media all and (max-width: 1460px) {
    .careers .careers-content {
      width: 80%; } }
  @media all and (max-width: 1280px) {
    .careers .careers-content {
      width: 85%; } }
  @media all and (max-width: 1050px) {
    .careers .careers-content {
      width: 90%; } }
  @media all and (max-width: 680px) {
    .careers .careers-content {
      width: 100%; } }

body {
  overflow: visible !important;
  background-color: white !important;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  /* Hide scrollbar for Chrome, Safari and Opera */ }
  body::-webkit-scrollbar {
    display: none; }

.legalHeader {
  position: sticky !important; }
  @media all and (max-width: 920px) {
    .legalHeader {
      position: fixed !important; } }

.progress-container {
  position: fixed;
  right: 30px;
  top: 50%;
  width: 1px;
  height: 100px;
  border-radius: 2px;
  margin: auto;
  border: 1px solid rgba(33, 33, 33, 0.5);
  z-index: 999; }
  @media (max-width: 770px) {
    .progress-container {
      display: none !important; } }
  .progress-container .progress-bar {
    position: relative;
    width: 1px;
    background: #000;
    border-radius: 2px;
    z-index: 999; }
    .progress-container .progress-bar:before {
      position: absolute;
      content: "";
      right: 0;
      bottom: 0px;
      left: -6px;
      width: 12px;
      height: 12px;
      background: #000;
      border-radius: 50%; }
    .progress-container .progress-bar::after {
      position: absolute;
      content: "SCROLL";
      right: 0;
      left: -10px;
      top: -20px;
      padding-bottom: 10px !important;
      transform: rotate(270deg);
      transform-origin: left top 0; }

.subSectors {
  margin: 250px 0px; }
  .subSectors .subSectors-heading {
    margin-bottom: 30px; }
  .subSectors .subSectors-content {
    width: 80%;
    margin-left: 15.60px; }
    .subSectors .subSectors-content li {
      margin-bottom: 30px;
      line-height: 125%;
      text-transform: capitalize;
      font-family: 'Poppins' !important; }
  .subSectors .subSectors-Cta {
    margin-top: 40px;
    display: inline-block; }
    .subSectors .subSectors-Cta a {
      text-decoration: none;
      background-color: #212121;
      color: white;
      border: 1px solid #212121;
      border-radius: 60px;
      padding: 12px 30px;
      transition: 0.2s all ease-in-out;
      font-weight: 300; }
      .subSectors .subSectors-Cta a img {
        opacity: 0;
        width: 0; }
      .subSectors .subSectors-Cta a:visited, .subSectors .subSectors-Cta a:active, .subSectors .subSectors-Cta a:focus {
        text-decoration: none; }
      .subSectors .subSectors-Cta a:hover {
        font-weight: 500;
        border: 1px solid #212121; }
        .subSectors .subSectors-Cta a:hover img {
          opacity: 1;
          width: auto;
          vertical-align: middle;
          margin-left: 5px; }
  @media all and (max-width: 2000px) {
    .subSectors .subSectors-content {
      width: 80%;
      margin-left: 20px; } }
  @media all and (max-width: 1800px) {
    .subSectors .subSectors-content {
      width: 80%;
      margin-left: 18.5px; } }
  @media all and (max-width: 1650px) {
    .subSectors .subSectors-content {
      width: 80%;
      margin-left: 18.5px; } }
  @media all and (max-width: 1600px) {
    .subSectors .subSectors-content {
      width: 80%;
      margin-left: 16.5px; } }
  @media all and (max-width: 1460px) {
    .subSectors .subSectors-content {
      width: 80%; } }
  @media all and (max-width: 1280px) {
    .subSectors .subSectors-content {
      width: 80%; } }
  @media all and (max-width: 1050px) {
    .subSectors .subSectors-content {
      width: 90%; } }
  @media all and (max-width: 680px) {
    .subSectors .subSectors-content {
      width: 100%; }
    .subSectors .subSectors-Cta {
      margin-top: 20px; } }

/*# sourceMappingURL=legal_innerpage_two.css.map */
