@import url(vendor/fullpage.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none; }

body {
  background: #212121 !important;
  scroll-behavior: smooth;
  letter-spacing: 0.03em;
  line-height: 1.4;
  overflow: hidden !important; }
  @media all and (max-width: 1030px) {
    body {
      overflow: visible !important; } }
  body:webkit-scroll bar {
    display: none; }

ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  margin: 0;
  outline: none;
  padding: 0; }

.wrapper {
  padding: 0px 150px; }

/************************************************ Common CSS **************************************************/
.font130 {
  font-size: 130px; }

.font115 {
  font-size: 115px; }

.font64 {
  font-size: 64px; }

.font55 {
  font-size: 55px; }

.font50 {
  font-size: 50px; }

.font36 {
  font-size: 36px; }

.font30 {
  font-size: 30px; }

.font24 {
  font-size: 24px; }

.font22 {
  font-size: 22px; }

.font20 {
  font-size: 20px; }

.font18 {
  font-size: 18px; }

.font16 {
  font-size: 16px; }

.fontW300 {
  font-weight: 300; }

.fontW400 {
  font-weight: 400; }

.fontW500 {
  font-weight: 500; }

.fontW600 {
  font-weight: 600; }

.fontW700 {
  font-weight: 700; }

.fontPoppins {
  font-family: 'Poppins', sans-serif; }

.fontRoboto {
  font-family: 'Roboto', sans-serif; }

.colorW {
  color: #FFFFFF; }

.coloroffW {
  color: #F2F2F2; }

.colorlightGray {
  color: #C2C2C2; }

.colordarkGray {
  color: #6A6A6A; }

.colorBlack {
  color: #212121; }

.textCenter {
  text-align: center; }

img {
  max-width: 100%; }

.slick-track {
  display: flex !important; }

.slick-slide {
  height: inherit !important; }

/****************************************************Media Queries***********************************************************/
@media all and (max-width: 1800px) {
  .wrapper {
    padding: 0px 130px; }

  .font130 {
    font-size: 110px; }

  .font115 {
    font-size: 100px; }

  .font64 {
    font-size: 60px; }

  .font55 {
    font-size: 52px; }

  .font50 {
    font-size: 42px; }

  .font36 {
    font-size: 34px; }

  .font30 {
    font-size: 28px; }

  .font24 {
    font-size: 22px; }

  .font20 {
    font-size: 18px; }

  .font18 {
    font-size: 16px; }

  .font16 {
    font-size: 14px; } }
@media all and (max-width: 1600px) {
  .wrapper {
    padding: 0px 70px; }

  .font130 {
    font-size: 96px; }

  .font115 {
    font-size: 80px; }

  .font64 {
    font-size: 50px; }

  .font55 {
    font-size: 46px; }

  .font50 {
    font-size: 38px; }

  .font36 {
    font-size: 32px; }

  .font30 {
    font-size: 22px; }

  .font24 {
    font-size: 20px; }

  .font22 {
    font-size: 18px; }

  .font20 {
    font-size: 16px; }

  .font18 {
    font-size: 14px; }

  .font16 {
    font-size: 12px; } }
@media all and (max-width: 1400px) {
  .wrapper {
    padding: 0px 70px; }

  .font130 {
    font-size: 92px; }

  .font115 {
    font-size: 70px; }

  .font64 {
    font-size: 46px; }

  .font55 {
    font-size: 40px; }

  .font50 {
    font-size: 34px; }

  .font36 {
    font-size: 26px; }

  .font30 {
    font-size: 21px; }

  .font24 {
    font-size: 16px; }

  .font22 {
    font-size: 15px; }

  .font20 {
    font-size: 14px; }

  .font18 {
    font-size: 12px; }

  .font16 {
    font-size: 11px; } }
@media all and (max-width: 1280px) {
  .font36 {
    font-size: 24px; } }
@media all and (max-width: 1024px) {
  .wrapper {
    padding: 0px 40px; }

  .font130 {
    font-size: 70px; }

  .font115 {
    font-size: 50px; }

  .font64 {
    font-size: 36px; }

  .font50 {
    font-size: 30px; } }
@media all and (max-width: 900px) {
  .wrapper {
    padding: 0px 40px; }

  .font130 {
    font-size: 55px; }

  .font115 {
    font-size: 45px; }

  .font64 {
    font-size: 32px; }

  .font55 {
    font-size: 30px; }

  .font50 {
    font-size: 24px; }

  .font36 {
    font-size: 18px; }

  .font30 {
    font-size: 20px; }

  .font24 {
    font-size: 16px; }

  .font22 {
    font-size: 16px; }

  .font20 {
    font-size: 14px; }

  .font18 {
    font-size: 12px; }

  .font16 {
    font-size: 10px; } }
@media all and (max-width: 768px) {
  .wrapper {
    padding: 0px 30px; } }
@media all and (max-width: 575px) {
  .font130 {
    font-size: 40px; }

  .font115 {
    font-size: 35px; }

  .font64 {
    font-size: 30px; }

  .font55 {
    font-size: 22px; }

  .font50 {
    font-size: 20px; }

  .font36 {
    font-size: 18px; }

  .font30 {
    font-size: 16px; }

  .font24 {
    font-size: 14px; }

  .font22 {
    font-size: 14px; }

  .font20 {
    font-size: 12px; }

  .font18 {
    font-size: 10px; }

  .font16 {
    font-size: 11px; } }
.subSectors-Cta {
  margin-top: 40px; }
  .subSectors-Cta a {
    text-decoration: none;
    background-color: #212121;
    color: white;
    border: 1px solid #212121;
    border-radius: 60px;
    padding: 12px 30px;
    vertical-align: middle;
    transition: 0.3s all ease; }
    .subSectors-Cta a:visited, .subSectors-Cta a:active, .subSectors-Cta a:focus {
      text-decoration: none;
      color: white;
      background-color: #212121;
      border: 1px solid #212121;
      border-radius: 60px;
      padding: 12px 30px;
      vertical-align: middle; }
    .subSectors-Cta a img {
      vertical-align: middle;
      opacity: 1;
      width: auto;
      margin-left: 5px; }

.slick-track {
  display: flex !important; }

.slick-slide {
  height: inherit !important; }

body {
  background-color: #fff !important; }

progress {
  position: fixed;
  top: 15px; }

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: block;
  background-color: #fff; }
  @media (max-width: 920px) {
    header {
      padding: 0px;
      border-bottom: 1px solid #6A6A6A; } }
  header #sidebarContainer {
    display: none; }
    @media (max-width: 920px) {
      header #sidebarContainer {
        display: block; } }
    header #sidebarContainer .main {
      margin: 0 auto;
      display: block;
      height: 100%;
      margin-top: 60px; }
    header #sidebarContainer #sideMenu {
      height: 100%;
      position: fixed;
      right: 0;
      top: 0;
      width: 260px;
      border-radius: 5px 0px 0px 5px;
      transform: translate(150%);
      transition: transform 0.5s ease-in-out;
      overflow: scroll;
      z-index: 1;
      background-color: lightgrey; }
      header #sidebarContainer #sideMenu .sideMenuInner {
        margin: 0;
        padding-top: 100px;
        padding-left: 20px; }
        header #sidebarContainer #sideMenu .sideMenuInner li {
          list-style: none;
          padding: 15px 0px;
          cursor: pointer; }
          header #sidebarContainer #sideMenu .sideMenuInner li .dropdown {
            position: relative;
            display: inline-block; }
            header #sidebarContainer #sideMenu .sideMenuInner li .dropdown .drop {
              color: #000;
              border-radius: 6px;
              position: relative;
              display: inline-block; }
            header #sidebarContainer #sideMenu .sideMenuInner li .dropdown > .dropdown-menu {
              width: 15rem;
              list-style: none;
              margin: 0;
              margin-top: 8px;
              padding: 0px 0px 0px 15px;
              position: unset !important;
              float: left;
              max-height: 0;
              overflow: hidden;
              transition: all .55s linear;
              background-color: #fff; }
              header #sidebarContainer #sideMenu .sideMenuInner li .dropdown > .dropdown-menu.open {
                max-height: 300px;
                height: auto;
                transition: all .25s linear;
                overflow-y: scroll;
                scrollbar-width: auto;
                scrollbar-color: #000;
                /* Chrome, Edge, and Safari */ }
                header #sidebarContainer #sideMenu .sideMenuInner li .dropdown > .dropdown-menu.open::-webkit-scrollbar {
                  width: 6px; }
                header #sidebarContainer #sideMenu .sideMenuInner li .dropdown > .dropdown-menu.open::-webkit-scrollbar-track {
                  background: gray; }
                header #sidebarContainer #sideMenu .sideMenuInner li .dropdown > .dropdown-menu.open::-webkit-scrollbar-thumb {
                  background-color: #000;
                  border-radius: 15px;
                  border: 6px solid #000; }
              header #sidebarContainer #sideMenu .sideMenuInner li .dropdown > .dropdown-menu > li > a {
                display: block;
                color: #555;
                text-align: left;
                transition: all .25s linear; }
                header #sidebarContainer #sideMenu .sideMenuInner li .dropdown > .dropdown-menu > li > a:hover {
                  color: #fff; }
          header #sidebarContainer #sideMenu .sideMenuInner li .down-caret {
            width: 12px;
            height: 8px;
            background-image: url("../images/down-arrow.svg");
            background-repeat: no-repeat;
            display: inline-block;
            margin-left: 3px;
            top: 1px;
            position: relative;
            transition: all .25s ease;
            background-size: 9px; }
          header #sidebarContainer #sideMenu .sideMenuInner li .open-caret {
            transform: rotate(180deg); }
          header #sidebarContainer #sideMenu .sideMenuInner li span {
            display: block;
            font-size: 14px;
            color: rgba(255, 255, 255, 0.5); }
          header #sidebarContainer #sideMenu .sideMenuInner li a {
            color: #212121;
            cursor: pointer;
            text-decoration: none;
            font-size: 16px; }
            header #sidebarContainer #sideMenu .sideMenuInner li a.active {
              position: relative;
              color: #212121 !important;
              transition: all 0.35s ease;
              text-decoration: none; }
              header #sidebarContainer #sideMenu .sideMenuInner li a.active:after {
                position: absolute;
                content: "";
                left: 0;
                bottom: -4px;
                width: 100%;
                height: 2px;
                border: none;
                outline: none;
                background: #fff; }
      header #sidebarContainer #sideMenu #sidenav-overlay body::before {
        position: fixed;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #000;
        cursor: pointer;
        z-index: 1; }
    header #sidebarContainer input[type=checkbox] {
      transition: all 0.3s;
      box-sizing: border-box;
      display: none; }
      header #sidebarContainer input[type=checkbox]:checked ~ #sideMenu {
        transform: translateX(0); }
    header #sidebarContainer .sideIconToggle {
      transition: all 0.3s;
      box-sizing: border-box;
      cursor: pointer;
      position: absolute;
      z-index: 99;
      height: 100%;
      width: 100%;
      top: 22px;
      right: 0px;
      height: 24px;
      width: 24px; }
      header #sidebarContainer .sideIconToggle .spinner {
        transition: all 0.3s;
        box-sizing: border-box;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #F2F2F2;
        border-radius: 4px; }
      header #sidebarContainer .sideIconToggle .horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        float: left;
        margin-top: 4px; }
      header #sidebarContainer .sideIconToggle .diagonal.part-1 {
        position: relative;
        transition: all 0.3s;
        box-sizing: border-box;
        float: left; }
      header #sidebarContainer .sideIconToggle .diagonal.part-2 {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        float: left;
        margin-top: 4px; }
    header #sidebarContainer input[type=checkbox]:checked ~ .sideIconToggle > .horizontal {
      transition: all 0.3s;
      box-sizing: border-box;
      opacity: 0; }
    header #sidebarContainer input[type=checkbox]:checked ~ .sideIconToggle > .diagonal.part-1 {
      transition: all 0.3s;
      box-sizing: border-box;
      transform: rotate(135deg);
      margin-top: 8px; }
    header #sidebarContainer input[type=checkbox]:checked ~ .sideIconToggle > .diagonal.part-2 {
      transition: all 0.3s;
      box-sizing: border-box;
      transform: rotate(-135deg);
      margin-top: -10px; }
  header .menu-items .dropdown {
    position: relative;
    display: inline-block; }
    header .menu-items .dropdown .drop {
      background-color: #fff;
      color: #000;
      border-radius: 6px;
      position: relative;
      display: inline-block; }
    header .menu-items .dropdown > .sector.open {
      overflow-y: scroll;
      scrollbar-width: auto;
      scrollbar-color: #000;
      /* Chrome, Edge, and Safari */ }
      header .menu-items .dropdown > .sector.open::-webkit-scrollbar {
        width: 6px; }
      header .menu-items .dropdown > .sector.open::-webkit-scrollbar-track {
        background: gray; }
      header .menu-items .dropdown > .sector.open::-webkit-scrollbar-thumb {
        background-color: #000;
        border-radius: 15px;
        border: 6px solid #000; }
    header .menu-items .dropdown > .dropdown-menu {
      width: 164px;
      list-style: none;
      position: absolute;
      float: left;
      max-height: 0;
      overflow: hidden;
      transition: all .35s linear;
      border: 1px solid transparent; }
      header .menu-items .dropdown > .dropdown-menu.open {
        max-height: 160px;
        height: auto;
        padding: 10px 0px;
        transition: all .35s linear;
        border: 1px solid #F1F1F1;
        border-radius: 10px;
        background: #FAFAFA;
        overflow-y: scroll; }
      header .menu-items .dropdown > .dropdown-menu li {
        margin-left: 0px !important; }
      header .menu-items .dropdown > .dropdown-menu > li > a {
        padding: 7px 0px 7px 18px;
        display: block;
        color: #555;
        text-align: left;
        transition: all .25s linear; }
        header .menu-items .dropdown > .dropdown-menu > li > a:hover {
          background-color: #fff;
          color: #000; }
  header .menu-items .down-caret {
    width: 12px;
    height: 8px;
    background-image: url("../images/down-arrow.svg");
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 3px;
    top: 1px;
    position: relative;
    transition: all .25s ease;
    background-size: 9px; }
  header .menu-items .open-caret {
    transform: rotate(180deg); }
  header .menu-items a {
    color: #212121;
    text-decoration: none;
    transition: color 0.3s ease-in-out; }
    @media (max-width: 920px) {
      header .menu-items a {
        font-size: 16px;
        color: #6A6A6A; } }
    header .menu-items a.is-active {
      position: relative;
      color: #212121 !important;
      transition: all 0.35s ease; }
      header .menu-items a.is-active:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: -4px;
        width: 100%;
        height: 2px;
        border-bottom: 1px solid #212121;
        outline: none;
        background: #fff; }
  header .menu-link {
    margin: 18px 0px; }
  header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px; }
    @media (max-width: 1600px) {
      header .header-container {
        padding-top: 40px; } }
    @media (max-width: 1400px) {
      header .header-container {
        padding-top: 30px; } }
    @media (max-width: 920px) {
      header .header-container {
        display: block;
        position: relative; } }
    @media (max-width: 770px) {
      header .header-container {
        padding-top: 45px;
        padding-bottom: 25px; } }
    header .header-container input[type="checkbox"],
    header .header-container .hamburger-lines {
      display: none; }
      @media (max-width: 920px) {
        header .header-container input[type="checkbox"],
        header .header-container .hamburger-lines {
          display: block; } }
    @media (max-width: 920px) {
      header .header-container input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        right: 0px;
        z-index: 5;
        opacity: 0;
        cursor: pointer; } }
    @media (max-width: 770px) {
      header .header-container input[type="checkbox"] {
        height: 24px;
        width: 24px; } }
    @media (max-width: 500px) {
      header .header-container:checked ~ .logo {
        display: none; } }
    @media (max-width: 920px) {
      header .header-container .hamburger-lines {
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        right: 0px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between; } }
    @media (max-width: 770px) {
      header .header-container .hamburger-lines {
        height: 24px;
        width: 30px; } }
    @media (max-width: 920px) {
      header .header-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 4px;
        background: #F2F2F2; } }
    @media (max-width: 920px) {
      header .header-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out; } }
    @media (max-width: 920px) {
      header .header-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out; } }
    @media (max-width: 920px) {
      header .header-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out; } }
    @media (max-width: 920px) {
      header .header-container .logo {
        position: absolute;
        top: 15px;
        left: 0px; } }
    @media (max-width: 1400px) {
      header .header-container .logo img {
        width: 325px; } }
    @media (max-width: 1400px) {
      header .header-container .logo img {
        width: 300px; } }
    @media (max-width: 770px) {
      header .header-container .logo img {
        width: 200px; } }
    @media (max-width: 575px) {
      header .header-container .logo img {
        width: 170px; } }
  header .menu-items {
    display: flex;
    align-items: center; }
    @media (max-width: 920px) {
      header .menu-items {
        position: absolute;
        right: -30px;
        top: 0;
        padding-top: 100px;
        background: #212121;
        border-radius: 5px 0px 0px 5px;
        height: 100vh;
        width: 300px;
        transform: translate(150%);
        display: flex;
        flex-direction: column;
        transition: transform 0.5s ease-in-out;
        overflow: scroll; } }
    @media (max-width: 920px) {
      header .menu-items {
        width: 255px; } }
    header .menu-items li {
      list-style: none;
      margin-left: 35px; }
      @media (max-width: 1400px) {
        header .menu-items li {
          margin-left: 30px; } }
      @media (max-width: 1050px) {
        header .menu-items li {
          margin-left: 20px; } }
      @media (max-width: 920px) {
        header .menu-items li {
          margin-bottom: 28px; } }
      header .menu-items li:last-child a.is-active:after {
        background: transparent; }
      header .menu-items li .contact {
        padding: 10px 20px;
        text-decoration: none;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 60px;
        background-color: #212121;
        color: #fff !important; }
        header .menu-items li .contact:before {
          background: transparent;
          border: none; }

.progress-container {
  position: fixed;
  right: 30px;
  top: 50%;
  width: 1px;
  height: 100px;
  border-radius: 2px;
  margin: auto;
  border: 1px solid rgba(33, 33, 33, 0.5); }
  @media (max-width: 770px) {
    .progress-container {
      display: none !important; } }
  .progress-container .progress-bar {
    position: relative;
    width: 1px;
    background: #000;
    border-radius: 2px; }
    .progress-container .progress-bar:before {
      position: absolute;
      content: "";
      right: 0;
      bottom: 0px;
      left: -6px;
      width: 12px;
      height: 12px;
      background: #000;
      border-radius: 50%; }
    .progress-container .progress-bar::after {
      position: absolute;
      content: "SCROLL";
      right: 0;
      left: -10px;
      top: -20px;
      padding-bottom: 10px !important;
      transform: rotate(270deg);
      transform-origin: left top 0; }

.progress-container-mobile .progress-bar-mobile {
  position: fixed;
  height: 3px;
  background: #000;
  z-index: 999;
  left: 0; }
  @media all and (min-width: 770px) {
    .progress-container-mobile .progress-bar-mobile {
      display: none !important; } }

section {
  margin: 150px 0px; }
  @media all and (max-width: 1650px) {
    section {
      margin: 120px 0px; } }
  @media all and (max-width: 1450px) {
    section {
      margin: 100px 0px; } }
  @media all and (max-width: 1250px) {
    section {
      margin: 80px 0px; } }

.bannerSec {
  margin: 250px 0px 150px 0px; }
  .bannerSec h1 {
    line-height: 126px;
    width: 80%; }
  .bannerSec h5 {
    line-height: 54px;
    margin: 30px 0px 40px;
    width: 66%; }
  @media all and (max-width: 1850px) {
    .bannerSec h5 {
      width: 68%; } }
  @media all and (max-width: 1800px) {
    .bannerSec h1 {
      width: 75%; } }
  @media all and (max-width: 1650px) {
    .bannerSec {
      margin: 220px 0px 110px 0px; }
      .bannerSec h1 {
        width: 64%;
        line-height: 92px; }
      .bannerSec h5 {
        width: 71%;
        margin: 20px 0px 30px; } }
  @media all and (max-width: 1450px) {
    .bannerSec {
      margin: 200px 0px 70px 0px; }
      .bannerSec h1 {
        width: 68%; }
      .bannerSec h5 {
        width: 78%;
        line-height: 36px; } }
  @media all and (max-width: 1400px) {
    .bannerSec h1 {
      width: 66%;
      line-height: 90px; } }
  @media all and (max-width: 1250px) {
    .bannerSec {
      margin: 180px 0px 70px 0px; }
      .bannerSec h1 {
        width: 75%; }
      .bannerSec h5 {
        width: 90%;
        margin: 15px 0px 20px; } }
  @media all and (max-width: 1090px) {
    .bannerSec h1 {
      width: 83%; } }
  @media all and (max-width: 1024px) {
    .bannerSec h1 {
      width: 100%;
      line-height: 70px; }
    .bannerSec h5 {
      width: 100%;
      margin: 10px 0px 15px; } }
  @media all and (max-width: 900px) {
    .bannerSec h5 {
      line-height: 30px; } }
  @media all and (max-width: 650px) {
    .bannerSec h1 {
      line-height: 46px; } }

.solutionSec {
  background-color: #FAFAFA;
  padding: 124px 0px; }
  .solutionSec h2 {
    margin-bottom: 60px; }
  .solutionSec .solutionSlider {
    display: block;
    margin-left: -15px; }
    .solutionSec .solutionSlider .slick-track {
      display: flex !important;
      justify-content: space-between !important;
      margin-left: -20px; }
      .solutionSec .solutionSlider .slick-track .solutionBox {
        border: 1px solid rgba(33, 33, 33, 0.3);
        border-radius: 10px;
        padding: 40px 20px 40px 34px;
        width: 22% !important; }
        .solutionSec .solutionSlider .slick-track .solutionBox a {
          text-decoration: none;
          color: #000; }
          .solutionSec .solutionSlider .slick-track .solutionBox a img {
            width: 23px;
            height: 11px; }
        .solutionSec .solutionSlider .slick-track .solutionBox .solutionContent {
          border-top: 1px solid #000; }
        .solutionSec .solutionSlider .slick-track .solutionBox:hover {
          border: 1px solid #212121; }
        .solutionSec .solutionSlider .slick-track .solutionBox h3,
        .solutionSec .solutionSlider .slick-track .solutionBox p {
          padding-top: 20px;
          padding-bottom: 20px;
          line-height: 35px; }
    .solutionSec .solutionSlider .slick-dots li button::before {
      color: rgba(33, 33, 33, 0.6);
      border: 1px solid rgba(242, 242, 242, 0.4);
      border-radius: 60px;
      line-height: 20px;
      font-size: 14px; }
    .solutionSec .solutionSlider .slick-dots li.slick-active button:before {
      color: #212121;
      font-size: 14px;
      padding-right: 1px; }
    .solutionSec .solutionSlider .slick-slide img {
      display: inline-block; }
  @media all and (max-width: 1800px) {
    .solutionSec .solutionBox {
      padding: 40px 25px 40px 40px; } }
  @media all and (max-width: 1600px) {
    .solutionSec .solutionSlider .solutionBox {
      padding: 20px 15px 20px 20px; }
      .solutionSec .solutionSlider .solutionBox .iconImg {
        width: 40px; }
      .solutionSec .solutionSlider .solutionBox h3,
      .solutionSec .solutionSlider .solutionBox p {
        padding-top: 12px;
        padding-bottom: 15px; } }
  @media all and (max-width: 1024px) {
    .solutionSec .solutionSlider {
      display: block; }
      .solutionSec .solutionSlider .solutionBox {
        height: 530px;
        margin-bottom: 20px; } }

.sectors p {
  padding: 30px 0px 60px 0px; }
.sectors .sectorSlider .slick-track {
  margin-left: -20px; }
.sectors .sectorSlider .sectorBox .sectorContent {
  border: 1px solid #F1F1F1;
  border-radius: 10px;
  padding: 35px;
  margin: 20px 25px; }
  .sectors .sectorSlider .sectorBox .sectorContent:hover {
    background: #FAFAFA; }
  .sectors .sectorSlider .sectorBox .sectorContent h5 {
    padding: 25px 0px 15px 0px; }
  .sectors .sectorSlider .sectorBox .sectorContent a {
    text-decoration: none;
    color: #000; }
    .sectors .sectorSlider .sectorBox .sectorContent a img {
      width: 23px;
      height: 11px;
      display: inline-block; }
.sectors .sectorSlider .slick-prev,
.sectors .sectorSlider .slick-next {
  top: 100%;
  height: 0;
  margin-top: 20px; }
.sectors .sectorSlider .slick-prev {
  left: 1150px; }
  @media (max-width: 1950px) {
    .sectors .sectorSlider .slick-prev {
      left: 750px; } }
  @media (max-width: 1850px) {
    .sectors .sectorSlider .slick-prev {
      left: 670px; } }
  @media (max-width: 1650px) {
    .sectors .sectorSlider .slick-prev {
      left: 600px; } }
  @media (max-width: 1450px) {
    .sectors .sectorSlider .slick-prev {
      left: 550px; } }
  @media (max-width: 1300px) {
    .sectors .sectorSlider .slick-prev {
      left: 420px; } }
  @media (max-width: 1050px) {
    .sectors .sectorSlider .slick-prev {
      left: 390px; } }
  @media (max-width: 920px) {
    .sectors .sectorSlider .slick-prev {
      top: 98%;
      left: 325px; } }
  @media (max-width: 575px) {
    .sectors .sectorSlider .slick-prev {
      left: 145px; } }
  @media (max-width: 375px) {
    .sectors .sectorSlider .slick-prev {
      left: 105px; } }
  .sectors .sectorSlider .slick-prev:hover:before {
    opacity: 1; }
  .sectors .sectorSlider .slick-prev:focus:before {
    opacity: 1; }
  .sectors .sectorSlider .slick-prev:before {
    font-size: 38px;
    opacity: 0.5;
    content: url(../images/legal/left-sec-arrow.svg);
    background-repeat: no-repeat; }
    @media (max-width: 920px) {
      .sectors .sectorSlider .slick-prev:before {
        content: url(../images/left-arrow-mobile.svg); } }
    .sectors .sectorSlider .slick-prev:before:hover {
      opacity: 1; }
.sectors .sectorSlider .slick-next {
  right: 1150px; }
  @media (max-width: 1950px) {
    .sectors .sectorSlider .slick-next {
      right: 750px; } }
  @media (max-width: 1850px) {
    .sectors .sectorSlider .slick-next {
      right: 670px; } }
  @media (max-width: 1650px) {
    .sectors .sectorSlider .slick-next {
      right: 600px; } }
  @media (max-width: 1450px) {
    .sectors .sectorSlider .slick-next {
      right: 550px; } }
  @media (max-width: 1300px) {
    .sectors .sectorSlider .slick-next {
      right: 420px; } }
  @media (max-width: 1050px) {
    .sectors .sectorSlider .slick-next {
      right: 390px; } }
  @media (max-width: 920px) {
    .sectors .sectorSlider .slick-next {
      top: 98%;
      right: 325px; } }
  @media (max-width: 575px) {
    .sectors .sectorSlider .slick-next {
      right: 160px; } }
  @media (max-width: 375px) {
    .sectors .sectorSlider .slick-next {
      right: 120px; } }
  .sectors .sectorSlider .slick-next:hover:before {
    opacity: 1; }
  .sectors .sectorSlider .slick-next:focus:before {
    opacity: 1; }
  .sectors .sectorSlider .slick-next:before {
    font-size: 38px;
    opacity: 0.5;
    content: url(../images/legal/right-sec-arrow.svg);
    background-repeat: no-repeat; }
    @media (max-width: 920px) {
      .sectors .sectorSlider .slick-next:before {
        content: url(../images/right-arrow-mobile.svg); } }
    .sectors .sectorSlider .slick-next:before:hover {
      color: #fff; }

.advantageSec {
  background-color: #FAFAFA;
  padding: 116px 0px; }
  .advantageSec h2 {
    margin-bottom: 60px; }
  .advantageSec .advantageSlider {
    display: block;
    margin-left: -15px; }
    .advantageSec .advantageSlider .slick-track {
      display: flex !important;
      justify-content: space-between !important;
      margin-left: -20px; }
      .advantageSec .advantageSlider .slick-track .advantageBox {
        border: 1px solid rgba(33, 33, 33, 0.1);
        border-radius: 10px;
        padding: 40px 20px 40px 34px;
        width: 22% !important; }
        .advantageSec .advantageSlider .slick-track .advantageBox .advantageContent {
          border-top: 1px solid #000; }
        .advantageSec .advantageSlider .slick-track .advantageBox:hover {
          background: #F3F3F3;
          border: 1px solid #F3F3F3; }
        .advantageSec .advantageSlider .slick-track .advantageBox h3,
        .advantageSec .advantageSlider .slick-track .advantageBox p {
          padding-top: 20px;
          padding-bottom: 20px;
          line-height: 35px; }
    .advantageSec .advantageSlider .slick-dots li button::before {
      color: rgba(33, 33, 33, 0.6);
      border: 1px solid rgba(242, 242, 242, 0.4);
      border-radius: 60px;
      line-height: 20px;
      font-size: 14px; }
    .advantageSec .advantageSlider .slick-dots li.slick-active button:before {
      color: #212121;
      font-size: 14px;
      padding-right: 1px; }
    .advantageSec .advantageSlider .slick-slide img {
      display: inline-block; }
  @media all and (max-width: 1800px) {
    .advantageSec .advantageBox {
      padding: 40px 25px 40px 40px; } }
  @media all and (max-width: 1600px) {
    .advantageSec .advantageSlider .advantageBox {
      padding: 20px 15px 20px 20px; }
      .advantageSec .advantageSlider .advantageBox .iconImg {
        width: 40px; }
      .advantageSec .advantageSlider .advantageBox h3,
      .advantageSec .advantageSlider .advantageBox p {
        padding-top: 12px;
        padding-bottom: 15px; } }
  @media all and (max-width: 1024px) {
    .advantageSec .advantageSlider {
      display: block; }
      .advantageSec .advantageSlider .advantageBox {
        height: 530px;
        margin-bottom: 20px; } }

.testlegalSec {
  overflow: hidden !important; }
  .testlegalSec .testlegalSlider .slick-slide {
    margin: 0 26px; }
    @media (max-width: 480px) {
      .testlegalSec .testlegalSlider .slick-slide {
        margin: 0 16px; } }
  .testlegalSec .testlegalSlider .slick-list {
    margin: 60px -26px; }
    @media (max-width: 480px) {
      .testlegalSec .testlegalSlider .slick-list {
        margin: 0 -16px; } }
  .testlegalSec .testlegalSlider .slick-prev,
  .testlegalSec .testlegalSlider .slick-next {
    top: 100%;
    height: 0;
    margin-top: 20px; }
  .testlegalSec .testlegalSlider .slick-prev {
    left: 1150px; }
    @media (max-width: 1950px) {
      .testlegalSec .testlegalSlider .slick-prev {
        left: 750px; } }
    @media (max-width: 1850px) {
      .testlegalSec .testlegalSlider .slick-prev {
        left: 670px; } }
    @media (max-width: 1650px) {
      .testlegalSec .testlegalSlider .slick-prev {
        left: 600px; } }
    @media (max-width: 1450px) {
      .testlegalSec .testlegalSlider .slick-prev {
        left: 550px; } }
    @media (max-width: 1300px) {
      .testlegalSec .testlegalSlider .slick-prev {
        left: 420px; } }
    @media (max-width: 1050px) {
      .testlegalSec .testlegalSlider .slick-prev {
        left: 390px; } }
    @media (max-width: 920px) {
      .testlegalSec .testlegalSlider .slick-prev {
        top: 98%;
        left: 325px; } }
    @media (max-width: 575px) {
      .testlegalSec .testlegalSlider .slick-prev {
        left: 145px; } }
    @media (max-width: 375px) {
      .testlegalSec .testlegalSlider .slick-prev {
        left: 105px; } }
    .testlegalSec .testlegalSlider .slick-prev:hover:before {
      opacity: 1; }
    .testlegalSec .testlegalSlider .slick-prev:focus:before {
      opacity: 1; }
    .testlegalSec .testlegalSlider .slick-prev:before {
      font-size: 38px;
      opacity: 0.5;
      content: url(../images/legal/left-sec-arrow.svg);
      background-repeat: no-repeat; }
      @media (max-width: 920px) {
        .testlegalSec .testlegalSlider .slick-prev:before {
          content: url(../images/left-arrow-mobile.svg); } }
      .testlegalSec .testlegalSlider .slick-prev:before:hover {
        opacity: 1; }
  .testlegalSec .testlegalSlider .slick-next {
    right: 1150px; }
    @media (max-width: 1950px) {
      .testlegalSec .testlegalSlider .slick-next {
        right: 750px; } }
    @media (max-width: 1850px) {
      .testlegalSec .testlegalSlider .slick-next {
        right: 670px; } }
    @media (max-width: 1650px) {
      .testlegalSec .testlegalSlider .slick-next {
        right: 600px; } }
    @media (max-width: 1450px) {
      .testlegalSec .testlegalSlider .slick-next {
        right: 550px; } }
    @media (max-width: 1300px) {
      .testlegalSec .testlegalSlider .slick-next {
        right: 420px; } }
    @media (max-width: 1050px) {
      .testlegalSec .testlegalSlider .slick-next {
        right: 390px; } }
    @media (max-width: 920px) {
      .testlegalSec .testlegalSlider .slick-next {
        top: 98%;
        right: 325px; } }
    @media (max-width: 575px) {
      .testlegalSec .testlegalSlider .slick-next {
        right: 160px; } }
    @media (max-width: 375px) {
      .testlegalSec .testlegalSlider .slick-next {
        right: 120px; } }
    .testlegalSec .testlegalSlider .slick-next:hover:before {
      opacity: 1; }
    .testlegalSec .testlegalSlider .slick-next:focus:before {
      opacity: 1; }
    .testlegalSec .testlegalSlider .slick-next:before {
      font-size: 38px;
      opacity: 0.5;
      content: url(../images/legal/right-sec-arrow.svg);
      background-repeat: no-repeat; }
      @media (max-width: 920px) {
        .testlegalSec .testlegalSlider .slick-next:before {
          content: url(../images/right-arrow-mobile.svg); } }
      .testlegalSec .testlegalSlider .slick-next:before:hover {
        color: #fff; }
  .testlegalSec .testlegalSlider .testimonialsLegal {
    display: flex;
    justify-content: space-between;
    background: #F3F3F3;
    border-radius: 10px;
    padding: 62px 162px 90px 152px; }
    @media (max-width: 1600px) {
      .testlegalSec .testlegalSlider .testimonialsLegal {
        padding: 60px 100px; } }
    @media (max-width: 1450px) {
      .testlegalSec .testlegalSlider .testimonialsLegal {
        padding: 60px 50px; } }
    @media (max-width: 920px) {
      .testlegalSec .testlegalSlider .testimonialsLegal {
        display: block;
        padding: 25px 22px; } }
    .testlegalSec .testlegalSlider .testimonialsLegal .profile {
      width: 26%;
      margin-left: -65px; }
      @media (max-width: 920px) {
        .testlegalSec .testlegalSlider .testimonialsLegal .profile {
          width: 100%;
          display: flex;
          align-items: center;
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
          padding-bottom: 20px; } }
      .testlegalSec .testlegalSlider .testimonialsLegal .profile img {
        margin: 0 auto;
        max-width: 100%; }
        @media (max-width: 920px) {
          .testlegalSec .testlegalSlider .testimonialsLegal .profile img {
            margin: 0;
            width: 150px; } }
        @media (max-width: 575px) {
          .testlegalSec .testlegalSlider .testimonialsLegal .profile img {
            width: 80px; } }
      .testlegalSec .testlegalSlider .testimonialsLegal .profile .profileInfo {
        margin-top: 20px; }
        @media (max-width: 920px) {
          .testlegalSec .testlegalSlider .testimonialsLegal .profile .profileInfo {
            padding: 0 35px; } }
        @media (max-width: 575px) {
          .testlegalSec .testlegalSlider .testimonialsLegal .profile .profileInfo {
            padding: 0 15px; } }
        .testlegalSec .testlegalSlider .testimonialsLegal .profile .profileInfo h4 {
          margin-bottom: 10px;
          text-align: center; }
          @media (max-width: 920px) {
            .testlegalSec .testlegalSlider .testimonialsLegal .profile .profileInfo h4 {
              text-align: left; } }
        .testlegalSec .testlegalSlider .testimonialsLegal .profile .profileInfo p {
          text-align: center; }
          @media (max-width: 920px) {
            .testlegalSec .testlegalSlider .testimonialsLegal .profile .profileInfo p {
              text-align: left; } }
    .testlegalSec .testlegalSlider .testimonialsLegal .description {
      position: relative;
      width: 72%; }
      @media (max-width: 920px) {
        .testlegalSec .testlegalSlider .testimonialsLegal .description {
          padding: 0px;
          width: 100%; } }
      .testlegalSec .testlegalSlider .testimonialsLegal .description p {
        padding-top: 30px; }
      .testlegalSec .testlegalSlider .testimonialsLegal .description img {
        position: absolute;
        top: -17px; }
        @media (max-width: 1450px) {
          .testlegalSec .testlegalSlider .testimonialsLegal .description img {
            top: -40px; } }
        @media (max-width: 920px) {
          .testlegalSec .testlegalSlider .testimonialsLegal .description img {
            width: 55px;
            height: 50px;
            top: 10px; } }
    .testlegalSec .testlegalSlider .testimonialsLegal .testlegalDesktop {
      display: block; }
      @media (max-width: 920px) {
        .testlegalSec .testlegalSlider .testimonialsLegal .testlegalDesktop {
          display: none; } }
    .testlegalSec .testlegalSlider .testimonialsLegal .testlegalMobile {
      display: none; }
      @media (max-width: 920px) {
        .testlegalSec .testlegalSlider .testimonialsLegal .testlegalMobile {
          display: block; } }
      .testlegalSec .testlegalSlider .testimonialsLegal .testlegalMobile a:visited, .testlegalSec .testlegalSlider .testimonialsLegal .testlegalMobile a:hover, .testlegalSec .testlegalSlider .testimonialsLegal .testlegalMobile a:active, .testlegalSec .testlegalSlider .testimonialsLegal .testlegalMobile a:focus {
        outline: none;
        text-decoration: none;
        color: #6A6A6A; }

.clientlogoSec .logosSlider {
  display: block; }
  .clientlogoSec .logosSlider .logosBox {
    border-right: 1px solid #EEEEEE; }
    .clientlogoSec .logosSlider .logosBox img {
      margin: auto; }

.contact {
  margin: 150px 0px; }
  @media all and (max-width: 1400px) {
    .contact {
      margin: 75px 0px; } }
  .contact .contactBox {
    display: flex; }
  .contact .contactDesc {
    width: 50%; }
    .contact .contactDesc h2 {
      margin-bottom: 30px; }
    .contact .contactDesc p {
      width: 80%; }
  .contact .contactForm {
    width: 50%;
    margin-left: 180px; }
    @media all and (max-width: 1400px) {
      .contact .contactForm {
        margin-left: 100px; } }
    .contact .contactForm form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .contact .contactForm form input[type=text],
      .contact .contactForm form [type=number],
      .contact .contactForm form [type=mail],
      .contact .contactForm form textarea {
        width: 100%;
        padding: 14px 15px;
        border: 2px solid transparent;
        border-radius: 5px;
        box-sizing: border-box;
        margin-top: 15px;
        margin-bottom: 50px;
        resize: vertical;
        background: rgba(215, 215, 215, 0.3);
        font-size: 20px; }
        .contact .contactForm form input[type=text]:focus,
        .contact .contactForm form [type=number]:focus,
        .contact .contactForm form [type=mail]:focus,
        .contact .contactForm form textarea:focus {
          background: rgba(243, 243, 243, 0.7);
          border: 2px solid #212121; }
        @media all and (max-width: 1400px) {
          .contact .contactForm form input[type=text],
          .contact .contactForm form [type=number],
          .contact .contactForm form [type=mail],
          .contact .contactForm form textarea {
            font-size: 17px;
            margin-top: 10px;
            margin-bottom: 30px; } }
      .contact .contactForm form textarea {
        margin-bottom: 20px;
        height: 166px; }
        @media all and (max-width: 1400px) {
          .contact .contactForm form textarea {
            height: 120px; } }
      .contact .contactForm form .submit input[type=submit] {
        background: #212121;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 60px;
        padding: 10px 25px;
        font-size: 18px;
        cursor: pointer; }
        @media all and (max-width: 1400px) {
          .contact .contactForm form .submit input[type=submit] {
            font-size: 16px; } }
      .contact .contactForm form .submit p {
        margin-bottom: 40px;
        font-size: 14px; }
        @media all and (max-width: 1400px) {
          .contact .contactForm form .submit p {
            margin-bottom: 25px; } }
      .contact .contactForm form .submit a {
        text-decoration: none; }
    .contact .contactForm .formDivider {
      width: 45%; }
      @media all and (max-width: 1400px) {
        .contact .contactForm .formDivider {
          width: 47%; } }
      .contact .contactForm .formDivider label {
        font-size: 16px; }
        @media all and (max-width: 1400px) {
          .contact .contactForm .formDivider label {
            font-size: 14px; } }
    .contact .contactForm .aboutQuery {
      width: 100%; }
      .contact .contactForm .aboutQuery label {
        font-size: 16px; }
        @media all and (max-width: 1400px) {
          .contact .contactForm .aboutQuery label {
            font-size: 14px; } }

.contactDetails {
  background: rgba(194, 194, 194, 0.2);
  padding: 50px 0px;
  margin: 0; }
  @media all and (max-width: 1400px) {
    .contactDetails {
      padding: 30px 0px; } }
  .contactDetails .contactDetailsBox {
    display: flex;
    margin-bottom: 60px; }
    .contactDetails .contactDetailsBox .address {
      width: 75%;
      position: relative; }
      @media all and (max-width: 1400px) {
        .contactDetails .contactDetailsBox .address {
          width: 70%; } }
      .contactDetails .contactDetailsBox .address:after {
        content: "";
        position: absolute;
        height: 166px;
        right: 60px;
        opacity: 0.1;
        border: 1px solid #212121;
        top: 0; }
      .contactDetails .contactDetailsBox .address .addTitle {
        display: flex;
        margin-bottom: 5px;
        align-items: center; }
        .contactDetails .contactDetailsBox .address .addTitle img {
          margin-right: 25px; }
          @media all and (max-width: 1400px) {
            .contactDetails .contactDetailsBox .address .addTitle img {
              width: 35px; } }
      .contactDetails .contactDetailsBox .address .addressBox {
        display: flex;
        margin-left: 70px; }
        @media all and (max-width: 1400px) {
          .contactDetails .contactDetailsBox .address .addressBox {
            margin-left: 60px; } }
        .contactDetails .contactDetailsBox .address .addressBox .addressBoxDetails {
          width: 30.7%; }
    .contactDetails .contactDetailsBox .contactRight {
      width: 25%; }
      @media all and (max-width: 1400px) {
        .contactDetails .contactDetailsBox .contactRight {
          width: 30%; } }
      .contactDetails .contactDetailsBox .contactRight .addTitle {
        display: flex;
        margin-bottom: 5px;
        align-items: center; }
        .contactDetails .contactDetailsBox .contactRight .addTitle img {
          margin-right: 25px; }
          @media all and (max-width: 1400px) {
            .contactDetails .contactDetailsBox .contactRight .addTitle img {
              width: 35px; } }
      .contactDetails .contactDetailsBox .contactRight .contactRightDetails {
        margin-left: 70px; }
        @media all and (max-width: 1400px) {
          .contactDetails .contactDetailsBox .contactRight .contactRightDetails {
            margin-left: 60px; } }
        .contactDetails .contactDetailsBox .contactRight .contactRightDetails p {
          margin-bottom: 5px;
          margin-bottom: 5px; }
        .contactDetails .contactDetailsBox .contactRight .contactRightDetails a {
          text-decoration: none; }
  .contactDetails .info {
    display: flex;
    align-items: center; }
    .contactDetails .info img {
      margin-right: 10px; }
      @media all and (max-width: 1400px) {
        .contactDetails .info img {
          width: 20px; } }

.subSectors {
  margin-top: 100px;
  color: #212121; }
  .subSectors .subSectors-heading {
    margin-bottom: 30px; }
  .subSectors .subSectors-content {
    width: 80%;
    margin-left: 15.60px; }
    .subSectors .subSectors-content li {
      margin-bottom: 30px;
      line-height: 125%;
      text-transform: capitalize;
      font-family: 'Poppins' !important; }
  .subSectors .subSectors-Cta {
    margin-top: 40px; }
    .subSectors .subSectors-Cta a {
      text-decoration: none;
      background-color: #212121;
      color: white;
      border: 1px solid #212121;
      border-radius: 60px;
      padding: 12px 30px;
      vertical-align: middle;
      transition: 0.3s all ease; }
      .subSectors .subSectors-Cta a:visited, .subSectors .subSectors-Cta a:active, .subSectors .subSectors-Cta a:focus {
        text-decoration: none;
        color: white;
        background-color: #212121;
        border: 1px solid #212121;
        border-radius: 60px;
        padding: 12px 30px;
        vertical-align: middle; }
      .subSectors .subSectors-Cta a img {
        vertical-align: middle;
        opacity: 1;
        width: auto;
        margin-left: 5px; }
  @media all and (max-width: 2000px) {
    .subSectors .subSectors-content {
      width: 80%;
      margin-left: 20px; } }
  @media all and (max-width: 1800px) {
    .subSectors .subSectors-content {
      width: 80%;
      margin-left: 18.5px; } }
  @media all and (max-width: 1650px) {
    .subSectors .subSectors-content {
      width: 84%;
      margin-left: 18.5px; } }
  @media all and (max-width: 1600px) {
    .subSectors .subSectors-content {
      width: 80%;
      margin-left: 16.5px; } }
  @media all and (max-width: 1460px) {
    .subSectors .subSectors-content {
      width: 90%; } }
  @media all and (max-width: 1280px) {
    .subSectors .subSectors-content {
      width: 95%; } }
  @media all and (max-width: 1050px) {
    .subSectors .subSectors-content {
      width: 90%; } }
  @media all and (max-width: 680px) {
    .subSectors .subSectors-content {
      width: 100%; }
    .subSectors .subSectors-Cta {
      margin-top: 20px; } }

footer {
  position: relative;
  bottom: 0;
  background-color: #252525; }
  footer li {
    list-style: none; }
  footer .footerSec {
    padding: 80px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(242, 242, 242, 0.6); }
    footer .footerSec .footerSub {
      border-right: 1px solid rgba(255, 255, 255, 0.1);
      padding: 0px 54px 80px 54px; }
      footer .footerSec .footerSub h4 {
        margin-bottom: 50px; }
      footer .footerSec .footerSub ul li {
        margin-bottom: 15px; }
        footer .footerSec .footerSub ul li:nth-last-child(1) {
          margin-bottom: 0px; }
      footer .footerSec .footerSub:nth-child(1) {
        width: 19%;
        padding-left: 0px;
        display: flex;
        flex-flow: column;
        justify-content: space-between; }
        footer .footerSec .footerSub:nth-child(1) a {
          display: block; }
      footer .footerSec .footerSub:nth-child(2) {
        width: 25%; }
      footer .footerSec .footerSub:nth-child(3) {
        width: 44%; }
      footer .footerSec .footerSub:nth-child(4) {
        width: 12%;
        border-right: none;
        padding-right: 0px; }
      footer .footerSec .footerSub a {
        text-decoration: none; }
      footer .footerSec .footerSub .subSector .sectorftSub {
        width: 100%; }
        footer .footerSec .footerSub .subSector .sectorftSub ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between; }
          footer .footerSec .footerSub .subSector .sectorftSub ul li {
            width: 30%; }
      footer .footerSec .footerSub .socialmediaIcons ul {
        display: flex;
        justify-content: space-between; }
        footer .footerSec .footerSub .socialmediaIcons ul li {
          margin-bottom: 0px !important; }
          footer .footerSec .footerSub .socialmediaIcons ul li img {
            height: 45px;
            width: 45px; }
      footer .footerSec .footerSub .quickLinksft ul li {
        margin-bottom: 0px !important; }
    footer .footerSec .socialmediaIcons-btm {
      display: none !important;
      width: 0; }
  footer .footerLinks {
    display: flex;
    justify-content: space-between;
    padding: 25px 0px; }
    footer .footerLinks .linksFt a {
      text-decoration: none; }
      footer .footerLinks .linksFt a:nth-child(1) {
        margin-right: 50px; }
    footer .footerLinks .copyRight {
      display: flex;
      align-items: center; }
      footer .footerLinks .copyRight img {
        margin-right: 10px; }
    @media all and (max-width: 1024px) {
      footer .footerLinks {
        display: block; }
        footer .footerLinks .copyRight {
          margin-top: 20px; } }
  @media all and (max-width: 1800px) {
    footer .footerSec .footerSub {
      padding: 0px 40px 80px 40px; } }
  @media all and (max-width: 1650px) {
    footer .footerSec {
      padding: 60px 0px 0px 0px; }
      footer .footerSec .footerSub {
        padding: 0px 30px 60px 30px; }
        footer .footerSec .footerSub h4 {
          margin-bottom: 25px; }
        footer .footerSec .footerSub:nth-child(1) .footerLogo img {
          width: 239px; }
        footer .footerSec .footerSub:nth-child(2) {
          width: 25%; }
        footer .footerSec .footerSub:nth-child(3) {
          width: 43%; }
        footer .footerSec .footerSub .socialmediaIcons ul li img {
          height: 35px;
          width: 35px; } }
  @media all and (max-width: 1450px) {
    footer .footerSec .footerSub {
      padding: 0px 40px 40px 40px; }
      footer .footerSec .footerSub ul li {
        margin-bottom: 20px; }
      footer .footerSec .footerSub:nth-child(1) .footerLogo img {
        width: 200px; } }
  @media all and (max-width: 1280px) {
    footer .footerSec {
      padding: 40px 0px 0px 0px; }
      footer .footerSec .footerSub {
        padding: 0px 25px 30px 25px; } }
  @media all and (max-width: 1090px) {
    footer .footerSec .footerSub {
      padding: 0px 20px 30px 20px; } }
  @media all and (max-width: 1024px) {
    footer .footerSec .footerSub:nth-child(1) {
      width: 22%; }
    footer .footerSec .footerSub:nth-child(2) {
      width: 25%; }
    footer .footerSec .footerSub:nth-child(3) {
      width: 40%; }
    footer .footerSec .footerSub:nth-child(4) {
      width: 12%; }
    footer .footerSec .footerSub .subSector .sectorftSub ul li {
      width: 48%; } }
  @media all and (max-width: 900px) {
    footer .footerSec {
      display: block;
      padding: 30px 0px 0px 0px; }
      footer .footerSec .footerSub {
        padding: 0px 0px 30px 0px;
        border-right: none; }
        footer .footerSec .footerSub ul li {
          width: 48%; }
        footer .footerSec .footerSub:nth-child(1) {
          width: 100%; }
          footer .footerSec .footerSub:nth-child(1) .footerLogo {
            border-bottom: 1px solid rgba(242, 242, 242, 0.6);
            padding-bottom: 30px; }
            footer .footerSec .footerSub:nth-child(1) .footerLogo img {
              width: 120px; }
        footer .footerSec .footerSub:nth-child(2) {
          width: 100%; }
          footer .footerSec .footerSub:nth-child(2) ul {
            display: flex;
            flex-flow: wrap;
            justify-content: space-between; }
        footer .footerSec .footerSub:nth-child(3) {
          padding: 0px 0px 10px 0px;
          width: 100%; }
        footer .footerSec .footerSub:nth-child(4) {
          width: 100%; }
          footer .footerSec .footerSub:nth-child(4) ul {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap; }
            footer .footerSec .footerSub:nth-child(4) ul .quickLinksft ul li {
              width: 100% !important; }
        footer .footerSec .footerSub .socialmediaIcons {
          display: none; }
      footer .footerSec .socialmediaIcons-btm {
        display: block !important;
        width: auto;
        margin-bottom: 40px; }
        footer .footerSec .socialmediaIcons-btm ul {
          display: flex; }
          footer .footerSec .socialmediaIcons-btm ul li {
            margin-right: 30px; }
            footer .footerSec .socialmediaIcons-btm ul li:nth-child(4) {
              margin-right: 0px; }
            footer .footerSec .socialmediaIcons-btm ul li img {
              width: 35px;
              height: 35px; } }
  @media all and (max-width: 575px) {
    footer .footerLinks .copyRight {
      align-items: flex-start; } }

/*# sourceMappingURL=legal_main.css.map */
