@import url(vendor/fullpage.css);
@import url(vendor/slick.css);
@import url(vendor/slick-theme.css);
@import url(vendor/slider.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none; }

body {
  background: #212121;
  scroll-behavior: smooth; }

ul, ol, li, h1, h2, h3, h4, h5, h6, a, p {
  margin: 0;
  outline: none;
  padding: 0; }

.wrapper {
  padding: 0px 150px; }

/************************************************ Common CSS **************************************************/
.font130 {
  font-size: 130px; }

.font64 {
  font-size: 64px; }

.font55 {
  font-size: 55px; }

.font48 {
  font-size: 48px; }

.font30 {
  font-size: 30px; }

.font24 {
  font-size: 24px; }

.font22 {
  font-size: 22px; }

.font20 {
  font-size: 20px; }

.font18 {
  font-size: 18px; }

.font16 {
  font-size: 16px; }

.fontW300 {
  font-weight: 300; }

.fontW400 {
  font-weight: 400; }

.fontW500 {
  font-weight: 500; }

.fontW700 {
  font-weight: 700; }

.fontPoppins {
  font-family: 'Poppins', sans-serif; }

.fontRoboto {
  font-family: 'Roboto', sans-serif; }

.colorW {
  color: #FFFFFF; }

.coloroffW {
  color: #F2F2F2; }

.colorlightGray {
  color: #C2C2C2; }

.colordarkGray {
  color: #6A6A6A; }

.slick-track {
  display: flex !important; }

.slick-slide {
  height: inherit !important; }

/****************************************************Media Queries***********************************************************/
@media all and (max-width: 1800px) {
  .wrapper {
    padding: 0px 130px; }

  .font130 {
    font-size: 130px; }

  .font64 {
    font-size: 64px; }

  .font48 {
    font-size: 48px; }

  .font30 {
    font-size: 26px; }

  .font24 {
    font-size: 22px; }

  .font20 {
    font-size: 18px; } }
@media all and (max-width: 1600px) {
  .wrapper {
    padding: 0px 70px; }

  .font64 {
    font-size: 54px; }

  .font48 {
    font-size: 38px; } }
@media all and (max-width: 1400px) {
  .wrapper {
    padding: 0px 50px; }

  .font48 {
    font-size: 28px; }

  .font30 {
    font-size: 22px; }

  .font24 {
    font-size: 18px; }

  .font20 {
    font-size: 16px; }

  .font22 {
    font-size: 20px; } }
@media all and (max-width: 1280px) {
  .font30 {
    font-size: 20px; }

  .font24 {
    font-size: 16px; }

  .font20 {
    font-size: 13px; }

  .font22 {
    font-size: 18px; } }
@media all and (max-width: 1024px) {
  .wrapper {
    padding: 0px 60px; }

  .font130 {
    font-size: 130px; }

  .font64 {
    font-size: 64px; }

  .font48 {
    font-size: 24px; }

  .font30 {
    font-size: 20px; }

  .font24 {
    font-size: 17px; }

  .font22 {
    font-size: 18px; }

  .font20 {
    font-size: 14px; }

  .font18 {
    font-size: 18px; }

  .font16 {
    font-size: 16px; } }
@media all and (max-width: 900px) {
  .wrapper {
    padding: 0px 40px; } }
@media all and (max-width: 768px) {
  .wrapper {
    padding: 0px 20px; } }
#fp-nav ul li a span {
  background-color: #fff !important; }

h2 {
  text-align: left;
  margin-bottom: 60px; }

.serviceSec .serviceSlider {
  display: block; }
  .serviceSec .serviceSlider .servicesBox {
    border: 1px solid rgba(177, 177, 177, 0.2);
    border-radius: 10px;
    padding: 54px 0px 54px 38px;
    width: 23%;
    margin: 0px 15px; }
    .serviceSec .serviceSlider .servicesBox:hover {
      background-color: #252525; }
    .serviceSec .serviceSlider .servicesBox h3,
    .serviceSec .serviceSlider .servicesBox p {
      padding-top: 20px;
      padding-bottom: 30px; }
    .serviceSec .serviceSlider .servicesBox .serviceList {
      border-top: 1px solid rgba(242, 242, 242, 0.6);
      margin-right: 38px;
      padding-top: 36px; }
      .serviceSec .serviceSlider .servicesBox .serviceList > * {
        list-style: none;
        padding: 0px;
        margin-left: 15px; }
      .serviceSec .serviceSlider .servicesBox .serviceList ul {
        margin-left: 46px; }
        .serviceSec .serviceSlider .servicesBox .serviceList ul li {
          margin-top: 20px;
          position: relative;
          list-style: none; }
          .serviceSec .serviceSlider .servicesBox .serviceList ul li::before {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            color: #414141;
            top: 8px;
            left: -40px;
            border-radius: 50%;
            text-align: center;
            background-color: #414141;
            font-size: 18px; }
      .serviceSec .serviceSlider .servicesBox .serviceList ol {
        counter-reset: item; }
        .serviceSec .serviceSlider .servicesBox .serviceList ol li {
          counter-increment: item;
          color: #fff;
          padding-left: 35px;
          position: relative;
          margin-bottom: 34px; }
          .serviceSec .serviceSlider .servicesBox .serviceList ol li::before {
            content: counter(item) "";
            position: absolute;
            width: 38px;
            height: 34px;
            color: #fff;
            top: 0px;
            left: -22px;
            border-radius: 50%;
            text-align: center;
            background-color: #414141;
            font-size: 18px;
            padding-top: 5px; }
      .serviceSec .serviceSlider .servicesBox .serviceList p {
        margin-bottom: 30px; }
      .serviceSec .serviceSlider .servicesBox .serviceList a {
        color: #fff;
        text-decoration: none;
        border: 1px solid rgba(177, 177, 177, 0.2);
        border-radius: 40px;
        padding: 12px 26px; }
        .serviceSec .serviceSlider .servicesBox .serviceList a img {
          transition: 0.6s all; }
        .serviceSec .serviceSlider .servicesBox .serviceList a:hover img {
          margin-left: 20px; }
      .serviceSec .serviceSlider .servicesBox .serviceList .close {
        position: absolute;
        top: 0;
        right: 300px;
        width: 35px;
        height: 30px;
        background: #000;
        color: #fff;
        cursor: pointer;
        border: 0; }
      .serviceSec .serviceSlider .servicesBox .serviceList .mask {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(33, 33, 33, 0.5);
        backdrop-filter: blur(5px);
        z-index: 50;
        visibility: hidden;
        opacity: 0;
        transition: 0.7s; }
      .serviceSec .serviceSlider .servicesBox .serviceList .modal {
        position: fixed;
        top: 0%;
        left: 0%;
        width: 1619px;
        height: 823px;
        background: #252525;
        z-index: 100;
        visibility: hidden;
        opacity: 0;
        transition: 0.5s ease-out; }
        .serviceSec .serviceSlider .servicesBox .serviceList .modal .modalContent {
          padding: 10px 70px; }
          .serviceSec .serviceSlider .servicesBox .serviceList .modal .modalContent .modalList {
            display: flex;
            justify-content: space-between;
            align-items: flex-start; }
            .serviceSec .serviceSlider .servicesBox .serviceList .modal .modalContent .modalList ul {
              width: 36%; }
              .serviceSec .serviceSlider .servicesBox .serviceList .modal .modalContent .modalList ul li {
                margin-bottom: 40px; }
      .serviceSec .serviceSlider .servicesBox .serviceList .active {
        visibility: visible;
        opacity: 1; }
      .serviceSec .serviceSlider .servicesBox .serviceList .active + .modal {
        visibility: visible;
        opacity: 1; }
    @media all and (max-width: 1800px) {
      .serviceSec .serviceSlider .servicesBox {
        padding: 50px 0px 50px 32px; } }
    @media all and (max-width: 1600px) {
      .serviceSec .serviceSlider .servicesBox {
        padding: 44px 0px 44px 20px; } }
    @media all and (max-width: 1400px) {
      .serviceSec .serviceSlider .servicesBox {
        width: 23%;
        margin-top: 30px;
        margin-left: 20px; } }
    @media all and (max-width: 1250px) {
      .serviceSec .serviceSlider .servicesBox .serviceList a {
        padding: 10px 20px; }
      .serviceSec .serviceSlider .servicesBox .serviceList ol li::before {
        width: 27px;
        height: 21px;
        padding-top: 4px;
        font-size: 12px; } }
    @media all and (max-width: 1024px) {
      .serviceSec .serviceSlider .servicesBox {
        height: 530px;
        margin-bottom: 20px; } }
  .serviceSec .serviceSlider .slick-dots li button::before {
    color: transparent;
    border: 1px solid rgba(242, 242, 242, 0.4);
    border-radius: 60px; }
  .serviceSec .serviceSlider .slick-dots li.slick-active button:before {
    color: rgba(242, 242, 242, 0.6);
    font-size: 57px; }
  .serviceSec .serviceSlider .slick-slide img {
    display: inline-block; }
  @media all and (max-width: 1024px) {
    .serviceSec .serviceSlider {
      display: block; } }

.teamSec {
  display: flex;
  justify-content: space-between; }
  .teamSec .teamMembers {
    width: 48%;
    position: relative;
    margin-top: 20px; }
    .teamSec .teamMembers .close {
      position: absolute;
      top: 0;
      right: 300px;
      width: 35px;
      height: 30px;
      background: #000;
      color: #fff;
      cursor: pointer;
      border: 0; }
    .teamSec .teamMembers .mask {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(33, 33, 33, 0.5);
      backdrop-filter: blur(5px);
      z-index: 50;
      visibility: hidden;
      opacity: 0;
      transition: 0.7s; }
    .teamSec .teamMembers .modal {
      position: fixed;
      top: 0%;
      left: 0%;
      width: 1619px;
      height: 823px;
      background: #252525;
      z-index: 100;
      visibility: hidden;
      opacity: 0;
      transition: 0.5s ease-out; }
      .teamSec .teamMembers .modal .modalContent {
        padding: 10px 70px; }
    .teamSec .teamMembers .active {
      visibility: visible;
      opacity: 1; }
    .teamSec .teamMembers .active + .modal {
      visibility: visible;
      opacity: 1; }
    .teamSec .teamMembers a {
      text-decoration: none;
      padding: 85px 0px;
      text-align: center;
      position: absolute;
      bottom: -2px;
      left: 0;
      right: 0;
      width: 100%;
      background: linear-gradient(180deg, rgba(13, 13, 13, 0) 8.82%, rgba(33, 33, 33, 0.88) 45.31%, #212121 91.77%); }
      .teamSec .teamMembers a img {
        transition: 0.6s all; }
      .teamSec .teamMembers a:hover img {
        margin-left: 20px; }
    .teamSec .teamMembers .memberImg {
      max-width: 100%; }
  @media all and (max-width: 1024px) {
    .teamSec {
      display: block; }
      .teamSec .teamMembers {
        width: 100%; } }

.clientsBox .clientSec {
  display: flex;
  justify-content: space-between; }
  .clientsBox .clientSec .tabs {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 230px;
    border: 1px solid rgba(242, 242, 242, 0.2);
    border-radius: 60px; }
    .clientsBox .clientSec .tabs h3 {
      text-align: center;
      color: #94969A;
      padding-top: 15px;
      padding-bottom: 15px;
      cursor: pointer;
      z-index: 3;
      font-size: 12px;
      transition: .3s;
      width: 48%; }
      .clientsBox .clientSec .tabs h3.active {
        color: #fff; }
      .clientsBox .clientSec .tabs h3 a {
        text-decoration: none; }
    .clientsBox .clientSec .tabs .bg {
      z-index: 1;
      position: absolute;
      left: -1px;
      top: -1px;
      width: 115px;
      height: calc(100% + 2px);
      background: #6A6A6A;
      border: 1px solid rgba(242, 242, 242, 0.2);
      border-radius: 60px;
      transition: .3s; }
.clientsBox .tabs-content div[id$="tab-content"] {
  display: none; }
.clientsBox .tabs-content .active {
  display: block !important; }
.clientsBox .tabs-content .flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .clientsBox .tabs-content .flex .content,
  .clientsBox .tabs-content .flex .contentOne {
    width: 23%;
    border: 1px solid lightgrey;
    display: none;
    padding: 90px;
    margin-top: 20px; }
    @media all and (max-width: 1400px) {
      .clientsBox .tabs-content .flex .content,
      .clientsBox .tabs-content .flex .contentOne {
        width: 48%; } }
.clientsBox .tabs-content #loadMore,
.clientsBox .tabs-content #loadMoretab {
  text-align: center;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  margin-top: 40px; }
.clientsBox .noContent {
  color: #000 !important;
  background-color: transparent !important;
  pointer-events: none; }

.caseStudies .flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .caseStudies .flex .contentThree {
    width: 23%;
    border: 1px solid lightgrey;
    display: none;
    padding: 90px;
    margin-top: 20px;
    background-color: #252525;
    border: 1px solid #1C1C1C;
    border-radius: 10px; }
    @media all and (max-width: 1400px) {
      .caseStudies .flex .contentThree {
        width: 48%; } }
.caseStudies #loadMorethree {
  text-align: center;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  margin-top: 40px; }
.caseStudies .noContent {
  color: #000 !important;
  background-color: transparent !important;
  pointer-events: none; }

.contactSec .contactBox {
  display: flex;
  justify-content: space-between;
  background-color: #252525;
  border-radius: 10px;
  padding: 90px 0px; }
  .contactSec .contactBox .contDec {
    width: 35%;
    padding: 0px 90px; }
    .contactSec .contactBox .contDec:nth-child(2) {
      border-left: 1px solid rgba(255, 255, 255, 0.1);
      border-right: 1px solid rgba(255, 255, 255, 0.1);
      width: 28%; }
    .contactSec .contactBox .contDec h4 {
      padding: 42px 0px 24px 0px; }
    .contactSec .contactBox .contDec .mailDesc {
      margin-bottom: 80px; }
    .contactSec .contactBox .contDec a {
      text-decoration: none; }
    .contactSec .contactBox .contDec .icon-1 {
      border: 1px solid #fff;
      border-radius: 50%;
      width: 70px;
      height: 70px;
      padding: 12px; }
    .contactSec .contactBox .contDec ol {
      counter-reset: item;
      list-style: none; }
      .contactSec .contactBox .contDec ol li {
        counter-increment: item;
        color: #fff;
        padding-left: 53px;
        position: relative;
        margin-bottom: 34px; }
        .contactSec .contactBox .contDec ol li::before {
          content: counter(item) "";
          position: absolute;
          width: 38px;
          height: 34px;
          color: #fff;
          top: 0px;
          left: -4px;
          border-radius: 50%;
          text-align: center;
          background-color: #414141;
          font-size: 18px;
          padding-top: 5px; }
    @media all and (max-width: 1800px) {
      .contactSec .contactBox .contDec {
        padding: 0px 70px; } }
    @media all and (max-width: 1600px) {
      .contactSec .contactBox .contDec {
        padding: 0px 50px; } }
    @media all and (max-width: 1280px) {
      .contactSec .contactBox .contDec {
        padding: 0px 20px; } }
    @media all and (max-width: 1024px) {
      .contactSec .contactBox .contDec {
        width: 100%; }
        .contactSec .contactBox .contDec:nth-child(2) {
          border-top: 1px solid rgba(255, 255, 255, 0.1);
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
          border-left: none;
          border-right: none;
          width: 100%;
          margin: 30px 0px;
          padding-top: 20px; }
        .contactSec .contactBox .contDec .mailDesc {
          margin-bottom: 10px; }
        .contactSec .contactBox .contDec a {
          font-size: 16px; } }
  @media all and (max-width: 1600px) {
    .contactSec .contactBox {
      padding: 50px 0px; } }
  @media all and (max-width: 1024px) {
    .contactSec .contactBox {
      padding: 40px 30px;
      display: block; } }
  @media all and (max-width: 575px) {
    .contactSec .contactBox {
      padding: 40px 4px; } }

/*# sourceMappingURL=main.css.map */
