@import url(vendor/fullpage.css);
@import url(vendor/slick.css);
@import url(vendor/slick-theme.css);
@import url(vendor/slider.css);
@import url(vendor/examples.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none; }

body {
  background: #212121 !important;
  scroll-behavior: smooth;
  letter-spacing: 0.03em;
  line-height: 1.4; }

ul, ol, li, h1, h2, h3, h4, h5, h6, a, p {
  margin: 0;
  outline: none;
  padding: 0; }

.wrapper {
  padding: 0px 150px; }

/************************************************ Common CSS **************************************************/
.font130 {
  font-size: 130px; }

.font64 {
  font-size: 64px; }

.font55 {
  font-size: 55px; }

.font50 {
  font-size: 50px; }

.font36 {
  font-size: 36px; }

.font30 {
  font-size: 30px; }

.font24 {
  font-size: 24px; }

.font22 {
  font-size: 22px; }

.font20 {
  font-size: 20px; }

.font18 {
  font-size: 18px; }

.font16 {
  font-size: 16px; }

.fontW300 {
  font-weight: 300; }

.fontW400 {
  font-weight: 400; }

.fontW500 {
  font-weight: 500; }

.fontW600 {
  font-weight: 600; }

.fontW700 {
  font-weight: 700; }

.fontPoppins {
  font-family: 'Poppins', sans-serif; }

.fontRoboto {
  font-family: 'Roboto', sans-serif; }

.colorW {
  color: #FFFFFF; }

.coloroffW {
  color: #F2F2F2; }

.colorlightGray {
  color: #C2C2C2; }

.colordarkGray {
  color: #6A6A6A; }

.textCenter {
  text-align: center; }

img {
  max-width: 100%; }

.slick-track {
  display: flex !important; }

.slick-slide {
  height: inherit !important; }

/****************************************************Media Queries***********************************************************/
@media all and (max-width: 1800px) {
  .wrapper {
    padding: 0px 130px; }

  .font130 {
    font-size: 110px; }

  .font64 {
    font-size: 60px; }

  .font55 {
    font-size: 52px; }

  .font50 {
    font-size: 42px; }

  .font36 {
    font-size: 34px; }

  .font30 {
    font-size: 28px; }

  .font24 {
    font-size: 22px; }

  .font20 {
    font-size: 18px; }

  .font18 {
    font-size: 16px; }

  .font16 {
    font-size: 14px; } }
@media all and (max-width: 1600px) {
  .wrapper {
    padding: 0px 70px; }

  .font130 {
    font-size: 96px; }

  .font64 {
    font-size: 50px; }

  .font55 {
    font-size: 46px; }

  .font50 {
    font-size: 38px; }

  .font36 {
    font-size: 32px; }

  .font30 {
    font-size: 22px; }

  .font24 {
    font-size: 20px; }

  .font22 {
    font-size: 18px; }

  .font20 {
    font-size: 16px; }

  .font18 {
    font-size: 14px; }

  .font16 {
    font-size: 12px; } }
@media all and (max-width: 1400px) {
  .wrapper {
    padding: 0px 70px; }

  .font130 {
    font-size: 92px; }

  .font64 {
    font-size: 46px; }

  .font55 {
    font-size: 40px; }

  .font50 {
    font-size: 34px; }

  .font30 {
    font-size: 21px; }

  .font24 {
    font-size: 16px; }

  .font22 {
    font-size: 15px; }

  .font20 {
    font-size: 14px; }

  .font18 {
    font-size: 12px; }

  .font16 {
    font-size: 11px; } }
@media all and (max-width: 1024px) {
  .wrapper {
    padding: 0px 40px; }

  .font130 {
    font-size: 70px; }

  .font64 {
    font-size: 36px; }

  .font50 {
    font-size: 30px; } }
@media all and (max-width: 900px) {
  .wrapper {
    padding: 0px 40px; }

  .font130 {
    font-size: 55px; }

  .font64 {
    font-size: 32px; }

  .font55 {
    font-size: 30px; }

  .font50 {
    font-size: 24px; }

  .font36 {
    font-size: 18px; }

  .font30 {
    font-size: 20px; }

  .font24 {
    font-size: 16px; }

  .font22 {
    font-size: 16px; }

  .font20 {
    font-size: 14px; }

  .font18 {
    font-size: 12px; }

  .font16 {
    font-size: 10px; } }
@media all and (max-width: 768px) {
  .wrapper {
    padding: 0px 30px; } }
@media all and (max-width: 575px) {
  .font130 {
    font-size: 40px; }

  .font64 {
    font-size: 30px; }

  .font55 {
    font-size: 26px; }

  .font50 {
    font-size: 18px; }

  .font36 {
    font-size: 16px; }

  .font30 {
    font-size: 20px; }

  .font24 {
    font-size: 14px; }

  .font22 {
    font-size: 14px; }

  .font20 {
    font-size: 12px; }

  .font18 {
    font-size: 10px; }

  .font16 {
    font-size: 11px; } }
.slick-track {
  display: flex !important; }

.slick-slide {
  height: inherit !important; }

progress {
  position: fixed;
  top: 15px; }

#fp-nav ul li a span {
  background-color: #fff !important; }

.fullpage-wrapper {
  margin-top: 60px !important; }
  @media (max-width: 1600px) {
    .fullpage-wrapper {
      margin-top: 35px !important; } }
  @media (max-width: 1400px) {
    .fullpage-wrapper {
      margin-top: 30px !important; } }

h2 {
  text-align: left; }

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: block;
  background: #212121; }
  @media (max-width: 920px) {
    header {
      padding: 0px; } }
  @media (max-width: 920px) {
    header input[type="checkbox"]:checked ~ .menu-items {
      transform: translateX(0); } }
  @media (max-width: 575px) {
    header input[type="checkbox"]:checked ~ .menu-items {
      transform: translateX(0); } }
  header input[type="checkbox"]:checked ~ .fullpage-wrapper {
    background: #292929;
    opacity: 0.5; }
  @media (max-width: 920px) {
    header input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
      transform: rotate(45deg); } }
  @media (max-width: 920px) {
    header input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
      transform: scaleY(0); } }
  @media (max-width: 920px) {
    header input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
      transform: rotate(-45deg); } }
  header a {
    color: rgba(242, 242, 242, 0.8);
    text-decoration: none;
    transition: color 0.3s ease-in-out; }
    @media (max-width: 920px) {
      header a {
        font-size: 16px; } }
    header a.is-active {
      position: relative;
      color: #fff;
      transition: all 0.35s ease;
      text-decoration: none; }
      header a.is-active:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: -4px;
        width: 100%;
        height: 2px;
        border: none;
        outline: none;
        background: #fff; }
  header .menu-link:hover {
    position: relative;
    color: #fff;
    text-decoration: none;
    transition: all 0.35s ease; }
    header .menu-link:hover:before {
      position: absolute;
      content: "";
      left: -5px;
      right: 0;
      top: -15px;
      bottom: 0;
      width: 50px;
      height: 50px;
      background: #252525;
      border: 1px solid #1C1C1C;
      outline: none;
      border-radius: 50%;
      z-index: -1;
      margin: 0 auto; }
      @media (max-width: 1400px) {
        header .menu-link:hover:before {
          top: -10px;
          width: 40px;
          height: 40px; } }
      @media (max-width: 920px) {
        header .menu-link:hover:before {
          background: transparent;
          border: none; } }
  header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px; }
    @media (max-width: 1600px) {
      header .header-container {
        padding-top: 40px; } }
    @media (max-width: 1400px) {
      header .header-container {
        padding-top: 30px; } }
    @media (max-width: 920px) {
      header .header-container {
        display: block;
        position: relative; } }
    @media (max-width: 770px) {
      header .header-container {
        padding-top: 45px;
        padding-bottom: 25px; } }
    header .header-container input[type="checkbox"], header .header-container .hamburger-lines {
      display: none; }
      @media (max-width: 920px) {
        header .header-container input[type="checkbox"], header .header-container .hamburger-lines {
          display: block; } }
    @media (max-width: 920px) {
      header .header-container input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        right: 0px;
        z-index: 5;
        opacity: 0;
        cursor: pointer; } }
    @media (max-width: 770px) {
      header .header-container input[type="checkbox"] {
        height: 24px;
        width: 24px; } }
    @media (max-width: 500px) {
      header .header-container:checked ~ .logo {
        display: none; } }
    @media (max-width: 920px) {
      header .header-container .hamburger-lines {
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        right: 0px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between; } }
    @media (max-width: 770px) {
      header .header-container .hamburger-lines {
        height: 24px;
        width: 30px; } }
    @media (max-width: 920px) {
      header .header-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 4px;
        background: #F2F2F2; } }
    @media (max-width: 920px) {
      header .header-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out; } }
    @media (max-width: 920px) {
      header .header-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out; } }
    @media (max-width: 920px) {
      header .header-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out; } }
    @media (max-width: 920px) {
      header .header-container .logo {
        position: absolute;
        top: 15px;
        left: 0px; } }
    @media (max-width: 1400px) {
      header .header-container .logo img {
        width: 325px; } }
    @media (max-width: 1400px) {
      header .header-container .logo img {
        width: 300px; } }
    @media (max-width: 770px) {
      header .header-container .logo img {
        width: 200px; } }
    @media (max-width: 575px) {
      header .header-container .logo img {
        width: 170px; } }
  header .menu-items {
    display: flex; }
    @media (max-width: 920px) {
      header .menu-items {
        position: absolute;
        right: -30px;
        top: 0;
        padding-top: 100px;
        background: #212121;
        border-radius: 5px 0px 0px 5px;
        height: 100vh;
        width: 300px;
        transform: translate(150%);
        display: flex;
        flex-direction: column;
        transition: transform 0.5s ease-in-out;
        overflow: scroll; } }
    @media (max-width: 920px) {
      header .menu-items {
        width: 255px; } }
    header .menu-items li {
      list-style: none;
      margin-left: 53px; }
      @media (max-width: 1400px) {
        header .menu-items li {
          margin-left: 30px; } }
      @media (max-width: 1050px) {
        header .menu-items li {
          margin-left: 20px; } }
      @media (max-width: 920px) {
        header .menu-items li {
          margin-bottom: 28px; } }
      header .menu-items li:last-child a.is-active:after {
        background: transparent; }
      header .menu-items li .contact {
        border: 1px solid rgba(242, 242, 242, 0.2);
        border-radius: 60px;
        padding: 5px 10px;
        text-decoration: none; }
        header .menu-items li .contact:before {
          background: transparent;
          border: none; }
        header .menu-items li .contact:hover, header .menu-items li .contact:focus {
          border: 1px solid #fff;
          color: #fff; }

.progress-container {
  position: fixed;
  right: 30px;
  top: 40%;
  width: 1px;
  height: 25%;
  border-radius: 2px;
  margin: auto;
  border: 1px solid #6a6a6a; }
  .progress-container .progress-bar {
    width: 1px;
    background: #fff;
    border-radius: 2px; }
    .progress-container .progress-bar:before {
      position: absolute;
      content: "";
      right: 0;
      top: -5px;
      left: -6px;
      width: 12px;
      height: 12px;
      background: #fff;
      border-radius: 50%; }

.section {
  margin-bottom: 30px; }
  .section h2 {
    margin-bottom: 40px; }
    @media all and (max-width: 920px) {
      .section h2 {
        margin-bottom: 30px; } }
  .section a:hover,
  .section a:active,
  .section a:visited,
  .section a:focus {
    color: #fff; }

.modal.in .modal-dialog1 {
  width: 80%;
  margin: 10% auto 0; }
  .modal.in .modal-dialog1 .modal-content {
    background-color: #252525;
    padding: 70px;
    border: none; }
    .modal.in .modal-dialog1 .modal-content .close {
      margin-top: -10px;
      color: #f2f2f2;
      opacity: 1;
      font-weight: normal;
      text-shadow: none;
      font-size: 46px;
      position: relative;
      z-index: 999; }
    .modal.in .modal-dialog1 .modal-content .modal-body {
      padding: 0px; }
    .modal.in .modal-dialog1 .modal-content .serviceDesc h3 {
      margin-bottom: 10px; }
    .modal.in .modal-dialog1 .modal-content .serviceDesc p {
      margin-bottom: 80px; }
    .modal.in .modal-dialog1 .modal-content .serviceDesc .listService {
      display: flex;
      justify-content: space-between; }
      .modal.in .modal-dialog1 .modal-content .serviceDesc .listService ul {
        width: 40%; }
        .modal.in .modal-dialog1 .modal-content .serviceDesc .listService ul li {
          margin-bottom: 40px; }
    .modal.in .modal-dialog1 .modal-content .teamBox {
      display: flex;
      justify-content: space-between;
      padding-bottom: 20px; }
      .modal.in .modal-dialog1 .modal-content .teamBox .teamDesc {
        width: 76%; }
        .modal.in .modal-dialog1 .modal-content .teamBox .teamDesc p {
          margin-bottom: 18px; }
      .modal.in .modal-dialog1 .modal-content .teamBox .memberImg {
        width: 20%; }
    .modal.in .modal-dialog1 .modal-content .teamPara {
      padding-top: 18px;
      border-top: 1px solid #6A6A6A; }
  @media all and (max-width: 1600px) {
    .modal.in .modal-dialog1 {
      width: 70%;
      margin: 10% auto 0; }
      .modal.in .modal-dialog1 .modal-content {
        padding: 50px; }
        .modal.in .modal-dialog1 .modal-content .modal-body .listService ul {
          width: 48%; }
          .modal.in .modal-dialog1 .modal-content .modal-body .listService ul li {
            margin-bottom: 15px; }
        .modal.in .modal-dialog1 .modal-content .serviceDesc p {
          margin-bottom: 30px; } }
  @media all and (max-width: 1400px) {
    .modal.in .modal-dialog1 {
      margin: 5% auto 0; } }
  @media all and (max-width: 1280px) {
    .modal.in .modal-dialog1 .modal-content .modal-body .listService ul {
      width: 48%; }
      .modal.in .modal-dialog1 .modal-content .modal-body .listService ul li {
        margin-bottom: 20px; } }
  @media all and (max-width: 920px) {
    .modal.in .modal-dialog1 .modal-content .serviceDesc h3 {
      margin-bottom: 18px; }
    .modal.in .modal-dialog1 .modal-content .serviceDesc p {
      padding-top: 16px;
      border-top: 1px solid #6A6A6A; }
    .modal.in .modal-dialog1 .modal-content .modal-body .serviceDescInfo {
      height: 350px;
      overflow: auto; }
      .modal.in .modal-dialog1 .modal-content .modal-body .serviceDescInfo .listService ul {
        width: 100%;
        padding-left: 0;
        list-style-position: inside; } }
  @media all and (max-width: 780px) {
    .modal.in .modal-dialog1 {
      transform: translate(0px, 100px);
      width: 100%;
      margin: -3% auto 0; }
      .modal.in .modal-dialog1 .modal-content {
        padding: 30px; }
        .modal.in .modal-dialog1 .modal-content .modal-body .listService {
          display: block; }
          .modal.in .modal-dialog1 .modal-content .modal-body .listService ul {
            width: 100%; }
            .modal.in .modal-dialog1 .modal-content .modal-body .listService ul li {
              margin-bottom: 20px; }
        .modal.in .modal-dialog1 .modal-content .serviceDescInfo {
          height: 320px; } }
  @media all and (max-width: 375px) {
    .modal.in .modal-dialog1 .modal-content {
      padding: 20px; }
      .modal.in .modal-dialog1 .modal-content .close {
        margin-top: 0px !important; } }

.modal.in .modal-dialog2 {
  width: 50%;
  margin: 10% auto 0px; }
  .modal.in .modal-dialog2 .modal-content {
    background-color: #252525;
    padding: 63px;
    border: none; }
    .modal.in .modal-dialog2 .modal-content .close {
      margin-top: -5px;
      color: #f2f2f2;
      opacity: 1;
      font-weight: normal;
      text-shadow: none;
      font-size: 46px;
      position: relative;
      z-index: 999; }
    .modal.in .modal-dialog2 .modal-content .modal-body {
      padding: 0px; }
    .modal.in .modal-dialog2 .modal-content .teamBox {
      display: flex;
      justify-content: space-between;
      padding-bottom: 20px; }
      .modal.in .modal-dialog2 .modal-content .teamBox .teamDesc {
        width: 76%; }
        .modal.in .modal-dialog2 .modal-content .teamBox .teamDesc p {
          margin-bottom: 18px; }
      .modal.in .modal-dialog2 .modal-content .teamBox .memberImg {
        width: 20%; }
    .modal.in .modal-dialog2 .modal-content .teamPara {
      padding-top: 18px;
      border-top: 1px solid #6A6A6A; }
      .modal.in .modal-dialog2 .modal-content .teamPara p {
        margin-bottom: 25px; }
    .modal.in .modal-dialog2 .modal-content .casestudiesPara {
      display: flex;
      justify-content: space-between;
      padding-bottom: 20px;
      align-items: center; }
      .modal.in .modal-dialog2 .modal-content .casestudiesPara .caseDesc {
        width: 76%; }
        .modal.in .modal-dialog2 .modal-content .casestudiesPara .caseDesc p {
          margin-bottom: 18px; }
      .modal.in .modal-dialog2 .modal-content .casestudiesPara .caseImg {
        width: 20%; }
    .modal.in .modal-dialog2 .modal-content .casePara {
      padding-top: 18px;
      border-top: 1px solid #6A6A6A; }
      .modal.in .modal-dialog2 .modal-content .casePara p {
        margin-bottom: 30px; }
    .modal.in .modal-dialog2 .modal-content .modal-footer {
      padding: 0px;
      border-top: none; }
  @media all and (max-width: 1600px) {
    .modal.in .modal-dialog2 {
      width: 70%;
      margin: 10% auto 0px; }
      .modal.in .modal-dialog2 .modal-content {
        padding: 44px 44px 10px; }
        .modal.in .modal-dialog2 .modal-content .teamBox {
          padding-bottom: 15px; }
          .modal.in .modal-dialog2 .modal-content .teamBox .teamDesc {
            width: 78%; }
            .modal.in .modal-dialog2 .modal-content .teamBox .teamDesc p {
              margin-bottom: 12px; }
          .modal.in .modal-dialog2 .modal-content .teamBox .memberImg {
            width: 20%; } }
  @media all and (max-width: 1400px) {
    .modal.in .modal-dialog2 {
      margin: 5% auto 0px; } }
  @media all and (max-width: 1280px) {
    .modal.in .modal-dialog2 .modal-content {
      padding: 44px; } }
  @media all and (max-width: 920px) {
    .modal.in .modal-dialog2 .modal-content {
      padding: 30px; }
      .modal.in .modal-dialog2 .modal-content .teamPara {
        height: 250px;
        overflow: auto; }
      .modal.in .modal-dialog2 .modal-content .casePara {
        height: 250px;
        overflow: auto; } }
  @media all and (max-width: 780px) {
    .modal.in .modal-dialog2 {
      transform: translate(0px, 100px);
      width: 100%;
      margin: -3% auto 0; }
      .modal.in .modal-dialog2 .modal-content .teamBox {
        padding-bottom: 15px; }
        .modal.in .modal-dialog2 .modal-content .teamBox .teamDesc {
          width: 72%;
          padding: 20px; }
          .modal.in .modal-dialog2 .modal-content .teamBox .teamDesc p {
            margin-bottom: 8px; }
          .modal.in .modal-dialog2 .modal-content .teamBox .teamDesc img {
            width: 24px; }
        .modal.in .modal-dialog2 .modal-content .teamBox .memberImg {
          width: 26%; } }
  @media all and (max-width: 575px) {
    .modal.in .modal-dialog2 .modal-content .teamBox .teamDesc {
      padding: 0px 20px; } }
  @media all and (max-width: 375px) {
    .modal.in .modal-dialog2 .modal-content {
      padding: 20px; }
      .modal.in .modal-dialog2 .modal-content .close {
        margin-top: 0px !important; }
      .modal.in .modal-dialog2 .modal-content .teamBox .teamDesc {
        padding: 0px 10px; }
        .modal.in .modal-dialog2 .modal-content .teamBox .teamDesc h3 {
          font-size: 22px; }
        .modal.in .modal-dialog2 .modal-content .teamBox .teamDesc img {
          width: 20px; } }

.modal.in .modal-dialog3 {
  width: 50%;
  margin: 0 auto; }
  .modal.in .modal-dialog3 .modal-content {
    background-color: #252525;
    padding: 40px;
    border: none;
    border-radius: 10px 10px 0px 0px; }
    .modal.in .modal-dialog3 .modal-content .close {
      margin-top: -10px;
      color: #f2f2f2;
      opacity: 1;
      font-weight: normal;
      text-shadow: none;
      font-size: 46px;
      position: relative;
      z-index: 999; }
    .modal.in .modal-dialog3 .modal-content .modal-body {
      padding: 0px; }
    .modal.in .modal-dialog3 .modal-content .teamBox {
      display: flex;
      justify-content: space-between;
      padding-bottom: 20px; }
      .modal.in .modal-dialog3 .modal-content .teamBox .teamDesc {
        width: 76%; }
        .modal.in .modal-dialog3 .modal-content .teamBox .teamDesc p {
          margin-bottom: 18px; }
      .modal.in .modal-dialog3 .modal-content .teamBox .memberImg {
        width: 20%; }
    .modal.in .modal-dialog3 .modal-content .teamPara {
      padding-top: 18px;
      border-top: 1px solid #6A6A6A; }
      .modal.in .modal-dialog3 .modal-content .teamPara p {
        margin-bottom: 30px;
        font-size: 16px; }
    .modal.in .modal-dialog3 .modal-content .modal-footer {
      padding: 0px;
      border-top: none; }
  @media all and (max-width: 920px) {
    .modal.in .modal-dialog3 {
      transform: translate(0px, 100px);
      width: 100%;
      margin: -3% auto 0; }
      .modal.in .modal-dialog3 .modal-content {
        padding: 30px; }
        .modal.in .modal-dialog3 .modal-content .teamBox {
          padding-bottom: 15px; }
          .modal.in .modal-dialog3 .modal-content .teamBox .teamDesc {
            width: 70%;
            padding: 70px 10px; }
            .modal.in .modal-dialog3 .modal-content .teamBox .teamDesc h3 {
              font-size: 20px;
              margin-bottom: 10px; }
            .modal.in .modal-dialog3 .modal-content .teamBox .teamDesc p {
              margin-bottom: 12px;
              font-size: 14px;
              color: #6A6A6A; }
            .modal.in .modal-dialog3 .modal-content .teamBox .teamDesc img {
              width: 30px; }
          .modal.in .modal-dialog3 .modal-content .teamBox .memberImg {
            width: 28%; }
        .modal.in .modal-dialog3 .modal-content .teamPara {
          height: 250px;
          overflow: auto; } }
  @media all and (max-width: 575px) {
    .modal.in .modal-dialog3 {
      margin: -8% auto 0; }
      .modal.in .modal-dialog3 .memberImg {
        width: 80px; }
      .modal.in .modal-dialog3 .teamDesc {
        width: 70%;
        padding: 20px 10px !important; } }
  @media all and (max-width: 375px) {
    .modal.in .modal-dialog3 .modal-content {
      padding: 20px; }
      .modal.in .modal-dialog3 .modal-content .close {
        margin-top: 0px !important; } }

.bannerSec h1:hover {
  background: -webkit-linear-gradient(330deg, #F2F2F2 42.19%, #A2DFF2 73.22%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent; }

.bannerSec2 p {
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 25px;
  line-height: 125%; }

.bannerSec1 h4 {
  margin-bottom: 15px; }
  @media all and (max-width: 1400px) {
    .bannerSec1 h4 {
      margin-bottom: 10px; } }
.bannerSec1 p {
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 25px;
  line-height: 125%; }

.serviceSec .serviceSlider {
  display: block;
  margin-left: -15px; }
  .serviceSec .serviceSlider .servicesBox {
    border: 1px solid rgba(177, 177, 177, 0.2);
    border-radius: 10px;
    padding: 54px 0px 54px 38px;
    width: 23%;
    margin: 0px 15px; }
    .serviceSec .serviceSlider .servicesBox .listService {
      display: flex;
      justify-content: space-between; }
      .serviceSec .serviceSlider .servicesBox .listService ul {
        width: 48%; }
    .serviceSec .serviceSlider .servicesBox:hover {
      background-color: #252525; }
    .serviceSec .serviceSlider .servicesBox h3,
    .serviceSec .serviceSlider .servicesBox p {
      padding-top: 20px;
      padding-bottom: 30px;
      line-height: 1.3; }
    .serviceSec .serviceSlider .servicesBox .serviceList {
      border-top: 1px solid rgba(242, 242, 242, 0.6);
      margin-right: 37px;
      padding-top: 36px; }
      .serviceSec .serviceSlider .servicesBox .serviceList > * {
        list-style: none;
        padding: 0px;
        margin-left: 15px; }
      .serviceSec .serviceSlider .servicesBox .serviceList ul {
        margin-left: 46px; }
        .serviceSec .serviceSlider .servicesBox .serviceList ul li {
          margin-top: 20px;
          position: relative;
          list-style: none; }
          .serviceSec .serviceSlider .servicesBox .serviceList ul li::before {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            color: #414141;
            top: 8px;
            left: -40px;
            border-radius: 50%;
            text-align: center;
            background-color: #414141;
            font-size: 18px; }
      .serviceSec .serviceSlider .servicesBox .serviceList ol {
        counter-reset: item; }
        .serviceSec .serviceSlider .servicesBox .serviceList ol li {
          counter-increment: item;
          color: #fff;
          padding-left: 35px;
          position: relative;
          margin-bottom: 34px; }
          .serviceSec .serviceSlider .servicesBox .serviceList ol li::before {
            content: counter(item) "";
            position: absolute;
            width: 30px;
            height: 30px;
            color: #fff;
            top: 0px;
            left: -22px;
            border-radius: 50%;
            text-align: center;
            background-color: #414141;
            font-size: 14px;
            padding-top: 5px; }
      .serviceSec .serviceSlider .servicesBox .serviceList p {
        margin-bottom: 30px; }
      .serviceSec .serviceSlider .servicesBox .serviceList .ctaOne {
        color: #fff;
        text-decoration: none;
        border: 1px solid rgba(177, 177, 177, 0.2);
        border-radius: 40px;
        padding: 12px 26px;
        background-color: transparent;
        outline: none; }
        .serviceSec .serviceSlider .servicesBox .serviceList .ctaOne img {
          transition: 0.6s all; }
        .serviceSec .serviceSlider .servicesBox .serviceList .ctaOne:hover img {
          transform: translateX(15px); }
  .serviceSec .serviceSlider .slick-dots li button::before {
    color: transparent;
    border: 1px solid rgba(242, 242, 242, 0.4);
    border-radius: 50%;
    line-height: 16px; }
  .serviceSec .serviceSlider .slick-dots li.slick-active button:before {
    color: rgba(242, 242, 242, 0.6);
    font-size: 36px; }
  .serviceSec .serviceSlider .slick-slide img {
    display: inline-block; }
@media all and (max-width: 1800px) {
  .serviceSec .servicesBox {
    padding: 50px 0px 50px 32px; } }
@media all and (max-width: 1600px) {
  .serviceSec .serviceSlider .servicesBox {
    width: 23%;
    margin: 0px 10px;
    padding: 24px 0px 24px 20px; }
    .serviceSec .serviceSlider .servicesBox .iconImg {
      width: 40px; }
    .serviceSec .serviceSlider .servicesBox h3,
    .serviceSec .serviceSlider .servicesBox p {
      padding-top: 12px;
      padding-bottom: 15px; }
    .serviceSec .serviceSlider .servicesBox .serviceList {
      margin-right: 30px;
      padding-top: 15px; }
      .serviceSec .serviceSlider .servicesBox .serviceList a {
        padding: 10px 20px; }
      .serviceSec .serviceSlider .servicesBox .serviceList ol li {
        margin-bottom: 15px; }
        .serviceSec .serviceSlider .servicesBox .serviceList ol li::before {
          width: 25px;
          height: 25px;
          padding-top: 4px;
          font-size: 12px;
          left: -12px; } }
@media all and (max-width: 1180px) {
  .serviceSec .servicesBox .serviceList {
    margin-right: 10px; }
    .serviceSec .servicesBox .serviceList .ctaOne {
      padding: 12px 20px; } }
@media all and (max-width: 1024px) {
  .serviceSec .serviceSlider {
    display: block; }
    .serviceSec .serviceSlider .servicesBox {
      height: 530px;
      margin-bottom: 20px; } }

.teamSection .teamSec {
  display: flex;
  justify-content: space-between; }
  .teamSection .teamSec .teamMembers {
    width: 48%;
    position: relative;
    margin-top: 0px; }
    .teamSection .teamSec .teamMembers .modal.in .modal-dialog {
      width: auto; }
    .teamSection .teamSec .teamMembers a {
      text-decoration: none;
      padding: 85px 0px;
      text-align: center;
      position: absolute;
      bottom: -2px;
      color: white;
      right: 0;
      width: 100%;
      background: linear-gradient(180deg, rgba(13, 13, 13, 0) 8.82%, rgba(33, 33, 33, 0.88) 45.31%, #212121 91.77%); }
      .teamSection .teamSec .teamMembers a img {
        transition: 0.6s all; }
      .teamSection .teamSec .teamMembers a:hover img {
        transform: translateX(15px); }
    .teamSection .teamSec .teamMembers .memberImg {
      max-width: 100%; }
  @media all and (max-width: 1600px) {
    .teamSection .teamSec {
      height: 420px;
      overflow: hidden; }
      .teamSection .teamSec .teamMembers {
        margin-bottom: 12px; }
        .teamSection .teamSec .teamMembers a {
          padding: 50px 0px;
          bottom: -40px; } }
  @media all and (max-width: 1280px) {
    .teamSection .teamSec .teamMembers a {
      padding: 40px 0px; } }
  @media all and (max-width: 900px) {
    .teamSection .teamSec {
      height: unset;
      overflow: unset; } }
  @media all and (max-width: 680px) {
    .teamSection .teamSec {
      height: unset;
      display: block; }
      .teamSection .teamSec .teamMembers {
        width: 100%; }
        .teamSection .teamSec .teamMembers .linkedinImg {
          width: 30px; } }

.clientsBox .clientSec {
  display: flex;
  justify-content: space-between; }
  .clientsBox .clientSec .tabs {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    width: 230px;
    border: 1px solid rgba(242, 242, 242, 0.2);
    border-radius: 60px; }
    .clientsBox .clientSec .tabs h3 {
      text-align: center;
      color: #94969A;
      padding-top: 15px;
      padding-bottom: 15px;
      cursor: pointer;
      z-index: 3;
      font-size: 12px;
      transition: .3s;
      width: 48%; }
      .clientsBox .clientSec .tabs h3.active {
        color: #fff; }
      .clientsBox .clientSec .tabs h3 a {
        text-decoration: none; }
    .clientsBox .clientSec .tabs .bg {
      z-index: 1;
      position: absolute;
      left: -1px;
      top: -1px;
      width: 115px;
      height: calc(100% + 2px);
      background: #6A6A6A;
      border: 1px solid rgba(242, 242, 242, 0.2);
      border-radius: 60px;
      transition: .3s; }
    @media all and (max-width: 768px) {
      .clientsBox .clientSec .tabs {
        width: 140px; }
        .clientsBox .clientSec .tabs .bg {
          width: 78px; } }
.clientsBox #scrolldiv {
  background-color: transparent;
  width: unset;
  height: 425px;
  overflow-y: scroll; }
  .clientsBox #scrolldiv::-webkit-scrollbar {
    display: none; }
  .clientsBox #scrolldiv #scrolldiv-content {
    background-color: unset;
    height: unset;
    width: unset; }
    .clientsBox #scrolldiv #scrolldiv-content .tabs-content div[id$="tab-content"] {
      display: none; }
    .clientsBox #scrolldiv #scrolldiv-content .tabs-content .active {
      display: block !important; }
    .clientsBox #scrolldiv #scrolldiv-content .tabs-content .flex {
      display: flex;
      flex-wrap: wrap;
      margin-left: -30px; }
      .clientsBox #scrolldiv #scrolldiv-content .tabs-content .flex .box {
        background-position: 0 0, 0 0, 100% 0, 0 100%;
        background-size: 3px 100%, 100% 3px, 3px 100%, 100% 3px;
        background-repeat: no-repeat; }
      .clientsBox #scrolldiv #scrolldiv-content .tabs-content .flex img {
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        transition: 0.5s;
        width: 225px;
        margin: 0 auto;
        display: flex;
        justify-content: center; }
        .clientsBox #scrolldiv #scrolldiv-content .tabs-content .flex img:hover {
          filter: grayscale(0%);
          -webkit-filter: grayscale(0%); }
      .clientsBox #scrolldiv #scrolldiv-content .tabs-content .flex .content,
      .clientsBox #scrolldiv #scrolldiv-content .tabs-content .flex .contentOne {
        width: 25%;
        margin-top: -1px;
        display: none; }
        .clientsBox #scrolldiv #scrolldiv-content .tabs-content .flex .content .imgBorder,
        .clientsBox #scrolldiv #scrolldiv-content .tabs-content .flex .contentOne .imgBorder {
          margin: 15px 0px;
          border-right: 1px solid #373737; }
        .clientsBox #scrolldiv #scrolldiv-content .tabs-content .flex .content::before,
        .clientsBox #scrolldiv #scrolldiv-content .tabs-content .flex .contentOne::before {
          content: '';
          display: block;
          border-top: 1px solid #373737;
          width: 80%;
          margin: 0 auto; }
        .clientsBox #scrolldiv #scrolldiv-content .tabs-content .flex .content::after,
        .clientsBox #scrolldiv #scrolldiv-content .tabs-content .flex .contentOne::after {
          content: '';
          display: block;
          border-bottom: 1px solid #373737;
          width: 80%;
          margin: 0 auto; }
        .clientsBox #scrolldiv #scrolldiv-content .tabs-content .flex .content:nth-child(4n+4) .imgBorder,
        .clientsBox #scrolldiv #scrolldiv-content .tabs-content .flex .contentOne:nth-child(4n+4) .imgBorder {
          border-right: none; }
      @media all and (max-width: 1200px) {
        .clientsBox #scrolldiv #scrolldiv-content .tabs-content .flex img {
          width: 170px; } }
      @media all and (max-width: 780px) {
        .clientsBox #scrolldiv #scrolldiv-content .tabs-content .flex {
          margin-left: 0px; }
          .clientsBox #scrolldiv #scrolldiv-content .tabs-content .flex .content,
          .clientsBox #scrolldiv #scrolldiv-content .tabs-content .flex .contentOne {
            width: 48%; }
            .clientsBox #scrolldiv #scrolldiv-content .tabs-content .flex .content:nth-child(even) .imgBorder,
            .clientsBox #scrolldiv #scrolldiv-content .tabs-content .flex .contentOne:nth-child(even) .imgBorder {
              border-right: none; } }
    .clientsBox #scrolldiv #scrolldiv-content .tabs-content #loadMore,
    .clientsBox #scrolldiv #scrolldiv-content .tabs-content #loadMoretab {
      text-align: center;
      display: block;
      margin: 0 auto;
      text-decoration: none;
      margin-top: 40px; }
    .clientsBox #scrolldiv #scrolldiv-content .noContent {
      color: #6A6A6A;
      background-color: transparent !important;
      pointer-events: none; }
  @media all and (max-width: 780px) {
    .clientsBox #scrolldiv {
      height: 780px; } }

.testimonialsSec {
  overflow: hidden !important; }
  .testimonialsSec .testimonialsSlider .slick-slide {
    margin: 0 26px; }
    @media (max-width: 480px) {
      .testimonialsSec .testimonialsSlider .slick-slide {
        margin: 0 16px; } }
  .testimonialsSec .testimonialsSlider .slick-list {
    margin: 0 -26px; }
    @media (max-width: 480px) {
      .testimonialsSec .testimonialsSlider .slick-list {
        margin: 0 -16px; } }
  .testimonialsSec .testimonialsSlider .slick-prev,
  .testimonialsSec .testimonialsSlider .slick-next {
    top: 100%;
    height: 0; }
  .testimonialsSec .testimonialsSlider .slick-prev {
    left: 1150px; }
    @media (max-width: 1950px) {
      .testimonialsSec .testimonialsSlider .slick-prev {
        left: 850px; } }
    @media (max-width: 1600px) {
      .testimonialsSec .testimonialsSlider .slick-prev {
        left: 725px; } }
    @media (max-width: 1450px) {
      .testimonialsSec .testimonialsSlider .slick-prev {
        left: 625px; } }
    @media (max-width: 1050px) {
      .testimonialsSec .testimonialsSlider .slick-prev {
        left: 450px; } }
    @media (max-width: 920px) {
      .testimonialsSec .testimonialsSlider .slick-prev {
        left: 325px; } }
    @media (max-width: 575px) {
      .testimonialsSec .testimonialsSlider .slick-prev {
        left: 160px; } }
    @media (max-width: 350px) {
      .testimonialsSec .testimonialsSlider .slick-prev {
        left: 120px; } }
    .testimonialsSec .testimonialsSlider .slick-prev:before {
      font-size: 38px;
      opaity: 0.7; }
      .testimonialsSec .testimonialsSlider .slick-prev:before:hover {
        opacity: 1; }
  .testimonialsSec .testimonialsSlider .slick-next {
    right: 1150px; }
    @media (max-width: 1950px) {
      .testimonialsSec .testimonialsSlider .slick-next {
        right: 850px; } }
    @media (max-width: 1600px) {
      .testimonialsSec .testimonialsSlider .slick-next {
        right: 725px; } }
    @media (max-width: 1450px) {
      .testimonialsSec .testimonialsSlider .slick-next {
        right: 625px; } }
    @media (max-width: 1050px) {
      .testimonialsSec .testimonialsSlider .slick-next {
        right: 450px; } }
    @media (max-width: 920px) {
      .testimonialsSec .testimonialsSlider .slick-next {
        right: 325px; } }
    @media (max-width: 575px) {
      .testimonialsSec .testimonialsSlider .slick-next {
        right: 160px; } }
    @media (max-width: 350px) {
      .testimonialsSec .testimonialsSlider .slick-next {
        right: 120px; } }
    .testimonialsSec .testimonialsSlider .slick-next:before {
      font-size: 38px;
      opaity: 0.7; }
      .testimonialsSec .testimonialsSlider .slick-next:before:hover {
        opacity: 1; }
  .testimonialsSec .testimonialsSlider .testimonials {
    display: flex;
    background: #252525;
    border-radius: 10px;
    padding: 155px 208px; }
    @media (max-width: 1600px) {
      .testimonialsSec .testimonialsSlider .testimonials {
        padding: 60px 100px; } }
    @media (max-width: 1450px) {
      .testimonialsSec .testimonialsSlider .testimonials {
        padding: 60px 50px; } }
    @media (max-width: 920px) {
      .testimonialsSec .testimonialsSlider .testimonials {
        display: block;
        padding: 25px 22px; } }
    .testimonialsSec .testimonialsSlider .testimonials .profile {
      width: 30%; }
      @media (max-width: 920px) {
        .testimonialsSec .testimonialsSlider .testimonials .profile {
          width: 100%;
          display: flex;
          align-items: center;
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
          padding-bottom: 20px; } }
      .testimonialsSec .testimonialsSlider .testimonials .profile img {
        margin: 0 auto;
        max-width: 100%; }
        @media (max-width: 920px) {
          .testimonialsSec .testimonialsSlider .testimonials .profile img {
            margin: 0;
            width: 150px; } }
        @media (max-width: 575px) {
          .testimonialsSec .testimonialsSlider .testimonials .profile img {
            width: 80px; } }
      .testimonialsSec .testimonialsSlider .testimonials .profile .profileInfo {
        margin-top: 20px; }
        @media (max-width: 920px) {
          .testimonialsSec .testimonialsSlider .testimonials .profile .profileInfo {
            padding: 0 35px; } }
        @media (max-width: 575px) {
          .testimonialsSec .testimonialsSlider .testimonials .profile .profileInfo {
            padding: 0 15px; } }
        .testimonialsSec .testimonialsSlider .testimonials .profile .profileInfo h4 {
          margin-bottom: 10px;
          text-align: center; }
          @media (max-width: 920px) {
            .testimonialsSec .testimonialsSlider .testimonials .profile .profileInfo h4 {
              text-align: left; } }
        .testimonialsSec .testimonialsSlider .testimonials .profile .profileInfo p {
          text-align: center; }
          @media (max-width: 920px) {
            .testimonialsSec .testimonialsSlider .testimonials .profile .profileInfo p {
              text-align: left; } }
    .testimonialsSec .testimonialsSlider .testimonials .description {
      padding-left: 40px;
      position: relative;
      width: 70%; }
      @media (max-width: 920px) {
        .testimonialsSec .testimonialsSlider .testimonials .description {
          padding: 0px;
          width: 100%; } }
      .testimonialsSec .testimonialsSlider .testimonials .description p {
        padding-top: 30px; }
      .testimonialsSec .testimonialsSlider .testimonials .description img {
        position: absolute;
        top: -40px;
        opacity: 0.4; }
        @media (max-width: 1450px) {
          .testimonialsSec .testimonialsSlider .testimonials .description img {
            top: -40px; } }
        @media (max-width: 920px) {
          .testimonialsSec .testimonialsSlider .testimonials .description img {
            width: 55px;
            height: 50px;
            top: 10px; } }
    .testimonialsSec .testimonialsSlider .testimonials .testimonialsDesktop {
      display: block; }
      @media (max-width: 920px) {
        .testimonialsSec .testimonialsSlider .testimonials .testimonialsDesktop {
          display: none; } }
    .testimonialsSec .testimonialsSlider .testimonials .testimonialsMobile {
      display: none; }
      @media (max-width: 920px) {
        .testimonialsSec .testimonialsSlider .testimonials .testimonialsMobile {
          display: block; } }
      .testimonialsSec .testimonialsSlider .testimonials .testimonialsMobile a:visited, .testimonialsSec .testimonialsSlider .testimonials .testimonialsMobile a:hover, .testimonialsSec .testimonialsSlider .testimonials .testimonialsMobile a:active, .testimonialsSec .testimonialsSlider .testimonials .testimonialsMobile a:focus {
        outline: none;
        text-decoration: none;
        color: #6A6A6A; }

.caseStudies #scrolldiv {
  background-color: transparent;
  width: unset;
  height: 425px;
  overflow-y: scroll; }
  .caseStudies #scrolldiv::-webkit-scrollbar {
    display: none; }
  .caseStudies #scrolldiv #scrolldiv-content {
    background-color: unset;
    height: unset;
    width: unset; }
    .caseStudies #scrolldiv #scrolldiv-content .flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-left: 0px; }
      .caseStudies #scrolldiv #scrolldiv-content .flex img {
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        transition: 0.5s;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        width: 225px; }
        .caseStudies #scrolldiv #scrolldiv-content .flex img:hover {
          filter: grayscale(0%);
          -webkit-filter: grayscale(0%); }
      .caseStudies #scrolldiv #scrolldiv-content .flex .contentThree {
        width: 23%;
        display: none;
        margin-bottom: 35px;
        padding: 10px 0px;
        background-color: #252525;
        border: 1px solid #1C1C1C;
        border-radius: 10px; }
        @media all and (max-width: 920px) {
          .caseStudies #scrolldiv #scrolldiv-content .flex .contentThree {
            border-radius: 5px; } }
        @media all and (max-width: 770px) {
          .caseStudies #scrolldiv #scrolldiv-content .flex .contentThree {
            margin-bottom: 30px; } }
        @media all and (max-width: 575px) {
          .caseStudies #scrolldiv #scrolldiv-content .flex .contentThree {
            margin-bottom: 20px; } }
        @media all and (max-width: 375px) {
          .caseStudies #scrolldiv #scrolldiv-content .flex .contentThree {
            margin-bottom: 15px; } }
      @media all and (max-width: 1200px) {
        .caseStudies #scrolldiv #scrolldiv-content .flex img {
          width: 170px; } }
      @media all and (max-width: 780px) {
        .caseStudies #scrolldiv #scrolldiv-content .flex {
          margin-left: 0px; }
          .caseStudies #scrolldiv #scrolldiv-content .flex .contentThree {
            width: 48%; } }
    .caseStudies #scrolldiv #scrolldiv-content #loadMorethree {
      text-align: center;
      display: block;
      margin: 0 auto;
      text-decoration: none;
      margin-top: -10px; }
      @media all and (max-width: 450px) {
        .caseStudies #scrolldiv #scrolldiv-content #loadMorethree {
          margin-top: 0px; } }
      @media all and (max-width: 375px) {
        .caseStudies #scrolldiv #scrolldiv-content #loadMorethree {
          margin-top: 5px; } }
    .caseStudies #scrolldiv #scrolldiv-content .noContent {
      color: #6A6A6A;
      background-color: transparent !important;
      pointer-events: none; }
  @media all and (max-width: 780px) {
    .caseStudies #scrolldiv {
      height: 780px; } }

.contactSec {
  margin-bottom: 0px;
  margin-top: -40px; }
  @media all and (max-width: 920px) {
    .contactSec {
      margin-bottom: 30px;
      margin-top: 0px; } }
  .contactSec .contactBox {
    display: flex;
    justify-content: space-between;
    background-color: #252525;
    border-radius: 10px;
    padding: 90px 0px; }
    .contactSec .contactBox .contDec {
      width: 35%;
      padding: 0px 90px; }
      .contactSec .contactBox .contDec:nth-child(2) {
        border-left: 1px solid rgba(255, 255, 255, 0.1);
        border-right: 1px solid rgba(255, 255, 255, 0.1);
        width: 28%; }
      .contactSec .contactBox .contDec h3 {
        line-height: 30px; }
      .contactSec .contactBox .contDec h4 {
        padding: 42px 0px 24px 0px; }
      .contactSec .contactBox .contDec .mailDesc {
        margin-bottom: 80px; }
      .contactSec .contactBox .contDec a {
        text-decoration: none; }
      .contactSec .contactBox .contDec .icon-1 {
        border: 1px solid #fff;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        padding: 12px; }
      .contactSec .contactBox .contDec ol {
        counter-reset: item;
        list-style: none; }
        .contactSec .contactBox .contDec ol li {
          counter-increment: item;
          color: #fff;
          padding-left: 53px;
          position: relative;
          margin-bottom: 34px; }
          .contactSec .contactBox .contDec ol li::before {
            content: counter(item) "";
            position: absolute;
            width: 38px;
            height: 34px;
            color: #fff;
            top: 0px;
            left: -4px;
            border-radius: 50%;
            text-align: center;
            background-color: #414141;
            font-size: 18px;
            padding-top: 5px;
            font-weight: normal !important; }
    @media all and (max-width: 1800px) {
      .contactSec .contactBox .contDec {
        padding: 0px 70px; } }
    @media all and (max-width: 1600px) {
      .contactSec .contactBox {
        padding: 40px 0px; }
        .contactSec .contactBox .contDec {
          padding: 0px 50px; }
          .contactSec .contactBox .contDec h4 {
            padding: 22px 0px 22px 0px; }
          .contactSec .contactBox .contDec .icon-1 {
            border: 1px solid #fff;
            border-radius: 50%;
            width: 60px;
            height: 60px; }
            .contactSec .contactBox .contDec .icon-1 img {
              width: 30px; }
          .contactSec .contactBox .contDec ol li {
            margin-bottom: 24px; }
            .contactSec .contactBox .contDec ol li::before {
              width: 28px;
              height: 28px;
              font-size: 14px; }
          .contactSec .contactBox .contDec .mailDesc {
            margin-bottom: 50px; } }
    @media all and (max-width: 1280px) {
      .contactSec .contactBox .contDec {
        padding: 0px 20px; } }
    @media all and (max-width: 1024px) {
      .contactSec .contactBox {
        padding: 40px 30px;
        display: block; }
        .contactSec .contactBox .contDec {
          width: 100%; }
          .contactSec .contactBox .contDec:nth-child(2) {
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            border-left: none;
            border-right: none;
            width: 100%;
            margin: 30px 0px;
            padding-top: 20px; }
          .contactSec .contactBox .contDec .mailDesc {
            margin-bottom: 10px; }
          .contactSec .contactBox .contDec a {
            font-size: 16px; } }
    @media all and (max-width: 920px) {
      .contactSec .contactBox .contDec h3, .contactSec .contactBox .contDec h4, .contactSec .contactBox .contDec ol, .contactSec .contactBox .contDec li {
        font-size: 16px; } }
    @media all and (max-width: 575px) {
      .contactSec .contactBox {
        padding: 40px 4px; }
        .contactSec .contactBox .contDec .icon-1 {
          width: 35px;
          height: 35px;
          padding: 6px; } }

footer {
  margin-top: -40px; }
  @media all and (max-width: 920px) {
    footer {
      margin-top: -10px; } }
  footer .footerSec {
    border-top: 1px solid rgba(242, 242, 242, 0.6);
    padding: 20px 0px;
    text-align: right;
    margin-top: 0px; }
    @media all and (max-width: 920px) {
      footer .footerSec {
        padding: 15px 0px;
        text-align: center; } }
    footer .footerSec a {
      text-decoration: none;
      color: #6A6A6A !important; }
      footer .footerSec a:hover {
        color: #fff !important; }
      footer .footerSec a:nth-child(1) {
        margin-right: 20px; }
      @media all and (max-width: 920px) {
        footer .footerSec a {
          font-size: 12px; } }

#scrolldiv {
  background-color: red;
  width: 500px;
  height: 100px;
  overflow-y: auto;
  padding: 1px;
  margin: auto; }

#scrolldiv-content {
  background-color: green;
  width: 100%;
  height: 1000px; }

/*# sourceMappingURL=main.css.map */
