.aboutUs {
    margin-top: 100px;
    color: #212121;

    .about-heading {
        margin-bottom: 30px;


    }

    .about-contents{
        width: 80%;

        p {
            margin-bottom: 30px;
            line-height: 125%;
            text-transform: capitalize;
            font-family: 'Poppins' !important;
        }
    }

    .ctaLink {
        margin-top: 40px;
        display: inline-block;

        a {
            text-decoration: none;
            background-color: #212121;
            color: white;
            border: 1px solid #212121;
            border-radius: 60px;
            padding: 12px 30px;
            transition: 0.2s all ease-in-out;
            font-weight: 300;

            img {
                opacity: 0;
                width: 0;
            }

            &:visited,
            &:active,
            &:focus {
                text-decoration: none;
        
            }

            &:hover {
                font-weight: 500;
                border: 1px solid #212121;


                img {
                    opacity: 1;
                    width: auto;
                    margin-left: 5px;
                    vertical-align: middle;
                }

            }


        }
    }

    @media all and (max-width : 1800px){
        .about-contents{
         width: 80%;
        }
     }
 
     @media all and (max-width : 1650px){
        .about-contents{
          width: 80%;
         }
 
     }
 
     @media all and (max-width : 1600px){
        .about-contents{
          width: 80%;
         }
 
     }
 
     @media all and (max-width : 1460px){
        .about-contents{
          width: 80%;
         }
 
     }
 
     @media all and (max-width : 1280px){
        .about-contents{
          width: 85%;
         }
 
     }
 
     @media all and (max-width : 1050px){
        .about-contents{
          width: 90%;
         }
 
     }
 
     @media all and (max-width : 680px){
        .about-contents{
          width: 100%;
         }

         .ctaLink{
            margin-top: 20px;
         }
 
     }
 
}


body {
    background-color: white !important;
}