.careers {
    color: #212121;
    margin-top: 297.48px;

    .careers-heading{
        margin-bottom: 30px;
    }

    .careers-content {
        p {
            margin-bottom: 30px;
        }
    }
}