.generalCounsel{
	margin:160px 0px 150px 0px;
	@media all and (max-width: 1650px){margin: 140px 0px 150px 0px;}
	@media all and (max-width: 1450px){margin:120px 0px 100px 0px;}
	@media all and (max-width: 1170px){margin:100px 0px 100px 0px;}
	@media all and (max-width: 920px){margin:100px 0px 80px 0px;}
	@media all and (max-width: 550px){margin:80px 0px 80px 0px;}
	.subpageContent{
		.sectionTitle{
			@media all and (max-width: 920px){display: flex;align-items: center;padding-bottom: 20px;margin-bottom: 15px; border-bottom: 0.75px solid rgba(33, 33, 33, 0.6);}
			@media all and (max-width: 480px){align-items:center;}
			.backArrow{display:none;
				@media all and (max-width: 920px){display:block;}
				@media all and (max-width: 575px){display:block;}
				img{margin-right:30px;
					@media all and (max-width: 920px){margin-right:20px; width: 23px;height: 12px;}
					}
			}
			.breadcrumbs{
				@media all and (max-width:920px){
					display: none;
				}
				padding-bottom: 10px;
				.breadcrumbs-link{
				 text-decoration: none;
				 color: #9e9e9e;
				 vertical-align: middle;
				 text-transform: uppercase;
			 }
			 .active{
				color: #212121;
			 }
			 img{
				height: 10px;
				width: 23.06px;
			 }
			 }
			 
		}
		
		
		.generalCounselCta{
			margin-top: 40px;display: flex; align-items: center;
			@media all and (max-width: 1400px){margin-top: 25px;}
			a{
				background-color: #212121;
				color: #fff;
				text-decoration: none;
				border: 1px solid rgba(33, 33, 33, 0.2);
				border-radius: 60px;
				padding: 12px 26px;
				outline: none;
				display: flex;
				align-items: center;
				@media all and (max-width: 920px){padding: 11px 19px;font-size: 14px;}
				img{transition: 0.6s all; margin-left: 10px;
					@media all and (max-width: 1400px){width:16px; height:8px;}
					@media all and (max-width: 920px){width:18px; height:9px;}}
				&:hover img{transform: translateX(10px);}
	
			}
		}
		
	}
	
}