// Pankaj's CSS

//header css //
header{
    position: fixed;
    top:0;
    width: 100%;
    //height:147px;
    z-index: 100;
    display: block;
    background:#212121;
    @media (max-width: 920px){
    	padding: 0px;
    }

    input[type="checkbox"]:checked ~{ 
        .menu-items{
    		@media (max-width: 920px){
		        transform: translateX(0);
		    }
		    @media (max-width: 575px){
		        transform: translateX(0);
		    }
		}
		.hamburger-lines{
			.line1{
				@media (max-width: 920px){
				 	transform: rotate(45deg);
				}
			}
			.line2{
				@media (max-width: 920px){
				 	transform: scaleY(0);
				}
			} 
			.line3{
				@media (max-width: 920px){
				 	transform: rotate(-45deg);
				}
			}  
		}
	}
		
    a{
	    color: rgba(242, 242, 242, 0.8);
	    text-decoration: none;
	    transition: color 0.3s ease-in-out;
	    
	    &.is-active {
            position: relative;
            color: #fff;
            transition: all 0.35s ease;
            text-decoration: none;
            &:after {
		        position: absolute;
		        content: "";
		        left: 0;
		        bottom: -4px;
		        width: 100%;
		        height: 2px;
		        border: none;
		        outline: none;
		        background: #fff;
		    }
            }
        }

	    .menu-link:hover{
	    	position:relative;
		    color: #fff;
		    text-decoration: none;
		    transition: all 0.35s ease;
		    &:before{
			    position: absolute;
		        content: "";
		        left: -5px;
		        right:0;
		        top:-15px;
		        bottom: 0;
		        width: 50px;
				height: 50px;
		        background: #252525;
				border: 1px solid #1C1C1C;
		        outline: none;
		        border-radius:50%;
		        z-index:-1;
		        margin:0 auto;
		        @media (max-width: 1400px){
		        	top:-10px;
		        	width: 40px;
					height: 40px;
		        	}
			    }
		}
	

    

	.header-container{
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    padding-top: 60px;
	    @media (max-width: 1600px){padding-top: 40px;}
	    @media (max-width: 1400px){padding-top: 30px;}
	    @media (max-width: 920px){
	    	display: block;
	        position: relative;
	       }
	       @media (max-width: 770px){padding-top: 25px; padding-bottom: 25px;}
		    input[type="checkbox"], .hamburger-lines{ display: none;
		    @media (max-width: 920px){
			    display: block;
			    }
		    }

	    input[type="checkbox"]{
		    @media (max-width: 920px){
		    position: absolute;
	        display: block;
	        height: 32px;
	        width: 30px;
	        top: 20px;
	        right: 0px;
	        z-index: 5;
	        opacity: 0;
	        cursor: pointer;
	        }
	        @media (max-width: 770px){height: 24px; width: 24px;}
    	}
    	&:checked ~ {
			.logo{
				@media (max-width: 500px){
			        display: none;
			        }
		    }
		}
    	.hamburger-lines{
    	@media (max-width: 920px){
	    	display: block;
	        height: 28px;
	        width: 35px;
	        position: absolute;
	        top: 20px;
	        right: 0px;
	        z-index: 2;
	        display: flex;
	        flex-direction: column;
	        justify-content: space-between;
	    	}
	    	@media (max-width: 770px){height: 24px; width: 30px;}
	    	.line{
	    	@media (max-width: 920px){
	    		display: block;
		        height: 4px;
		        width: 100%;
		        border-radius: 4px;
		        background: #F2F2F2;
			    }
	    	}
	    	.line1{
	    	@media (max-width: 920px){
		        transform-origin: 0% 0%;
		        transition: transform 0.3s ease-in-out;
		    	}
		    }
		    .line2{
	    	@media (max-width: 920px){
		        transition: transform 0.2s ease-in-out;
		    	}
		    }
		    .line3{
	    	@media (max-width: 920px){
		        transform-origin: 0% 100%;
        		transition: transform 0.3s ease-in-out;
		    	}
		    }
    	}
    	.logo{
		    @media (max-width: 920px){
		    	position: absolute;
		        top: 10px;
		        left: 0px; }
		        img{
		        @media (max-width:1400px){
		        	width:325px;
		        }
		        @media (max-width:1400px){
		        	width:300px;
		        }
		        @media (max-width: 770px){
		        	width:200px;
		        }
		        @media (max-width: 575px){
		        	width:170px;
		        }
		        }
			}
	    
	}
	
	.menu-items{
	    display: flex;
	    @media (max-width: 920px){
	    	position: absolute;
        	right: -30px;
        	top:0;
		    padding-top: 100px;
	        background: #212121;
			border-radius: 5px 0px 0px 5px;
	        height: 100vh;
	        width: 300px;
	        transform: translate(150%);
	        display: flex;
	        flex-direction: column;
	        //margin-left: -40px;
	        //padding-left: 40px;
	        transition: transform 0.5s ease-in-out;
	        overflow: scroll;
	        }
	        @media (max-width: 920px){width: 255px;}
	    li{
	    	list-style: none;
		    margin-left: 53px;
		    @media (max-width: 1400px){margin-left: 30px;}
		    @media (max-width: 1050px){margin-left: 20px;}
		    @media (max-width: 920px){
		    	margin-bottom: 28px;
	        	}
			.contact{
				border: 1px solid rgba(242, 242, 242, 0.2);
				border-radius: 60px;
		    	padding:5px 10px;
		    	text-decoration: none;
		    &:hover, &:focus{border: 1px solid #fff; color: #fff;}
			}
			
		}
	}
}
.progress-container {
	position: fixed;
	right: 30px;
	top:40%;
	width: 1px;
	height: 25%;
	//background: #6A6A6A;
	border-radius: 2px;
	margin: auto;
	border: 1px solid rgba(106, 106, 106, 50%);
	.progress-bar {
	width: 1px;
	background: #fff;
	border-radius: 2px;
	&:before {
	position:absolute;
	content:"";
	right:0;
	top:-5px;
	left:-6px;
	width:12px;
	height:12px;
	//height: 1%;
	background: #fff;
    border-radius: 50%;
	}
	}
}


//header css  end//
.fullpage-wrapper{
	margin-top:60px !important;
	@media (max-width: 1600px){margin-top: 35px !important;}
	@media (max-width: 1400px){margin-top: 25px !important;}
}
//banner css

.bannerSec{
	h1{
	//margin:50px 0px;
	&:hover{background:-webkit-linear-gradient(330deg, #F2F2F2 42.19%, #A2DFF2 73.22%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		}
		}
	
}
.bannerSec2{
	p{
	color:rgba(255, 255, 255, 0.9);
	margin-bottom:25px;
	line-height: 125%;
	}
}
.bannerSec1{
	h4{margin-bottom: 10px;}
	p{
	color:rgba(255, 255, 255, 0.9);
	margin-bottom:25px;
	line-height: 125%;
	}
}

//testimonials css
.testimonialsSec{
	overflow: hidden !important;
	.testimonialsSlider{
		.slick-slide {
			margin: 0 26px;
			@media (max-width: 480px){margin: 0 16px;}
		}
		.slick-list {
			margin: 0 -26px;
			@media (max-width: 480px){margin: 0 -16px;}
		}
		.slick-prev, .slick-next{
			top: 100%;
			height:0;
		}
		
		.slick-prev{
			left: 1150px;
			@media (max-width: 1950px){left: 850px;}
			@media (max-width: 1600px){left: 725px;}
			@media (max-width: 1450px){left: 625px;}
			@media (max-width: 1050px){left: 450px;}
			@media (max-width: 920px){left: 325px;}
			@media (max-width: 575px){left: 160px;}
			@media (max-width: 375px){left: 140px;}
			@media (max-width: 320px){left: 120px;}
			&:before{
			font-size: 38px;
			opacity:0.5;
			&:hover{opacity:1;}
		    }
		}
		.slick-next{
			right: 1150px;
			@media (max-width: 1950px){right: 850px;}
			@media (max-width: 1600px){right: 725px;}
			@media (max-width: 1450px){right: 625px;}
			@media (max-width: 1050px){right: 450px;}
			@media (max-width: 920px){right: 325px;}
			@media (max-width: 575px){right: 160px;}
			@media (max-width: 375px){right: 140px;}
			@media (max-width: 320px){right: 120px;}
			&:before{
			font-size: 38px;
			opacity:0.5;
			&:hover{opacity:1;}
		    }
		}
	.testimonials{
		display:flex;
		background: #252525;
		border-radius: 10px;
		padding:155px 208px;
		@media (max-width: 1600px){
			padding:60px 100px;
		}
		@media (max-width: 1450px){
			padding:60px 50px;
		}
		@media (max-width: 920px){
			display:block;
			padding:25px 22px;
		}
		@media (max-width: 320px){
			display:block;
			padding:20px 15px;
		}
		.profile{
			width:30%;
			@media (max-width: 920px){
				width:100%;
				display:flex;
				//text-align: center;
    			align-items: center;
    			border-bottom:1px solid rgba(255,255,255,0.1);
    			padding-bottom: 20px;
    		}
    		img{
    			margin: 0 auto;
    			max-width:100%;
    			//@media (max-width: 1400px){width:150px;}
    			@media (max-width: 920px){margin: 0; width:150px;}
    			@media (max-width: 575px){width:80px;}
    			@media (max-width: 320px){width:65px;}
    		}
    		.profileInfo{
    			margin-top:20px;
    			@media (max-width: 920px){padding: 0 35px;}
    			@media (max-width: 575px){padding: 0 15px; margin-top:0px;}
    			@media (max-width: 575px){padding: 0px; margin-top:0px; margin-left:10px;}
    			h4{margin-bottom:10px;text-align:center;
    				@media (max-width: 920px){
    				text-align:left;
    				}
    			}
    			p{text-align:center;
    			@media (max-width: 920px){
    				text-align:left;
    				}
    			}
    		}
    	}
		.description{
			padding-left: 40px;
			position:relative;
			width:70%;
			@media (max-width: 920px){padding: 20px 0px 0px 0px; width:100%;}
			p{
				padding-top: 30px;
			}
				img{position:absolute; top:-40px; opacity: 0.4;
				@media (max-width: 1450px){
					top:-40px;
				}
				@media (max-width: 920px){
					top:10px;
				}
				}
			}
			.testimonialsDesktop{
			display:block;
				@media (max-width: 920px){display:none;}
			}
			.testimonialsMobile{
			display:none;
				@media (max-width: 920px){display:block;}
				a{
				&:visited, &:hover, &:active, &:focus{
				 	outline: none;
    				text-decoration: none;
    				color: #6A6A6A;
				 }
				}
			}

		}

		}
	}

// testimonials mobile Modal
.modal.in .modal-dialog3 {
    width: 50%;
    margin: 0 auto;

    .modal-content {
        background-color: #252525;
        padding: 40px;
        border: none;
        border-radius: 10px 10px 0px 0px;

        

            .close {
                margin-top: -10px;
			    color: #f2f2f2;
			    opacity: 1;
			    font-weight: normal;
			    text-shadow: none;
			    font-size: 46px;
			    position: relative;
			    z-index: 999;
            }
        

        .modal-body {
            padding: 0px;
        }
		.teamBox {
            display: flex;
            justify-content: space-between;
            padding-bottom: 20px;

            .teamDesc {
                width: 76%;

                p {
                    margin-bottom: 18px;
                }
            }

            .memberImg {
                width: 20%;
            }
        }

        .teamPara {
            padding-top: 18px;
            border-top: 1px solid #6A6A6A;

            p {
                margin-bottom: 30px;
                font-size:16px;
            }
        }
		.modal-footer {
            padding: 0px;
            border-top: none;
        }
    }

   @media all and (max-width: 920px) {
        transform: translate(0px, 100px);
        width: 100%;

        .modal-content {
            .teamBox {
                padding-bottom: 15px;

                .teamDesc {
                    width: 70%;
                    padding: 70px 10px;
                    h3 {
                        font-size:20px;
                        margin-bottom:10px;
                    }
                    p {
                        margin-bottom: 12px;
                        font-size:14px;
                        color:#6A6A6A;
                    }
                    img{
                        width: 30px;
                    }
                }

                .memberImg {
                    width: 28%;
                }
            }
        }
    }
    @media all and (max-width: 575px) {
    	.memberImg {
            width: 80px;
        }
        .teamDesc {
            width: 70%;
            padding: 20px 10px !important;
            }
    }

    @media all and (max-width: 375px) {

        .modal-content {
            padding: 20px;

            .close {
                margin-top: 0px !important;
            }

        }
    }
}










