// Bhavika's CSS
progress {
    position: fixed;
    top: 15px;
}



#fp-nav ul li a span {
    background-color: #fff !important;
}


.fullpage-wrapper {
    margin-top: 60px !important;

    @media (max-width: 1600px) {
        margin-top: 35px !important;
    }

    @media (max-width: 1400px) {
        margin-top: 25px !important;
    }
}

h2 {
    text-align: left;
}


header {
    position: fixed;
    top: 0;
    width: 100%;
    //height:147px;
    z-index: 100;
    display: block;
    background: #212121;

    @media (max-width: 920px) {
        padding: 0px;
    }

    input[type="checkbox"]:checked~ {
        .menu-items {
            @media (max-width: 920px) {
                transform: translateX(0);
            }

            @media (max-width: 575px) {
                transform: translateX(0);
            }
        }

        .fullpage-wrapper {
            background: #292929;
            opacity: 0.5;
        }

        .hamburger-lines {
            .line1 {
                @media (max-width: 920px) {
                    transform: rotate(45deg);
                }
            }

            .line2 {
                @media (max-width: 920px) {
                    transform: scaleY(0);
                }
            }

            .line3 {
                @media (max-width: 920px) {
                    transform: rotate(-45deg);
                }
            }
        }
    }

    a {
        color: rgba(242, 242, 242, 0.8);
        text-decoration: none;
        transition: color 0.3s ease-in-out;

        &.is-active {
            position: relative;
            color: #fff;
            transition: all 0.35s ease;
            text-decoration: none;

            &:after {
                position: absolute;
                content: "";
                left: 0;
                bottom: -4px;
                width: 100%;
                height: 2px;
                border: none;
                outline: none;
                background: #fff;
            }
        }
    }

    .menu-link:hover {
        position: relative;
        color: #fff;
        text-decoration: none;
        transition: all 0.35s ease;

        &:before {
            position: absolute;
            content: "";
            left: -5px;
            right: 0;
            top: -15px;
            bottom: 0;
            width: 50px;
            height: 50px;
            background: #252525;
            border: 1px solid #1C1C1C;
            outline: none;
            border-radius: 50%;
            z-index: -1;
            margin: 0 auto;

            @media (max-width: 1400px) {
                top: -10px;
                width: 40px;
                height: 40px;
            }
        }
    }




    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 60px;

        @media (max-width: 1600px) {
            padding-top: 40px;
        }

        @media (max-width: 1400px) {
            padding-top: 30px;
        }

        @media (max-width: 920px) {
            display: block;
            position: relative;
        }

        @media (max-width: 770px) {
            padding-top: 25px;
            padding-bottom: 25px;
        }

        input[type="checkbox"],
        .hamburger-lines {
            display: none;

            @media (max-width: 920px) {
                display: block;
            }
        }

        input[type="checkbox"] {
            @media (max-width: 920px) {
                position: absolute;
                display: block;
                height: 32px;
                width: 30px;
                top: 20px;
                right: 0px;
                z-index: 5;
                opacity: 0;
                cursor: pointer;
            }

            @media (max-width: 770px) {
                height: 24px;
                width: 24px;
            }
        }

        &:checked~ {
            .logo {
                @media (max-width: 500px) {
                    display: none;
                }
            }
        }

        .hamburger-lines {
            @media (max-width: 920px) {
                display: block;
                height: 28px;
                width: 35px;
                position: absolute;
                top: 20px;
                right: 0px;
                z-index: 2;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            @media (max-width: 770px) {
                height: 24px;
                width: 30px;
            }

            .line {
                @media (max-width: 920px) {
                    display: block;
                    height: 4px;
                    width: 100%;
                    border-radius: 4px;
                    background: #F2F2F2;
                }
            }

            .line1 {
                @media (max-width: 920px) {
                    transform-origin: 0% 0%;
                    transition: transform 0.3s ease-in-out;
                }
            }

            .line2 {
                @media (max-width: 920px) {
                    transition: transform 0.2s ease-in-out;
                }
            }

            .line3 {
                @media (max-width: 920px) {
                    transform-origin: 0% 100%;
                    transition: transform 0.3s ease-in-out;
                }
            }
        }

        .logo {
            @media (max-width: 920px) {
                position: absolute;
                top: 10px;
                left: 0px;
            }

            img {
                @media (max-width:1400px) {
                    width: 325px;
                }

                @media (max-width:1400px) {
                    width: 300px;
                }

                @media (max-width: 770px) {
                    width: 200px;
                }

                @media (max-width: 575px) {
                    width: 170px;
                }
            }
        }

    }

    .menu-items {
        display: flex;

        @media (max-width: 920px) {
            position: absolute;
            right: -30px;
            top: 0;
            padding-top: 100px;
            background: #212121;
            border-radius: 5px 0px 0px 5px;
            height: 100vh;
            width: 300px;
            transform: translate(150%);
            display: flex;
            flex-direction: column;
            //margin-left: -40px;
            //padding-left: 40px;
            transition: transform 0.5s ease-in-out;
            overflow: scroll;
        }

        @media (max-width: 920px) {
            width: 255px;
        }

        li {
            list-style: none;
            margin-left: 53px;

            @media (max-width: 1400px) {
                margin-left: 30px;
            }

            @media (max-width: 1050px) {
                margin-left: 20px;
            }

            @media (max-width: 920px) {
                margin-bottom: 28px;
            }

            &:last-child a {
                &.is-active {
                    &:after {
                        background: transparent;
                    }
                }
            }

            .contact {
                border: 1px solid rgba(242, 242, 242, 0.2);
                border-radius: 60px;
                padding: 5px 10px;
                text-decoration: none;

                &:hover,
                &:focus {
                    border: 1px solid #fff;
                    color: #fff;
                }
            }

        }
    }
}

.progress-container {
    position: fixed;
    right: 30px;
    top: 40%;
    width: 1px;
    height: 25%;
    //background: #6A6A6A;
    border-radius: 2px;
    margin: auto;
    border: 1px solid rgba(106, 106, 106, 50%);

    .progress-bar {
        width: 1px;
        background: #fff;
        border-radius: 2px;

        &:before {
            position: absolute;
            content: "";
            right: 0;
            top: -5px;
            left: -6px;
            width: 12px;
            height: 12px;
            //height: 1%;
            background: #fff;
            border-radius: 50%;
        }
    }
}





.section {
    margin-bottom: 30px;


    h2 {
        margin-bottom: 40px;

        @media all and (max-width: 1600px) {
            margin-bottom: 20px;
        }
    }

    a:hover,
    a:active,
    a:visited,
    a:focus {
        color: #fff;
    }
}




.modal.in .modal-dialog1 {
    width: 80%;

    margin: 10% auto 0;



    .modal-content {
        background-color: #252525;
        padding: 70px;
        border: none;

        .close {
            margin-top: -30px;
            opacity: 1;
            position: relative;
            z-index: 999;

            img {
                width: 20px;
                height: 20px;
            }
        }



        .modal-body {
            padding: 0px;
        }

        .serviceDesc {
            h3 {
                margin-bottom: 10px;
            }

            p {
                margin-bottom: 80px;
            }

            .listService {
                display: flex;
                justify-content: space-between;

                ul {
                    width: 40%;

                    li {
                        margin-bottom: 40px;
                    }
                }
            }

        }

        .teamBox {
            display: flex;
            justify-content: space-between;
            padding-bottom: 20px;

            .teamDesc {
                width: 76%;

                p {
                    margin-bottom: 18px;
                }
            }

            .memberImg {
                width: 20%;
            }
        }

        .teamPara {
            padding-top: 18px;
            border-top: 1px solid #6A6A6A;
            ;
        }


    }

    @media all and (max-width: 1600px) {
        width: 70%;
        margin: 10% auto 0;

        .modal-content {
            padding: 60px 50px;

            .modal-body {
                .listService {
                    ul {
                        width: 48%;

                        li {
                            margin-bottom: 26px;
                        }
                    }
                }
            }

            .serviceDesc {
                p {
                    margin-bottom: 30px;
                }
            }
        }
    }

    @media all and (max-width: 1400px) {
        margin: 5% auto 0;

        .modal-content {
            .close {
                img {
                    height: 18px;
                    width: 18px;
                }
            }
        }
    }

    @media all and (max-width: 1280px) {
        width: 83%;

        .modal-content {
            .modal-body {
                .listService {
                    ul {
                        width: 48%;

                        li {
                            margin-bottom: 26px;
                        }
                    }
                }
            }
        }

    }

    @media all and (max-width: 780px) {
        transform: translate(0px, 100px);
        width: 100%;
        margin: 0 auto 0;

        .modal-content {
            padding: 60px 42px 30px;

            .close {
                margin-top: -42px;

                img {
                    width: 14px;
                    height: 14px;
                }
            }

            .modal-body {
                .listService {
                    display: block;

                    ul {
                        width: 100%;

                        li {
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
    }

    @media all and (max-width: 375px) {

        .modal-content {
            padding: 60px 38px 20px;



        }
    }
}

.modal.in .modal-dialog2 {
    width: 50%;
    margin: 10% auto 0px;

    .modal-content {
        background-color: #252525;
        padding: 63px;
        border: none;

        .close {
            margin-top: -30px;
            opacity: 1;
            position: relative;
            z-index: 999;

            img {
                width: 20px;
                height: 20px;
            }
        }


        .modal-body {
            padding: 0px;
        }



        .teamBox {
            display: flex;
            justify-content: space-between;
            padding-bottom: 20px;

            .teamDesc {
                width: 76%;

                p {
                    margin-bottom: 18px;
                }
            }

            .memberImg {
                width: 20%;
            }
        }

        .teamPara {
            padding-top: 18px;
            border-top: 1px solid #6A6A6A;

            p {
                margin-bottom: 30px;
            }
        }


        .casestudiesPara {
            display: flex;
            justify-content: space-between;
            padding-bottom: 20px;
            align-items: center;

            .caseDesc {
                width: 76%;

                p {
                    margin-bottom: 18px;
                }
            }

            .caseImg {
                width: 20%;
            }
        }

        .casePara {
            padding-top: 18px;
            border-top: 1px solid #6A6A6A;

            p {
                margin-bottom: 30px;
            }
        }

        .modal-footer {
            padding: 0px;
            border-top: none;
        }
    }

    @media all and (max-width: 1600px) {
        width: 70%;
        margin: 10% auto 0px;

        .modal-content {
            padding: 60px 44px;

            .teamBox {
                padding-bottom: 15px;

                .teamDesc {
                    width: 78%;

                    p {
                        margin-bottom: 12px;
                    }
                }

                .memberImg {
                    width: 20%;
                }
            }
        }

    }

    @media all and (max-width: 1400px) {
        margin: 5% auto 0px;

        .modal-content {
            .close {
                img {
                    height: 18px;
                    width: 18px;
                }
            }

        }

    }

    @media all and (max-width: 1280px) {

        .modal-content {
            padding: 60px 44px 30px;

        }

    }

    @media all and (max-width: 780px) {
        transform: translate(0px, 100px);
        width: 100%;
        margin: 0 auto 0;

        .modal-content {
            padding: 60px 42px 30px;

            .close {
                margin-top: -42px;

                img {
                    width: 14px;
                    height: 14px;
                }
            }

            .teamBox {
                padding-bottom: 15px;

                .teamDesc {
                    width: 72%;

                    p {
                        margin-bottom: 8px;
                    }

                    img {
                        width: 24px;
                    }
                }

                .memberImg {
                    width: 26%;
                }
            }
        }
    }

    @media all and (max-width: 375px) {

        .modal-content {
            padding: 60px 20px 30px;



        }
    }
}

.modal.in .modal-dialog3 {
    width: 50%;
    margin: 0 auto;

    .modal-content {
        background-color: #252525;
        padding: 40px;
        border: none;
        border-radius: 10px 10px 0px 0px;



        .close {
            margin-top: -30px;
            opacity: 1;
            position: relative;
            z-index: 999;

            img {
                width: 20px;
                height: 20px;
            }
        }


        .modal-body {
            padding: 0px;
        }

        .teamBox {
            display: flex;
            justify-content: space-between;
            padding-bottom: 20px;

            .teamDesc {
                width: 76%;

                p {
                    margin-bottom: 18px;
                }
            }

            .memberImg {
                width: 20%;
            }
        }

        .teamPara {
            padding-top: 18px;
            border-top: 1px solid #6A6A6A;

            p {
                margin-bottom: 30px;
                font-size: 16px;
            }
        }

        .modal-footer {
            padding: 0px;
            border-top: none;
        }
    }


    @media all and (max-width: 1600px) {
        padding: 60px 50px;
    }


    @media all and (max-width: 1400px) {
        .modal-content {
            .close {
                img {
                    height: 18px;
                    width: 18px;
                }
            }
        }

    }


    @media all and (max-width: 920px) {
        transform: translate(0px, 100px);
        width: 100%;

        .modal-content {
            padding: 60px 42px 30px;

            .close {
                margin-top: -42px;

                img {
                    width: 14px;
                    height: 14px;
                }
            }

            .teamBox {
                padding-bottom: 15px;

                .teamDesc {
                    width: 70%;
                    padding: 70px 10px;

                    h3 {
                        font-size: 20px;
                        margin-bottom: 10px;
                    }

                    p {
                        margin-bottom: 12px;
                        font-size: 14px;
                        color: #6A6A6A;
                    }

                    img {
                        width: 30px;
                    }
                }

                .memberImg {
                    width: 28%;
                }
            }
        }
    }

    @media all and (max-width: 575px) {
        .memberImg {
            width: 80px;
        }

        .teamDesc {
            width: 70%;
            padding: 20px 10px !important;
        }
    }

    @media all and (max-width: 375px) {

        .modal-content {
            padding: 60px 20px 30px;



        }
    }
}


.bannerSec {
    h1 {

        //margin:50px 0px;
        &:hover {
            background: -webkit-linear-gradient(330deg, #F2F2F2 42.19%, #A2DFF2 73.22%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
    }

}

.bannerSec2 {
    p {
        color: rgba(255, 255, 255, 0.9);
        margin-bottom: 25px;
        line-height: 125%;
    }
}

.bannerSec1 {

    h4 {
        margin-bottom: 15px;

        @media all and (max-width: 1400px) {
            margin-bottom: 10px;
        }
    }

    p {
        color: rgba(255, 255, 255, 0.9);
        margin-bottom: 25px;
        line-height: 125%;
    }
}

.serviceSec {
    .serviceSlider {
        display: block;
        margin-left: -15px;

        .servicesBox {
            border: 1px solid rgba(177, 177, 177, 0.2);
            border-radius: 10px;
            padding: 54px 0px 54px 38px;
            width: 23%;
            margin: 0px 15px;


            .listService {
                display: flex;
                justify-content: space-between;

                ul {
                    width: 48%;
                }
            }

            &:hover {
                background-color: #252525;
            }

            h3,
            p {
                padding-top: 20px;
                padding-bottom: 30px;
                line-height: 27px;
            }

            .serviceList {
                border-top: 1px solid rgba(242, 242, 242, 0.6);
                margin-right: 37px;
                padding-top: 36px;




                &>* {
                    list-style: none;
                    padding: 0px;
                    margin-left: 15px;
                }

                ul {
                    margin-left: 46px;

                    li {
                        margin-top: 20px;
                        position: relative;
                        list-style: none;

                        &::before {
                            content: '';
                            position: absolute;
                            width: 10px;
                            height: 10px;
                            color: #414141;
                            top: 8px;
                            left: -40px;
                            border-radius: 50%;
                            text-align: center;
                            background-color: #414141;
                            font-size: 18px;

                        }
                    }
                }

                ol {
                    counter-reset: item;

                    li {
                        counter-increment: item;
                        color: #fff;
                        padding-left: 35px;
                        position: relative;
                        margin-bottom: 34px;

                        &::before {
                            content: counter(item) '';
                            position: absolute;
                            width: 30px;
                            height: 30px;
                            color: #fff;
                            top: 0px;
                            left: -22px;
                            border-radius: 50%;
                            text-align: center;
                            background-color: #414141;
                            font-size: 14px;
                            padding-top: 5px;
                        }
                    }
                }

                p {
                    margin-bottom: 20px;
                }

                .ctaOne {
                    color: #fff;
                    text-decoration: none;
                    border: 1px solid rgba(177, 177, 177, 0.2);
                    border-radius: 40px;
                    padding: 12px 26px;
                    background-color: transparent;
                    outline: none;

                    img {
                        transition: 0.6s all;
                    }

                    &:hover {
                        img {
                            transform: translateX(15px);
                        }
                    }
                }
            }
        }



        .slick-dots li button::before {
            color: transparent;
            border: 1px solid rgba(242, 242, 242, 0.4);
            border-radius: 60px;
            line-height: 16px;
        }

        .slick-dots li.slick-active button:before {
            color: rgba(242, 242, 242, 0.6);
            font-size: 48px;
        }

        .slick-slide img {
            display: inline-block;
        }







    }

    @media all and (max-width: 1800px) {
        .servicesBox {
            padding: 50px 0px 50px 32px;
        }

    }



    @media all and (max-width: 1600px) {
        .serviceSlider {
            .servicesBox {
                width: 23%;
                margin: 0px 10px;
                padding: 24px 0px 24px 20px;

                .iconImg {
                    width: 40px;
                }

                h3,
                p {
                    padding-top: 12px;
                    padding-bottom: 15px;

                }

                .serviceList {
                    margin-right: 30px;
                    padding-top: 15px;

                    p {
                        margin-bottom: 15px;
                    }

                    a {
                        padding: 10px 20px;
                    }

                    ol li {
                        margin-bottom: 15px;

                        &::before {
                            width: 25px;
                            height: 25px;
                            padding-top: 4px;
                            font-size: 12px;
                            left: -12px;
                        }
                    }

                }
            }
        }


    }

    @media all and (max-width: 1460px) {
        .serviceSlider {
            .servicesBox {

                .iconImg {
                    width: 34px;
                }
            }
        }
    }

    @media all and (max-width: 1180px) {
        .servicesBox {
            .serviceList {
                margin-right: 10px;

                .ctaOne {
                    padding: 12px 20px;
                }
            }
        }

    }

    @media all and (max-width: 1024px) {
        .serviceSlider {
            display: block;

            .servicesBox {
                height: 530px;
                margin-bottom: 20px;

                .ctaOne {
                    img {
                        margin-left: 5px;
                    }
                }
            }
        }



    }
}




.teamSection {
    .teamSec {
        display: flex;
        justify-content: space-between;

        .teamMembers {
            width: 48%;
            position: relative;
            margin-top: 20px;

            .modal.in .modal-dialog {
                width: auto;
            }

            a {
                text-decoration: none;
                padding: 85px 0px;
                text-align: center;
                position: absolute;
                bottom: -2px;
                color: white;
                right: 0;
                width: 100%;
                background: linear-gradient(180deg, rgba(13, 13, 13, 0) 8.82%, rgba(33, 33, 33, 0.88) 45.31%, #212121 91.77%);

                img {
                    transition: 0.6s all;
                }

                &:hover {
                    img {
                        transform: translateX(15px);
                    }
                }
            }


            .memberImg {
                max-width: 100%;
            }
        }

        @media all and (max-width: 1600px) {
            height: 420px;
            overflow: hidden;

            .teamMembers {
                margin-bottom: 12px;

                a {
                    padding: 50px 0px;
                    bottom: -40px;
                }
            }
        }

        @media all and (max-width: 1280px) {
            .teamMembers {
                a {
                    padding: 40px 0px;
                }
            }
        }

        @media all and (max-width: 900px) {
            height: unset;
            overflow: unset;
        }

        @media all and (max-width: 680px) {
            height: unset;
            display: block;

            .teamMembers {
                width: 100%;

                &:nth-child(1) {
                    margin-bottom: 40px;
                }

                .linkedinImg {
                    width: 30px;
                }
            }
        }
        @media all and (max-width: 450px){
            .teamMembers{
                height: 240px;
                overflow: hidden;
                a{
                    padding: 36px 0px;
                }
            }
        }
    }

}




.clientsBox {
    .clientSec {
        display: flex;
        justify-content: space-between;




        .tabs {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 50px;
            width: 230px;
            border: 1px solid rgba(242, 242, 242, 0.2);
            border-radius: 60px;

            h3 {
                text-align: center;
                color: #94969A;
                padding-top: 15px;
                padding-bottom: 15px;
                cursor: pointer;
                z-index: 3;
                font-size: 12px;
                transition: .3s;



                &.active {
                    color: #fff;

                    a {

                        font-weight: 500 !important;
                    }
                }

                width: 48%;

                a {
                    text-decoration: none;
                }
            }

            .bg {
                z-index: 1;
                position: absolute;
                left: -1px;
                top: -1px;
                width: 115px;
                height: calc(100% + 2px);
                background: #6A6A6A;
                border: 1px solid rgba(242, 242, 242, 0.2);
                border-radius: 60px;
                transition: .3s;
            }


            @media all and (max-width: 768px) {
                width: 127px;
                margin-bottom: 20px;

                .bg {
                    width: 66px;
                }
            }
        }



    }

    #scrolldiv {
        background-color: transparent;
        width: unset;
        height: 450px;
        overflow-y: scroll;

        @media all and (max-width:1150px) {
            height: 360px;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        #scrolldiv-content {
            background-color: unset;
            height: unset;
            width: unset;


            .tabs-content {
                div[id$="tab-content"] {
                    display: none;
                }

                .active {
                    display: block !important;
                }

                .flex {
                    display: flex;
                    flex-wrap: wrap;
                    margin-left: -30px;



                    .box {
                        background-position: 0 0, 0 0, 100% 0, 0 100%;
                        background-size: 3px 100%, 100% 3px, 3px 100%, 100% 3px;
                        background-repeat: no-repeat;
                    }

                    img {
                        filter: grayscale(100%);
                        -webkit-filter: grayscale(100%);
                        transition: 0.5s;
                        width: 225px;
                        margin: 0 auto;
                        display: flex;
                        justify-content: center;


                        &:hover {
                            filter: grayscale(0%);
                            -webkit-filter: grayscale(0%);
                        }
                    }

                    .content,
                    .contentOne {
                        width: 25%;
                        margin-top: -1px;


                        display: none;

                        .imgBorder {
                            margin: 15px 0px;
                            border-right: 1px solid #373737;
                        }

                        &::before {
                            content: '';
                            display: block;

                            border-top: 1px solid #373737;
                            width: 80%;
                            margin: 0 auto;
                        }

                        &::after {
                            content: '';
                            display: block;

                            border-bottom: 1px solid #373737;
                            width: 80%;
                            margin: 0 auto;
                        }

                        &:nth-child(4n+4) {
                            .imgBorder {
                                border-right: none;
                            }
                        }





                    }

                    @media all and (max-width:1200px) {
                        img {
                            width: 170px;
                        }
                    }

                    @media all and (max-width:780px) {
                        margin-left: 0px;

                        .content,
                        .contentOne {
                            width: 48%;


                            &:nth-child(even) {
                                .imgBorder {

                                    border-right: none;
                                }
                            }
                        }


                    }
                }

                #loadMore,
                #loadMoretab {
                    text-align: center;
                    display: block;
                    margin: 0 auto;
                    text-decoration: none;
                    margin-top: 40px;
                }
            }

            .noContent {
                color: #6A6A6A;
                background-color: transparent !important;
                pointer-events: none;
            }
        }

        @media all and (max-width: 780px) {
            height: 780px;
        }
    }

}


.testimonialsSec {
    overflow: hidden !important;

    .testimonialsSlider {
        .slick-slide {
            margin: 0 26px;

            @media (max-width: 480px) {
                margin: 0 16px;
            }
        }

        .slick-list {
            margin: 0 -26px;

            @media (max-width: 480px) {
                margin: 0 -16px;
            }
        }

        .slick-prev,
        .slick-next {
            top: 100%;
            height: 0;
        }

        .slick-prev {
            left: 1150px;

            @media (max-width: 1950px) {
                left: 850px;
            }

            @media (max-width: 1600px) {
                left: 725px;
            }

            @media (max-width: 1450px) {
                left: 625px;
            }

            @media (max-width: 1050px) {
                left: 450px;
            }

            @media (max-width: 920px) {
                left: 325px;
            }

            @media (max-width: 575px) {
                left: 160px;
            }

            &:before {
                font-size: 38px;
                opacity: 0.5;

                &:hover {
                    opacity: 1;
                }
            }
        }

        .slick-next {
            right: 1150px;

            @media (max-width: 1950px) {
                right: 850px;
            }

            @media (max-width: 1600px) {
                right: 725px;
            }

            @media (max-width: 1450px) {
                right: 625px;
            }

            @media (max-width: 1050px) {
                right: 450px;
            }

            @media (max-width: 920px) {
                right: 325px;
            }

            @media (max-width: 575px) {
                right: 160px;
            }

            &:before {
                font-size: 38px;
                opacity: 0.5;

                &:hover {
                    opacity: 1;
                }
            }
        }

        .testimonials {
            display: flex;
            background: #252525;
            border-radius: 10px;
            padding: 155px 208px;

            @media (max-width: 1600px) {
                padding: 60px 100px;
            }

            @media (max-width: 1450px) {
                padding: 60px 50px;
            }

            @media (max-width: 920px) {
                display: block;
                padding: 25px 22px;

            }

            .profile {
                width: 30%;

                @media (max-width: 920px) {
                    width: 100%;
                    display: flex;
                    //text-align: center;
                    align-items: center;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                    padding-bottom: 20px;
                }

                img {
                    margin: 0 auto;
                    max-width: 100%;

                    //@media (max-width: 1400px){width:150px;}
                    @media (max-width: 920px) {
                        margin: 0;
                        width: 150px;
                    }

                    @media (max-width: 575px) {
                        width: 80px;
                    }
                }

                .profileInfo {
                    margin-top: 20px;

                    @media (max-width: 920px) {
                        padding: 0 35px;
                    }

                    @media (max-width: 575px) {
                        padding: 0 15px;
                    }

                    h4 {
                        margin-bottom: 10px;
                        text-align: center;

                        @media (max-width: 920px) {
                            text-align: left;
                        }
                    }

                    p {
                        text-align: center;

                        @media (max-width: 920px) {
                            text-align: left;
                        }
                    }
                }
            }

            .description {
                padding-left: 40px;
                position: relative;
                width: 70%;

                @media (max-width: 920px) {
                    padding: 20px 0px 0px 0px;
                    width: 100%;
                }

                p {
                    padding-top: 30px;
                }

                img {
                    position: absolute;
                    top: -40px;
                    opacity: 0.4;

                    @media (max-width: 1450px) {
                        top: -40px;
                    }

                    @media (max-width: 920px) {
                        top: 10px;
                    }
                }
            }

            .testimonialsDesktop {
                display: block;

                @media (max-width: 920px) {
                    display: none;
                }
            }

            .testimonialsMobile {
                display: none;

                @media (max-width: 920px) {
                    display: block;
                }

                a {

                    &:visited,
                    &:hover,
                    &:active,
                    &:focus {
                        outline: none;
                        text-decoration: none;
                        color: #6A6A6A;
                    }
                }
            }

        }

    }
}



.caseStudies {


    #scrolldiv {
        background-color: transparent;
        width: unset;
        height: 500px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        #scrolldiv-content {
            background-color: unset;
            height: unset;
            width: unset;

            .flex {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-left: -30px;

                img {
                    filter: grayscale(100%);
                    -webkit-filter: grayscale(100%);
                    transition: 0.5s;

                    margin: 0 auto;
                    display: flex;
                    justify-content: center;
                    width: 225px;

                    &:hover {
                        filter: grayscale(0%);
                        -webkit-filter: grayscale(0%);
                    }
                }


                .contentThree {
                    width: 23%;
                    display: none;
                    margin-top: 40px;
                    padding: 10px 0px;
                    background-color: #252525;
                    border: 1px solid #1C1C1C;
                    border-radius: 10px;


                }

                @media all and (max-width:1200px) {
                    img {
                        width: 170px;
                    }
                }

                @media all and (max-width: 780px) {
                    margin-left: 0px;

                    .contentThree {
                        width: 48%;
                    }

                }
            }

            #loadMorethree {
                text-align: center;
                display: block;
                margin: 0 auto;
                text-decoration: none;
                margin-top: 35px;
            }

            .noContent {
                color: #6A6A6A;
                background-color: transparent !important;
                pointer-events: none;
            }
        }

        @media all and (max-width: 780px) {
            height: 780px;
        }
    }


}


.contactSec {
    .contactBox {
        display: flex;
        justify-content: space-between;
        background-color: #252525;
        border-radius: 10px;
        padding: 90px 0px;

        .contDec {
            width: 35%;
            padding: 0px 90px;

            &:nth-child(2) {
                border-left: 1px solid rgba(255, 255, 255, 0.1);
                border-right: 1px solid rgba(255, 255, 255, 0.1);
                width: 28%;
            }

            h3 {
                line-height: 30px;
            }

            h4 {
                padding: 42px 0px 24px 0px;
            }

            .mailDesc {
                margin-bottom: 80px;
            }

            a {
                text-decoration: none;
            }

            .icon-1 {
                border: 1px solid #fff;
                border-radius: 50%;
                width: 70px;
                height: 70px;
                padding: 12px;
            }

            ol {
                counter-reset: item;
                list-style: none;

                li {
                    counter-increment: item;
                    color: #fff;
                    padding-left: 53px;
                    position: relative;
                    margin-bottom: 34px;




                    &::before {
                        content: counter(item) '';
                        position: absolute;
                        width: 38px;
                        height: 34px;
                        color: #fff;
                        top: 0px;
                        left: -4px;
                        border-radius: 50%;
                        text-align: center;
                        background-color: #414141;
                        font-size: 18px;
                        padding-top: 5px;
                        font-weight: normal !important;
                    }

                    p {
                        margin-top: 15px;
                    }
                }
            }




        }

        @media all and (max-width: 1800px) {
            .contDec {
                padding: 0px 70px;
            }

        }

        @media all and (max-width: 1600px) {
            padding: 40px 0px;

            .contDec {
                padding: 0px 50px;

                h4 {
                    padding: 22px 0px 22px 0px;
                }

                .icon-1 {
                    border: 1px solid #fff;
                    border-radius: 50%;
                    width: 60px;
                    height: 60px;

                    img {
                        width: 30px;
                    }
                }

                ol li {
                    margin-bottom: 24px;

                    &::before {
                        width: 28px;
                        height: 28px;
                        font-size: 14px;
                    }

                    p {
                        margin-top: 10px;
                    }
                }

                .mailDesc {
                    margin-bottom: 50px;
                }
            }
        }

        @media all and (max-width: 1440px) {
            .contDec {
                .icon-1 {
                    width: 50px;
                    height: 50px;
                }

            }
        }

        @media all and (max-width: 1280px) {
            .contDec {
                padding: 0px 20px;
            }


        }

        @media all and (max-width: 1024px) {
            padding: 40px 30px;
            display: block;

            .contDec {
                width: 100%;

                &:nth-child(2) {
                    border-top: 1px solid rgba(255, 255, 255, 0.1);
                    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                    border-left: none;
                    border-right: none;
                    width: 100%;
                    margin: 30px 0px;
                    padding-top: 20px;
                }

                .mailDesc {
                    margin-bottom: 10px;
                }

                a {
                    font-size: 16px;
                }
            }
        }

        @media all and (max-width: 575px) {
            padding: 40px 4px;

            .contDec {
                .icon-1 {
                    width: 35px;
                    height: 35px;
                    padding: 6px;
                }
            }
        }

    }
}


.footerSec {
    border-top: 1px solid rgba(242, 242, 242, 0.6);
    padding: 30px 0px;
    text-align: right;
    margin-top: 0px;

    a {
        text-decoration: none;
        color: #6A6A6A !important;

        &:hover {
            color: #fff !important;
        }

        &:nth-child(1) {
            margin-right: 20px;
        }
    }

}


#scrolldiv {
    background-color: red;
    width: 500px;
    height: 100px;
    overflow-y: auto;
    padding: 10px;
    margin: auto;

    @media all and (max-width: 780px){
        padding: 2px;
    }
}

#scrolldiv-content {
    background-color: green;
    width: 100%;
    height: 1000px;
}