// Pankaj's CSS

//header css //
header{
    position: fixed;
    top:0;
    width: 100%;
    //height:147px;
    z-index: 100;
    display: block;
    background:#212121;
    @media (max-width: 920px){
    	
    	padding: 0px;
    }
    input[type="checkbox"]:checked ~{ 
        .menu-items{
    		@media (max-width: 920px){
		        transform: translateX(0);
		    }
		    @media (max-width: 575px){
		        transform: translateX(0);
		    }
		}
		.hamburger-lines{
			.line1{
				@media (max-width: 920px){
				 	transform: rotate(45deg);
				}
			}
			.line2{
				@media (max-width: 920px){
				 	transform: scaleY(0);
				}
			} 
			.line3{
				@media (max-width: 920px){
				 	transform: rotate(-45deg);
				}
			}  
		}
	}
		
    a{
	    color: rgba(242, 242, 242, 0.8);
	    text-decoration: none;
	    transition: color 0.3s ease-in-out;
	    
	    &.is-active {
            position: relative;
            color: #fff;
            transition: all 0.35s ease;
            &:before {
		        position: absolute;
		        content: "";
		        left: 0;
		        bottom: 0;
		        width: 100%;
		        height: 2px;
		        border: none;
		        outline: none;
		        background: #fff;
		    }
            }
	    &:hover{
		    color: rgba(242, 242, 242, 0.8);
		}
	}

    

	.header-container{
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    padding: 60px 0px;
	    @media (max-width: 1600px){padding: 40px 0px;}
	    @media (max-width: 920px){
	    	display: block;
	        position: relative;
	       }
		    input[type="checkbox"], .hamburger-lines{ display: none;
		    @media (max-width: 920px){
			    display: block;
			    }
		    }

	    input[type="checkbox"]{
		    @media (max-width: 920px){
		    position: absolute;
	        display: block;
	        height: 32px;
	        width: 30px;
	        top: 20px;
	        right: 0px;
	        z-index: 5;
	        opacity: 0;
	        cursor: pointer;
	        }
    	}
    	&:checked ~ {
			.logo{
				@media (max-width: 500px){
			        display: none;
			        }
		    }
		}
    	.hamburger-lines{
    	@media (max-width: 920px){
	    	display: block;
	        height: 28px;
	        width: 35px;
	        position: absolute;
	        top: 20px;
	        right: 0px;
	        z-index: 2;
	        display: flex;
	        flex-direction: column;
	        justify-content: space-between;
	    	}
	    	.line{
	    	@media (max-width: 920px){
	    		display: block;
		        height: 4px;
		        width: 100%;
		        border-radius: 4px;
		        background: #F2F2F2;
			    }
	    	}
	    	.line1{
	    	@media (max-width: 920px){
		        transform-origin: 0% 0%;
		        transition: transform 0.3s ease-in-out;
		    	}
		    }
		    .line2{
	    	@media (max-width: 920px){
		        transition: transform 0.2s ease-in-out;
		    	}
		    }
		    .line3{
	    	@media (max-width: 920px){
		        transform-origin: 0% 100%;
        		transition: transform 0.3s ease-in-out;
		    	}
		    }
    	}
    	.logo{
		    @media (max-width: 920px){
		    	position: absolute;
		        top: 10px;
		        left: 0px; }
		        img{
		        @media (max-width: 575px){
		        	width:60%
		        }
		        }
			}
	    
	}
	
	.menu-items{
	    display: flex;
	    @media (max-width: 920px){
	    	position: absolute;
        	right: 0;
		    padding-top: 100px;
	        background: transparent;
	        height: 100vh;
	        width: 300px;
	        transform: translate(150%);
	        display: flex;
	        flex-direction: column;
	        //margin-left: -40px;
	        //padding-left: 40px;
	        transition: transform 0.5s ease-in-out;
	        overflow: scroll;
	        }
	    li{
	    	list-style: none;
		    margin-left: 24px;
		    @media (max-width: 920px){
		    	margin-bottom: 28px;
	        	}
			.contact{
				border: 1px solid rgba(242, 242, 242, 0.2);
				border-radius: 60px;
		    	padding:5px 10px;
			}
			
		}
	}
}

//header css  end//
.fullpage-wrapper{margin-top:120px;}
//banner css
.section{
	margin-bottom:60px;
	h2{margin-bottom:40px;}
}
.bannerSec{
	h1{
	//margin:50px 0px;
	&:hover{background:-webkit-linear-gradient(330deg, #F2F2F2 42.19%, #A2DFF2 73.22%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		}
		}
	p{
	color:rgba(255, 255, 255, 0.9);
	margin-bottom:25px;
	line-height: 125%;
	}
}

//testimonials css
.testimonialsSec{
	.testimonialsSlider{
		.slick-slide {
			margin: 0 26px;
		}
		.slick-list {
			margin: 0 -26px;
		}
		.slick-prev, .slick-next{
			top: 100%;
			height:0;
		}
		
		.slick-prev{
			left: 950px;
			@media (max-width: 1950px){left: 625px;}
			@media (max-width: 1450px){left: 525px;}
			@media (max-width: 1050px){left: 400px;}
			@media (max-width: 920px){left: 300px;}
			@media (max-width: 575px){left: 125px;}
			&:before{
			font-size: 38px;
			}
		}
		.slick-next{
			right: 950px;
			@media (max-width: 1950px){right: 625px;}
			@media (max-width: 1450px){right: 525px;}
			@media (max-width: 1050px){right: 400px;}
			@media (max-width: 920px){right: 300px;}
			@media (max-width: 575px){right: 125px;}
			&:before{
			font-size: 38px;
			}
		}
	.testimonials{
		display:flex;
		background: #252525;
		border-radius: 10px;
		padding:70px 140px;
		@media (max-width: 1450px){
			padding:60px 50px;
		}
		@media (max-width: 920px){
			display:block;
			padding:25px 22px;
		}
		.profile{
			@media (max-width: 920px){
				display:flex;
				text-align: center;
    			align-items: center;
    			border-bottom:1px solid rgba(255,255,255,0.1);
    			padding-bottom: 20px;
    		}
    		img{
    			margin-bottom: 20px;
    			@media (max-width: 1400px){width:150px;}
    			@media (max-width: 920px){width:80px;}
    		}
    		.profileInfo{
    			@media (max-width: 920px){padding: 0 15px;}
    			h4{margin-bottom:10px;}
    		}
    	}
		.description{
			padding:0px 0px 0px 60px;
			position:relative;
			@media (max-width: 920px){padding: 20px 0px 0px 0px;}
			p{}
				img{position:absolute; top:-40px; opacity: 0.4;
				@media (max-width: 1450px){
					top:-25px;
				}
				@media (max-width: 920px){
					top:10px;
				}
				}
			}
		}
		}
	}











