.legalHeader {
    position: sticky !important;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    //height:147px;
    z-index: 100;
    display: block;
    background-color: #fff;


    @media (max-width: 920px) {
        padding: 0px;
        border-bottom: 1px solid #6A6A6A;
    }

    #sidebarContainer {
        display: none;

        @media (max-width:920px) {
            display: block;
        }

        .main {
            margin: 0 auto;
            display: block;
            height: 100%;
            margin-top: 60px;
        }

        #sideMenu {
            height: 100%;
            position: fixed;
            right: 0;
            top: 0;
            width: 260px;
            border-radius: 5px 0px 0px 5px;
            transform: translate(150%);
            transition: transform 0.5s ease-in-out;
            overflow: scroll;
            z-index: 1;
            background-color: lightgrey;

            .sideMenuInner {
                margin: 0;
                padding-top: 100px;
                padding-left: 20px;




                li {
                    list-style: none;
                    padding: 15px 0px;
                    cursor: pointer;

                    .dropdown {
                        position: relative;
                        display: inline-block;

                        .drop {
                            color: #000;
                            border-radius: 6px;
                            position: relative;
                            display: inline-block;
                        }

                        >.dropdown-menu {
                            width: 1rem * 15;
                            list-style: none;
                            margin: 0;
                            margin-top: 8px;
                            padding: 0px 0px 0px 15px;
                            position: unset !important;
                            float: left;
                            max-height: 0;
                            overflow: hidden;
                            transition: all .55s linear;
                            background-color: #fff;


                            &.open {
                                max-height: 300px;
                                height: auto;
                                transition: all .25s linear;
                                overflow-y: scroll;
                                scrollbar-width: auto;
                                scrollbar-color: #000;


                                /* Chrome, Edge, and Safari */
                                &::-webkit-scrollbar {
                                    width: 6px;
                                }



                                &::-webkit-scrollbar-track {
                                    background: gray;
                                }

                                &::-webkit-scrollbar-thumb {
                                    background-color: #000;
                                    border-radius: 15px;
                                    border: 6px solid #000;
                                }
                            }

                            >li>a {
                                display: block;
                                color: #555;
                                text-align: left;
                                transition: all .25s linear;

                                &:hover {

                                    color: #fff;
                                }
                            }
                        }
                    }

                    .down-caret {
                        width: 12px;
                        height: 8px;
                        background-image: url('../images/down-arrow.svg');
                        background-repeat: no-repeat;
                        display: inline-block;
                        margin-left: 3px;
                        top: 1px;
                        position: relative;
                        transition: all .25s ease;
                        background-size: 9px;
                    }

                    .open-caret {
                        transform: rotate(180deg);

                    }

                    span {
                        display: block;
                        font-size: 14px;
                        color: rgba(255, 255, 255, 0.50);
                    }

                    a {
                        color: #212121;
                        cursor: pointer;
                        text-decoration: none;
                        font-size: 16px;

                        &.active {
                            position: relative;
                            color: #212121 !important;
                            transition: all 0.35s ease;
                            text-decoration: none;

                            &:after {
                                position: absolute;
                                content: "";
                                left: 0;
                                bottom: -4px;
                                width: 100%;
                                height: 2px;
                                border: none;
                                outline: none;
                                background: #fff;
                            }
                        }
                    }
                }

            }

            #sidenav-overlay body::before {
                position: fixed;
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                background: #000;
                cursor: pointer;
                z-index: 1;
            }
        }

        input[type=checkbox] {
            transition: all 0.3s;
            box-sizing: border-box;
            display: none;

            &:checked~#sideMenu {
                transform: translateX(0);
            }
        }

        .sideIconToggle {
            transition: all 0.3s;
            box-sizing: border-box;
            cursor: pointer;
            position: absolute;
            z-index: 99;
            height: 100%;
            width: 100%;
            top: 22px;
            right: 0px;
            height: 24px;
            width: 24px;

            .spinner {
                transition: all 0.3s;
                box-sizing: border-box;
                position: absolute;
                height: 3px;
                width: 100%;
                background: #F2F2F2;
                border-radius: 4px;
            }

            .horizontal {
                transition: all 0.3s;
                box-sizing: border-box;
                position: relative;
                float: left;
                margin-top: 4px;
            }

            .diagonal.part-1 {
                position: relative;
                transition: all 0.3s;
                box-sizing: border-box;
                float: left;
            }

            .diagonal.part-2 {
                transition: all 0.3s;
                box-sizing: border-box;
                position: relative;
                float: left;
                margin-top: 4px;
            }
        }

        input[type=checkbox]:checked~.sideIconToggle> {
            .horizontal {
                transition: all 0.3s;
                box-sizing: border-box;
                opacity: 0;
            }

            .diagonal.part-1 {
                transition: all 0.3s;
                box-sizing: border-box;
                transform: rotate(135deg);
                margin-top: 8px;
            }

            .diagonal.part-2 {
                transition: all 0.3s;
                box-sizing: border-box;
                transform: rotate(-135deg);
                margin-top: -10px;
            }
        }

    }

    .menu-items {

        .dropdown {
            position: relative;
            display: inline-block;




            .drop {
                background-color: #fff;
                color: #000;

                border-radius: 6px;
                position: relative;
                display: inline-block;
            }

            >.sector {
                &.open {
                    overflow-y: scroll;
                    scrollbar-width: auto;
                    scrollbar-color: #000;


                    /* Chrome, Edge, and Safari */
                    &::-webkit-scrollbar {
                        width: 6px;
                    }



                    &::-webkit-scrollbar-track {
                        background: gray;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: #000;
                        border-radius: 15px;
                        border: 6px solid #000;
                    }
                }
            }

            >.dropdown-menu {
                width: 164px;
                list-style: none;
                position: absolute;
                float: left;
                max-height: 0;
                overflow: hidden;
                transition: all .35s linear;
                border: 1px solid transparent;


                &.open {
                    max-height: 160px;
                    height: auto;
                    padding: 10px 0px;
                    transition: all .35s linear;
                    border: 1px solid #F1F1F1;
                    border-radius: 10px;
                    background: #FAFAFA;
                    overflow-y: scroll;



                }

                li {
                    margin-left: 0px !important;
                }

                >li>a {
                    padding: 7px 0px 7px 18px;
                    display: block;
                    color: #555;
                    text-align: left;
                    transition: all .25s linear;

                    &:hover {
                        background-color: #fff;
                        color: #000;
                    }
                }
            }
        }

        .down-caret {
            width: 12px;
            height: 8px;
            background-image: url('../images/down-arrow.svg');
            background-repeat: no-repeat;
            display: inline-block;
            margin-left: 3px;
            top: 1px;
            position: relative;
            transition: all .25s ease;
            background-size: 9px;
        }

        .open-caret {
            transform: rotate(180deg);

        }




        a {
            color: #212121;
            text-decoration: none;
            transition: color 0.3s ease-in-out;

            @media (max-width: 920px) {
                font-size: 16px;
                color: #6A6A6A;
            }

            &.is-active {
                position: relative;
                color: #212121 !important;
                transition: all 0.35s ease;




                &:after {
                    position: absolute;
                    content: "";
                    left: 0;
                    bottom: -4px;
                    width: 100%;
                    height: 2px;
                    border-bottom: 1px solid #212121;
                    outline: none;
                    background: #fff;
                }
            }
        }
    }

    .menu-link {
        margin: 18px 0px;



    }




    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 60px;

        @media (max-width: 1600px) {
            padding-top: 40px;
        }

        @media (max-width: 1400px) {
            padding-top: 30px;
        }

        @media (max-width: 920px) {
            display: block;
            position: relative;
        }

        @media (max-width: 770px) {
            padding-top: 45px;
            padding-bottom: 25px;
        }

        input[type="checkbox"],
        .hamburger-lines {
            display: none;

            @media (max-width: 920px) {
                display: block;
            }
        }

        input[type="checkbox"] {
            @media (max-width: 920px) {
                position: absolute;
                display: block;
                height: 32px;
                width: 30px;
                top: 20px;
                right: 0px;
                z-index: 5;
                opacity: 0;
                cursor: pointer;
            }

            @media (max-width: 770px) {
                height: 24px;
                width: 24px;
            }
        }

        &:checked~ {
            .logo {
                @media (max-width: 500px) {
                    display: none;
                }
            }
        }

        .hamburger-lines {
            @media (max-width: 920px) {
                display: block;
                height: 28px;
                width: 35px;
                position: absolute;
                top: 20px;
                right: 0px;
                z-index: 2;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            @media (max-width: 770px) {
                height: 24px;
                width: 30px;
            }

            .line {
                @media (max-width: 920px) {
                    display: block;
                    height: 4px;
                    width: 100%;
                    border-radius: 4px;
                    background: #F2F2F2;
                }
            }

            .line1 {
                @media (max-width: 920px) {
                    transform-origin: 0% 0%;
                    transition: transform 0.3s ease-in-out;
                }
            }

            .line2 {
                @media (max-width: 920px) {
                    transition: transform 0.2s ease-in-out;
                }
            }

            .line3 {
                @media (max-width: 920px) {
                    transform-origin: 0% 100%;
                    transition: transform 0.3s ease-in-out;
                }
            }
        }

        .logo {
            @media (max-width: 920px) {
                position: absolute;
                top: 15px;
                left: 0px;
            }

            img {
                @media (max-width:1400px) {
                    width: 325px;
                }

                @media (max-width:1400px) {
                    width: 300px;
                }

                @media (max-width: 770px) {
                    width: 200px;
                }

                @media (max-width: 575px) {
                    width: 170px;
                }
            }
        }

    }

    .menu-items {
        display: flex;
        align-items: center;

        @media (max-width: 920px) {
            position: absolute;
            right: -30px;
            top: 0;
            padding-top: 100px;
            background: #212121;
            border-radius: 5px 0px 0px 5px;
            height: 100vh;
            width: 300px;
            transform: translate(150%);
            display: flex;
            flex-direction: column;
            //margin-left: -40px;
            //padding-left: 40px;
            transition: transform 0.5s ease-in-out;
            overflow: scroll;
        }

        @media (max-width: 920px) {
            width: 255px;
        }

        li {
            list-style: none;
            margin-left: 35px;

            @media (max-width: 1400px) {
                margin-left: 30px;
            }

            @media (max-width: 1050px) {
                margin-left: 20px;
            }

            @media (max-width: 920px) {
                margin-bottom: 28px;
            }

            &:last-child a {
                &.is-active {
                    &:after {
                        background: transparent;
                    }
                }
            }

            .contact {
                padding: 10px 20px;
                text-decoration: none;
                border: 1px solid rgba(33, 33, 33, 0.2);
                border-radius: 60px;
                background-color: #212121;
                color: #fff !important;


                &:before {
                    background: transparent;
                    border: none;
                }


            }

        }
    }
}

.progress-container {
    position: fixed;
    right: 30px;
    top: 50%;
    width: 1px;
    height: 100px;
    //background: #6A6A6A;
    border-radius: 2px;
    margin: auto;
    border: 1px solid rgba(33, 33, 33, 0.5);

    @media (max-width:770px) {
        display: none !important;
    }

    .progress-bar {
        position: relative;
        width: 1px;
        background: #000;
        border-radius: 2px;


        &:before {
            position: absolute;
            content: "";
            right: 0;
            bottom: 0px;
            left: -6px;
            width: 12px;
            height: 12px;
            //height: 1%;
            background: #000;
            border-radius: 50%;
        }

        &::after {
            position: absolute;
            content: "SCROLL";
            right: 0;
            left: -10px;
            top: -20px;
            padding-bottom: 10px !important;
            transform: rotate(270deg);
            transform-origin: left top 0;
        }

    }
}

.progress-container-mobile .progress-bar-mobile {
    position: fixed;
    height: 3px;
    background: #000;
    z-index: 999;
    left: 0;


    @media all and (min-width: 770px) {
        display: none !important;
    }
}

.subSectors {
    position: relative;
    margin: 150px 0px;

    .subSectors-heading {
        margin-bottom: 30px;
    }

    .subSectors-content {
        width: 80%;
        margin-left: 15.60px;

        li {
            margin-bottom: 30px;
            line-height: 125%;
            text-transform: capitalize;
            font-family: 'Poppins' !important;
        }

    }

    .subSectors-Cta {
        margin-top: 40px;
        display: inline-block;


        a {
            text-decoration: none;
            background-color: #212121;
            color: white;
            border: 1px solid #212121;
            border-radius: 60px;
            padding: 12px 30px;
            transition: 0.2s all ease-in-out;
            font-weight: 300;

            img {
                opacity: 0;
                width: 0;
            }

            &:visited,
            &:active,
            &:focus {
                text-decoration: none;

            }

            &:hover {
                font-weight: 500;
                border: 1px solid #212121;

                img {
                    opacity: 1;
                    width: auto;
                    vertical-align: middle;
                    margin-left: 5px;
                }
            }

        }

    }

    @media all and (max-width : 2000px) {
        .subSectors-content {
            width: 80%;
            margin-left: 20px;
        }
    }


    @media all and (max-width : 1800px) {
        .subSectors-content {
            width: 80%;
            margin-left: 18.5px;
        }
    }

    @media all and (max-width : 1650px) {
        .subSectors-content {
            width: 80%;
            margin-left: 18.5px;
        }

    }

    @media all and (max-width : 1600px) {
        .subSectors-content {
            width: 80%;
            margin-left: 16.5px;
        }

    }

    @media all and (max-width : 1460px) {
        .subSectors-content {
            width: 80%;
        }

    }

    @media all and (max-width : 1280px) {
        .subSectors-content {
            width: 80%;
        }

    }

    @media all and (max-width : 1050px) {
        .subSectors-content {
            width: 90%;
        }

    }

    @media all and (max-width : 680px) {
        .subSectors-content {
            width: 100%;
        }

        .subSectors-Cta {
            margin-top: 20px;
        }

    }

}

footer {
    position: relative;
    bottom: 0;
    background-color: #252525;

    li {
        list-style: none;
    }

    .footerSec {
        padding: 80px 0px 0px 0px;
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid rgba(242, 242, 242, 0.6);

        .footerSub {
            border-right: 1px solid rgba(255, 255, 255, 0.1);
            padding: 0px 54px 80px 54px;

            h4 {
                margin-bottom: 50px;
            }

            ul li {
                margin-bottom: 15px;

                &:nth-last-child(1) {
                    margin-bottom: 0px;
                }
            }

            &:nth-child(1) {
                width: 19%;
                padding-left: 0px;
                display: flex;
                flex-flow: column;
                justify-content: space-between;

                a {
                    display: block;
                }
            }

            &:nth-child(2) {
                width: 25%;
            }

            &:nth-child(3) {
                width: 44%;
            }

            &:nth-child(4) {
                width: 12%;
                border-right: none;
                padding-right: 0px;
            }

            a {
                text-decoration: none;
            }

            .subSector {


                .sectorftSub {
                    width: 100%;

                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;

                        li {
                            width: 30%;
                        }
                    }
                }

            }

            .socialmediaIcons {
                ul {
                    display: flex;
                    justify-content: space-between;

                    li {
                        margin-bottom: 0px !important;

                        img {
                            height: 45px;
                            width: 45px;
                        }
                    }
                }
            }


            .quickLinksft ul li {
                margin-bottom: 0px !important;
            }
        }

        .socialmediaIcons-btm {
            display: none !important;
            width: 0;
        }
    }


    .footerLinks {
        display: flex;
        justify-content: space-between;
        padding: 25px 0px;

        .linksFt a {
            text-decoration: none;

            &:nth-child(1) {
                margin-right: 50px;
            }
        }

        .copyRight {
            display: flex;
            align-items: center;

            img {
                margin-right: 10px;
            }
        }

        @media all and (max-width: 1024px) {
            display: block;

            .copyRight {
                margin-top: 20px;
            }
        }
    }


    @media all and (max-width: 1800px) {
        .footerSec {
            .footerSub {
                padding: 0px 40px 80px 40px;
            }
        }
    }

    @media all and (max-width: 1650px) {
        .footerSec {
            padding: 60px 0px 0px 0px;

            .footerSub {
                padding: 0px 30px 60px 30px;

                h4 {
                    margin-bottom: 25px;
                }

                &:nth-child(1) {
                    .footerLogo {
                        img {
                            width: 239px;
                        }
                    }
                }

                &:nth-child(2) {
                    width: 25%;
                }

                &:nth-child(3) {
                    width: 43%;
                }

                .socialmediaIcons {
                    ul {
                        li {
                            img {
                                height: 35px;
                                width: 35px;
                            }
                        }
                    }
                }
            }
        }
    }

    @media all and (max-width: 1450px) {
        .footerSec {
            .footerSub {
                padding: 0px 40px 40px 40px;

                ul li {
                    margin-bottom: 20px;
                }

                &:nth-child(1) {
                    .footerLogo {
                        img {
                            width: 200px;
                        }
                    }
                }
            }
        }
    }

    @media all and (max-width: 1280px) {
        .footerSec {
            padding: 40px 0px 0px 0px;

            .footerSub {
                padding: 0px 25px 30px 25px;
            }
        }
    }

    @media all and (max-width: 1090px) {
        .footerSec {
            .footerSub {
                padding: 0px 20px 30px 20px;
            }
        }
    }

    @media all and (max-width: 1024px) {
        .footerSec {
            .footerSub {
                &:nth-child(1) {
                    width: 22%;
                }

                &:nth-child(2) {
                    width: 25%;
                }

                &:nth-child(3) {
                    width: 40%;
                }

                &:nth-child(4) {
                    width: 12%;
                }

                .subSector {
                    .sectorftSub {
                        ul {
                            li {
                                width: 48%;
                            }
                        }
                    }

                }

            }
        }
    }

    @media all and (max-width: 900px) {
        .footerSec {
            display: block;
            padding: 30px 0px 0px 0px;

            .footerSub {
                padding: 0px 0px 30px 0px;
                border-right: none;

                ul li {
                    width: 48%;
                }

                &:nth-child(1) {
                    width: 100%;

                    .footerLogo {
                        border-bottom: 1px solid rgba(242, 242, 242, 0.6);
                        padding-bottom: 30px;

                        img {
                            width: 120px;
                        }
                    }
                }

                &:nth-child(2) {
                    width: 100%;

                    ul {
                        display: flex;
                        flex-flow: wrap;
                        justify-content: space-between;

                    }
                }

                &:nth-child(3) {
                    padding: 0px 0px 10px 0px;
                    width: 100%;
                }

                &:nth-child(4) {
                    width: 100%;

                    ul {
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;

                        .quickLinksft ul li {
                            width: 100% !important;
                        }
                    }
                }

                .socialmediaIcons {
                    display: none;
                }
            }

            .socialmediaIcons-btm {
                display: block !important;
                width: auto;
                margin-bottom: 40px;

                ul {
                    display: flex;

                    li {
                        margin-right: 30px;

                        &:nth-child(4) {
                            margin-right: 0px;
                        }

                        img {
                            width: 35px;
                            height: 35px;
                        }
                    }
                }
            }
        }
    }

    @media all and (max-width:575px) {
        .footerLinks {
            .copyRight {
                align-items: flex-start;
            }
        }
    }
}